.avatar-group {
  @apply flex overflow-hidden;

  :where(.avatar) {
    @apply overflow-hidden rounded-full;
    border: 4px solid var(--color-base-100);
  }
}

.avatar {
  @apply relative inline-flex align-middle;

  & > div {
    @apply block aspect-square overflow-hidden;
  }

  img {
    @apply h-full w-full object-cover;
  }
}

.avatar-placeholder {
  & > div {
    @apply flex items-center justify-center;
  }
}

.avatar-online {
  &:before {
    content: "";
    @apply bg-success absolute z-1 block rounded-full;
    outline: 2px solid var(--color-base-100);
    width: 15%;
    height: 15%;
    top: 7%;
    right: 7%;
  }
}

.avatar-offline {
  &:before {
    content: "";
    @apply bg-base-300 absolute z-1 block rounded-full;
    outline: 2px solid var(--color-base-100);
    width: 15%;
    height: 15%;
    top: 7%;
    right: 7%;
  }
}
