.embed-container.svelte-19d3ctr{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}.embed-container.svelte-19d3ctr iframe:where(.svelte-19d3ctr){position:absolute;top:0;left:0;width:100%;height:100%}
