.badge {
  &-xs {
    @apply h-3 text-xs leading-3;
    padding-left: 0.313rem;
    padding-right: 0.313rem;
  }
  &-sm {
    @apply h-4 text-xs leading-4;
    padding-left: 0.438rem;
    padding-right: 0.438rem;
  }
  &-md {
    @apply h-5 text-sm leading-5;
    padding-left: 0.563rem;
    padding-right: 0.563rem;
  }
  &-lg {
    @apply h-6 text-base leading-6;
    padding-left: 0.688rem;
    padding-right: 0.688rem;
  }
}
