.input {
  &-md {
    @apply h-12 px-4 text-sm leading-loose;
  }
  &-lg {
    @apply h-16 px-6 text-lg leading-loose;
  }
  &-sm {
    @apply h-8 px-3 text-sm leading-8;
  }
  &-xs {
    @apply h-6 px-2 text-xs leading-relaxed;
  }
}
