.steps{
  &-horizontal{
    grid-auto-columns: 1fr;
    @apply inline-grid grid-flow-col overflow-hidden overflow-x-auto;
    [class~="step"] {
      @apply grid grid-cols-1 grid-rows-2 place-items-center text-center;
    }
  }
  &-vertical{
    grid-auto-rows: 1fr;
    @apply grid-flow-row;
    [class~="step"] {
      @apply grid grid-cols-2 grid-rows-1;
    }
  }
}