.tabs-md :where(.tab) {
  @apply h-8 text-sm leading-loose;
  --tab-padding: 1rem;
}
.tabs-lg :where(.tab) {
  @apply h-12 text-lg leading-loose;
  --tab-padding: 1.25rem;
}
.tabs-sm :where(.tab) {
  @apply h-6 text-sm leading-3;
  --tab-padding: 0.75rem;
}
.tabs-xs :where(.tab) {
  @apply h-5 text-xs leading-3;
  --tab-padding: 0.5rem;
}
