.tab {
  &-md {
    @apply h-8 text-sm leading-loose;
    --tab-padding: 1rem;
  }
  &-lg {
    @apply h-12 text-lg leading-loose;
    --tab-padding: 1.25rem;
  }
  &-sm {
    @apply h-6 text-sm leading-3;
    --tab-padding: 0.75rem;
  }
  &-xs {
    @apply h-5 text-xs leading-3;
    --tab-padding: 0.5rem;
  }
}
