.toggle {
  &-xs {
    --handleoffset: 0.5rem;
    @apply h-4 w-6;
  }
  &-sm {
    --handleoffset: 0.75rem;
    @apply h-5 w-8;
  }
  &-md {
    --handleoffset: 1.5rem;
    @apply h-6 w-12;
  }
  &-lg {
    --handleoffset: 2rem;
    @apply h-8 w-16;
  }
}
