---
import "tailwindcss/tailwind.css"
---

<html class="bg-blue-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <slot />
  </body>
</html>
