.toast {
  @apply fixed start-auto end-4 top-auto bottom-4 flex flex-col gap-2 bg-transparent;
  translate: var(--toast-x, 0) var(--toast-y, 0);
  width: max-content;
  max-width: calc(100vw - 2rem);

  & > * {
    animation: toast 0.25s ease-out;
  }

  &:where(.toast-start) {
    @apply start-4 end-auto;
    --toast-x: 0;
  }

  &:where(.toast-center) {
    @apply start-1/2 end-1/2;
    --toast-x: -50%;
  }

  &:where(.toast-end) {
    @apply start-auto end-4;
    --toast-x: 0;
  }

  &:where(.toast-bottom) {
    @apply top-auto bottom-4;
    --toast-y: 0;
  }

  &:where(.toast-middle) {
    @apply top-1/2 bottom-auto;
    --toast-y: -50%;
  }

  &:where(.toast-top) {
    @apply top-4 bottom-auto;
    --toast-y: 0;
  }
}
@keyframes toast {
  0% {
    scale: 0.9;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
