@theme {
  --color-base-100: var(--color-base-100);
  --color-base-200: var(--color-base-200);
  --color-base-300: var(--color-base-300);
  --color-base-content: var(--color-base-content);
  --color-primary: var(--color-primary);
  --color-primary-content: var(--color-primary-content);
  --color-secondary: var(--color-secondary);
  --color-secondary-content: var(--color-secondary-content);
  --color-accent: var(--color-accent);
  --color-accent-content: var(--color-accent-content);
  --color-neutral: var(--color-neutral);
  --color-neutral-content: var(--color-neutral-content);
  --color-info: var(--color-info);
  --color-info-content: var(--color-info-content);
  --color-success: var(--color-success);
  --color-success-content: var(--color-success-content);
  --color-warning: var(--color-warning);
  --color-warning-content: var(--color-warning-content);
  --color-error: var(--color-error);
  --color-error-content: var(--color-error-content);
  --radius-badge: var(--radius-badge);
  --radius-btn: var(--radius-btn);
  --radius-box: var(--radius-box);
  --spacing-button-border: var(--spacing-button-border);
  --spacing-tab-border: var(--spacing-tab-border);
}
