color-scheme: light;
--color-base-100: oklch(98.5104% 0 0);
--color-base-200: oklch(91.6146% 0 0);
--color-base-300: oklch(84.7189% 0 0);
--color-base-content: oklch(19.7021% 0 0);
--color-primary: oklch(71.9% 0.357 330.759573);
--color-primary-content: oklch(14.38% 0.0714 330.759573);
--color-secondary: oklch(73.37% 0.224 48.250878);
--color-secondary-content: oklch(14.674% 0.0448 48.250878);
--color-accent: oklch(92.78% 0.264 122.962951);
--color-accent-content: oklch(18.556% 0.0528 122.962951);
--color-neutral: oklch(21.31% 0.128 278.68);
--color-neutral-content: oklch(84.262% 0.0256 278.68);
--color-info: oklch(60.72% 0.227 252.05);
--color-info-content: oklch(12.144% 0.0454 252.05);
--color-success: oklch(85.72% 0.266 158.53);
--color-success-content: oklch(17.144% 0.0532 158.53);
--color-warning: oklch(91.01% 0.212 100.5);
--color-warning-content: oklch(18.202% 0.0424 100.5);
--color-error: oklch(64.84% 0.293 29.349188);
--color-error-content: oklch(12.968% 0.0586 29.349188);
--radius-badge: 1rem;
--radius-btn: 1rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
