color-scheme: light;
--color-base-100: oklch(95.8147% 0 0);
--color-base-200: oklch(89.1077% 0 0);
--color-base-300: oklch(82.4006% 0 0);
--color-base-content: oklch(19.1629% 0 0);
--color-primary: oklch(40.7232% 0.16116 17.530175);
--color-primary-content: oklch(88.1446% 0.032232 17.530175);
--color-secondary: oklch(61.6763% 0.169105 23.865865);
--color-secondary-content: oklch(12.3353% 0.033821 23.865865);
--color-accent: oklch(73.4253% 0.094994 60.729616);
--color-accent-content: oklch(14.6851% 0.018999 60.729616);
--color-neutral: oklch(54.3672% 0.037374 51.902819);
--color-neutral-content: oklch(90.8734% 0.007475 51.902819);
--color-info: oklch(69.2245% 0.097979 207.284192);
--color-info-content: oklch(13.8449% 0.019596 207.284192);
--color-success: oklch(60.9951% 0.080159 174.616213);
--color-success-content: oklch(12.199% 0.016032 174.616213);
--color-warning: oklch(70.0817% 0.164909 56.844303);
--color-warning-content: oklch(14.0163% 0.032982 56.844303);
--color-error: oklch(53.07% 0.241 24.16);
--color-error-content: oklch(90.614% 0.0482 24.16);
--radius-badge: 2rem;
--radius-btn: 0.5rem;
--radius-box: 1rem;
--radius-tab: 0.5rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
