color-scheme: dark;
--color-base-100: oklch(0% 0 0);
--color-base-200: oklch(19.1251% 0 0);
--color-base-300: oklch(26.8618% 0 0);
--color-base-content: oklch(87.6096% 0 0);
--color-primary: oklch(33.6799% 0 0);
--color-primary-content: oklch(86.736% 0 0);
--color-secondary: oklch(33.6799% 0 0);
--color-secondary-content: oklch(86.736% 0 0);
--color-accent: oklch(33.6799% 0 0);
--color-accent-content: oklch(86.736% 0 0);
--color-neutral: oklch(33.6799% 0 0);
--color-neutral-content: oklch(86.736% 0 0);
--color-info: oklch(45.2014% 0.313214 264.052021);
--color-info-content: oklch(89.0403% 0.062643 264.052021);
--color-success: oklch(51.9752% 0.176858 142.495339);
--color-success-content: oklch(90.395% 0.035372 142.495339);
--color-warning: oklch(96.7983% 0.211006 109.769232);
--color-warning-content: oklch(19.3597% 0.042201 109.769232);
--color-error: oklch(62.7955% 0.257683 29.233885);
--color-error-content: oklch(12.5591% 0.051537 29.233885);
--radius-badge: 0;
--radius-btn: 0;
--radius-box: 0;
--radius-tab: 0.5rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
