color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(93% 0 0);
--color-base-300: oklch(86% 0 0);
--color-base-content: oklch(20% 0 0);
--color-primary: oklch(89.51% 0.2132 96.61);
--color-primary-content: oklch(38.92% 0.046 96.61);
--color-secondary: oklch(80.39% 0.194 70.76);
--color-secondary-content: oklch(39.38% 0.068 70.76);
--color-accent: oklch(81.27% 0.157 56.52);
--color-accent-content: oklch(16.254% 0.0314 56.52);
--color-neutral: oklch(12.75% 0.075 281.99);
--color-neutral-content: oklch(82.55% 0.015 281.99);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-selector: 1rem;
--radius-field: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
