color-scheme: dark;
--color-base-100: oklch(24.3535% 0 0);
--color-base-200: oklch(22.6487% 0 0);
--color-base-300: oklch(20.944% 0 0);
--color-base-content: oklch(84.8707% 0 0);
--color-primary: oklch(41.7036% 0.099057 251.473931);
--color-primary-content: oklch(88.3407% 0.019811 251.473931);
--color-secondary: oklch(64.0924% 0.027405 229.389418);
--color-secondary-content: oklch(12.8185% 0.005481 229.389418);
--color-accent: oklch(67.271% 0.167726 35.791525);
--color-accent-content: oklch(13.4542% 0.033545 35.791525);
--color-neutral: oklch(27.441% 0.01325 253.041249);
--color-neutral-content: oklch(85.4882% 0.00265 253.041249);
--color-info: oklch(62.6163% 0.143511 240.033697);
--color-info-content: oklch(12.5233% 0.028702 240.033697);
--color-success: oklch(70.2268% 0.094594 156.59611);
--color-success-content: oklch(14.0454% 0.018919 156.59611);
--color-warning: oklch(77.4824% 0.115704 81.519177);
--color-warning-content: oklch(15.4965% 0.023141 81.519177);
--color-error: oklch(51.6105% 0.14678 29.674507);
--color-error-content: oklch(90.3221% 0.029356 29.674507);
--radius-badge: 0.25rem;
--radius-btn: 0.25rem;
--radius-box: 0.25rem;
--radius-tab: 0.5rem;
--spacing-button-border: 1px;
