color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(93% 0 0);
--color-base-300: oklch(86% 0 0);
--color-base-content: oklch(20% 0 0);
--color-primary: oklch(71.7722% 0.133298 239.443325);
--color-primary-content: oklch(14.3544% 0.02666 239.443325);
--color-secondary: oklch(64.4766% 0.202758 359.339283);
--color-secondary-content: oklch(12.8953% 0.040552 359.339283);
--color-accent: oklch(94.2289% 0.189741 105.306968);
--color-accent-content: oklch(18.8458% 0.037948 105.306968);
--color-neutral: oklch(21.7787% 0 0);
--color-neutral-content: oklch(84.3557% 0 0);
--color-info: oklch(68.4759% 0.094499 217.284104);
--color-info-content: oklch(13.6952% 0.0189 217.284104);
--color-success: oklch(46.949% 0.162524 321.406278);
--color-success-content: oklch(89.3898% 0.032505 321.406278);
--color-warning: oklch(71.2364% 0.159843 52.023412);
--color-warning-content: oklch(14.2473% 0.031969 52.023412);
--color-error: oklch(62.0133% 0.208385 28.717543);
--color-error-content: oklch(12.4027% 0.041677 28.717543);
--radius-field: 0.5rem;
--radius-box: 1rem;
--radius-selector: 0.5rem;
--spacing-button-border: 1px;
