color-scheme: dark;
--color-base-100: oklch(21.6758% 0.023072 329.708637);
--color-base-200: oklch(20.1585% 0.021457 329.708637);
--color-base-300: oklch(18.6412% 0.019842 329.708637);
--color-base-content: oklch(72.3547% 0.092794 79.129387);
--color-primary: oklch(71.9967% 0.123825 62.756393);
--color-primary-content: oklch(14.3993% 0.024765 62.756393);
--color-secondary: oklch(34.465% 0.029849 199.19444);
--color-secondary-content: oklch(86.893% 0.00597 199.19444);
--color-accent: oklch(42.6213% 0.074405 224.389184);
--color-accent-content: oklch(88.5243% 0.014881 224.389184);
--color-neutral: oklch(16.5109% 0.015743 326.261446);
--color-neutral-content: oklch(83.3022% 0.003149 326.261446);
--color-info: oklch(79.4902% 0.063869 184.558367);
--color-info-content: oklch(15.898% 0.012774 184.558367);
--color-success: oklch(74.7224% 0.072456 131.116276);
--color-success-content: oklch(14.9445% 0.014491 131.116276);
--color-warning: oklch(88.1503% 0.140812 87.722413);
--color-warning-content: oklch(17.6301% 0.028162 87.722413);
--color-error: oklch(77.3187% 0.12822 31.871922);
--color-error-content: oklch(15.4637% 0.025644 31.871922);
--radius-badge: 2rem;
--radius-btn: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
