color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(93% 0 0);
--color-base-300: oklch(86% 0 0);
--color-base-content: oklch(22.389% 0.031 278.072);
--color-primary: oklch(60.39% 0.228 269.1);
--color-primary-content: oklch(12.078% 0.045 269.1);
--color-secondary: oklch(65.369% 0.054 256.688);
--color-secondary-content: oklch(13.073% 0.01 256.688);
--color-accent: oklch(76.966% 0.113 163.578);
--color-accent-content: oklch(15.393% 0.022 163.578);
--color-neutral: oklch(22.389% 0.031 278.072);
--color-neutral-content: oklch(95.879% 0.008 247.915);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-selector: 0.25rem;
--radius-field: 0.25rem;
--radius-box: 0.25rem;
--spacing-button-border: 1px;
