color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(93% 0 0);
--color-base-300: oklch(86% 0 0);
--color-base-content: oklch(22.3899% 0.031305 278.07229);
--color-primary: oklch(60.39% 0.228 269.1);
--color-primary-content: oklch(12.078% 0.0456 269.1);
--color-secondary: oklch(65.3694% 0.054756 256.688055);
--color-secondary-content: oklch(13.0739% 0.010951 256.688055);
--color-accent: oklch(76.9669% 0.113994 163.57888);
--color-accent-content: oklch(15.3934% 0.022799 163.57888);
--color-neutral: oklch(22.3899% 0.031305 278.07229);
--color-neutral-content: oklch(95.8796% 0.008588 247.915135);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-badge: 0.25rem;
--radius-btn: 0.25rem;
--radius-box: 0.25rem;
--radius-tab: 0.5rem;
--spacing-button-border: 1px;
