color-scheme: light;
--color-base-100: oklch(97.788% 0.004 56.375);
--color-base-200: oklch(93.982% 0.007 61.449);
--color-base-300: oklch(91.586% 0.006 53.44);
--color-base-content: oklch(23.574% 0.066 313.189);
--color-primary: oklch(76.172% 0.089 200.026);
--color-primary-content: oklch(15.234% 0.017 200.026);
--color-secondary: oklch(78.935% 0.101 356.299);
--color-secondary-content: oklch(15.787% 0.02 356.299);
--color-accent: oklch(79.381% 0.146 78.618);
--color-accent-content: oklch(15.876% 0.029 78.618);
--color-neutral: oklch(23.574% 0.066 313.189);
--color-neutral-content: oklch(84.714% 0.013 313.189);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-selector: 1rem;
--radius-field: 2rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
