color-scheme: light;
--color-base-100: oklch(94.51% 0.179 104.32);
--color-base-200: oklch(87.8943% 0.16647 104.32);
--color-base-300: oklch(81.2786% 0.15394 104.32);
--color-base-content: oklch(18.902% 0.0358 104.32);
--color-primary: oklch(74.22% 0.209 6.35);
--color-primary-content: oklch(14.844% 0.0418 6.35);
--color-secondary: oklch(83.33% 0.184 204.72);
--color-secondary-content: oklch(16.666% 0.0368 204.72);
--color-accent: oklch(71.86% 0.2176 310.43);
--color-accent-content: oklch(14.372% 0.04352 310.43);
--color-neutral: oklch(23.04% 0.065 269.31);
--color-neutral-content: oklch(94.51% 0.179 104.32);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.150 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-badge: 0;
--radius-btn: 0;
--radius-box: 0;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
