color-scheme: dark;
--color-base-100: oklch(28.8229% 0.022103 277.508664);
--color-base-200: oklch(26.8053% 0.020556 277.508664);
--color-base-300: oklch(24.7877% 0.019009 277.508664);
--color-base-content: oklch(97.7477% 0.007913 106.545019);
--color-primary: oklch(75.4611% 0.18307 346.812432);
--color-primary-content: oklch(15.0922% 0.036614 346.812432);
--color-secondary: oklch(74.2023% 0.148546 301.883095);
--color-secondary-content: oklch(14.8405% 0.029709 301.883095);
--color-accent: oklch(83.3927% 0.124132 66.558491);
--color-accent-content: oklch(16.6785% 0.024826 66.558491);
--color-neutral: oklch(39.4456% 0.032576 275.524078);
--color-neutral-content: oklch(87.8891% 0.006515 275.524078);
--color-info: oklch(88.263% 0.09338 212.846491);
--color-info-content: oklch(17.6526% 0.018676 212.846491);
--color-success: oklch(87.0995% 0.219516 148.024881);
--color-success-content: oklch(17.4199% 0.043903 148.024881);
--color-warning: oklch(95.5338% 0.134246 112.757109);
--color-warning-content: oklch(19.1068% 0.026849 112.757109);
--color-error: oklch(68.2204% 0.206328 24.430965);
--color-error-content: oklch(13.6441% 0.041266 24.430965);
--radius-field: 0.5rem;
--radius-box: 1rem;
--radius-selector: 0.5rem;
--spacing-button-border: 1px;
