color-scheme: dark;
--color-base-100: oklch(18.8409% 0.00829 17.911578);
--color-base-200: oklch(17.522% 0.007709 17.911578);
--color-base-300: oklch(16.2032% 0.007129 17.911578);
--color-base-content: oklch(83.7682% 0.001658 17.911578);
--color-primary: oklch(68.6283% 0.185567 148.958922);
--color-primary-content: oklch(0% 0 0);
--color-secondary: oklch(69.7764% 0.135385 168.327128);
--color-secondary-content: oklch(13.9553% 0.027077 168.327128);
--color-accent: oklch(70.6285% 0.119451 185.713193);
--color-accent-content: oklch(14.1257% 0.02389 185.713193);
--color-neutral: oklch(30.6985% 0.039032 171.364646);
--color-neutral-content: oklch(86.1397% 0.007806 171.364646);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.150 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-badge: 1.9rem;
--radius-btn: 1.9rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
