color-scheme: light;
--color-base-100: oklch(92.9519% 0.002163 17.197414);
--color-base-200: oklch(86.4453% 0.002011 17.197414);
--color-base-300: oklch(79.9386% 0.00186 17.197414);
--color-base-content: oklch(16.9617% 0.001664 17.32068);
--color-primary: oklch(62.45% 0.278 3.83636);
--color-primary-content: oklch(100% 0 0);
--color-secondary: oklch(48.4952% 0.110985 355.095988);
--color-secondary-content: oklch(89.699% 0.022197 355.095988);
--color-accent: oklch(56.2735% 0.054297 154.390187);
--color-accent-content: oklch(11.2547% 0.010859 154.390187);
--color-neutral: oklch(24.1559% 0.049362 89.070594);
--color-neutral-content: oklch(92.9519% 0.002163 17.197414);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.150 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-badge: 1.9rem;
--radius-btn: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
