color-scheme: dark;
--color-base-100: oklch(24.7759% 0 0);
--color-base-200: oklch(23.0416% 0 0);
--color-base-300: oklch(21.3072% 0 0);
--color-base-content: oklch(84.9552% 0 0);
--color-primary: oklch(77.48% 0.204 60.62);
--color-primary-content: oklch(19.6935% 0.004671 196.779412);
--color-secondary: oklch(45.98% 0.248 305.03);
--color-secondary-content: oklch(89.196% 0.0496 305.03);
--color-accent: oklch(64.8% 0.223 136.073479);
--color-accent-content: oklch(0% 0 0);
--color-neutral: oklch(24.371% 0.046608 65.681484);
--color-neutral-content: oklch(84.8742% 0.009322 65.681484);
--color-info: oklch(54.615% 0.215208 262.880917);
--color-info-content: oklch(90.923% 0.043042 262.880917);
--color-success: oklch(62.7052% 0.169912 149.213788);
--color-success-content: oklch(12.541% 0.033982 149.213788);
--color-warning: oklch(66.584% 0.157422 58.31834);
--color-warning-content: oklch(13.3168% 0.031484 58.31834);
--color-error: oklch(65.72% 0.199 27.33);
--color-error-content: oklch(13.144% 0.0398 27.33);
--radius-selector: 1rem;
--radius-field: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
