color-scheme: dark;
--color-base-100: oklch(14.0765% 0.004386 285.822869);
--color-base-200: oklch(20.2191% 0.004211 308.22937);
--color-base-300: oklch(29.8961% 0.003818 308.318612);
--color-base-content: oklch(75.6879% 0.123666 76.890484);
--color-primary: oklch(100% 0 0);
--color-primary-content: oklch(20% 0 0);
--color-secondary: oklch(27.5815% 0.064106 261.069149);
--color-secondary-content: oklch(85.5163% 0.012821 261.069149);
--color-accent: oklch(36.6744% 0.051741 338.82597);
--color-accent-content: oklch(87.3349% 0.010348 338.82597);
--color-neutral: oklch(24.27% 0.057015 59.825019);
--color-neutral-content: oklch(93.2033% 0.089631 90.861683);
--color-info: oklch(79.0612% 0.121778 237.133883);
--color-info-content: oklch(15.8122% 0.024356 237.133883);
--color-success: oklch(78.1197% 0.192894 132.154381);
--color-success-content: oklch(15.6239% 0.038579 132.154381);
--color-warning: oklch(86.1274% 0.136524 102.89115);
--color-warning-content: oklch(17.2255% 0.027305 102.89115);
--color-error: oklch(71.7531% 0.176357 22.568916);
--color-error-content: oklch(14.3506% 0.035271 22.568916);
--radius-badge: 2rem;
--radius-btn: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
