color-scheme: dark;
--color-base-100: oklch(20.7682% 0.039824 265.754874);
--color-base-200: oklch(19.3144% 0.037037 265.754874);
--color-base-300: oklch(17.8606% 0.034249 265.754874);
--color-base-content: oklch(84.1536% 0.007965 265.754874);
--color-primary: oklch(75.3513% 0.138989 232.66148);
--color-primary-content: oklch(15.0703% 0.027798 232.66148);
--color-secondary: oklch(68.0113% 0.158303 276.934902);
--color-secondary-content: oklch(13.6023% 0.031661 276.934902);
--color-accent: oklch(72.3603% 0.176218 350.048739);
--color-accent-content: oklch(14.4721% 0.035244 350.048739);
--color-neutral: oklch(27.9495% 0.036848 260.030984);
--color-neutral-content: oklch(85.5899% 0.00737 260.030984);
--color-info: oklch(68.4553% 0.148062 237.25135);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(78.452% 0.132529 181.911977);
--color-success-content: oklch(15.6904% 0.026506 181.911977);
--color-warning: oklch(83.2428% 0.139558 82.95003);
--color-warning-content: oklch(16.6486% 0.027912 82.95003);
--color-error: oklch(71.7858% 0.170255 13.11834);
--color-error-content: oklch(14.3572% 0.034051 13.11834);
--radius-badge: 1.9rem;
--radius-btn: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
