color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(98.462% 0.001 247.838);
--color-base-300: oklch(87.168% 0.009 258.338);
--color-base-content: oklch(20% 0 0);
--color-primary: oklch(83.082% 0.034 316.873);
--color-primary-content: oklch(16.616% 0.006 316.873);
--color-secondary: oklch(88.076% 0.049 8.688);
--color-secondary-content: oklch(17.615% 0.009 8.688);
--color-accent: oklch(89.209% 0.06 170.923);
--color-accent-content: oklch(17.841% 0.012 170.923);
--color-neutral: oklch(71.34% 0.073 228.183);
--color-neutral-content: oklch(14.268% 0.014 228.183);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-selector: 1rem;
--radius-field: 2rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
