color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(98.4625% 0.001706 247.838921);
--color-base-300: oklch(87.1681% 0.009339 258.338227);
--color-base-content: oklch(20% 0 0);
--color-primary: oklch(83.0828% 0.034896 316.8737);
--color-primary-content: oklch(16.6166% 0.006979 316.8737);
--color-secondary: oklch(88.0763% 0.049197 8.688364);
--color-secondary-content: oklch(17.6153% 0.009839 8.688364);
--color-accent: oklch(89.2096% 0.06028 170.923263);
--color-accent-content: oklch(17.8419% 0.012056 170.923263);
--color-neutral: oklch(71.3406% 0.07351 228.183906);
--color-neutral-content: oklch(14.2681% 0.014702 228.183906);
--color-info: oklch(72.06% 0.191 231.6);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(64.8% 0.15 160);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(84.71% 0.199 83.87);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(71.76% 0.221 22.18);
--color-error-content: oklch(0% 0 0);
--radius-badge: 2rem;
--radius-btn: 2rem;
--radius-box: 1rem;
--radius-tab: 0.5rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
