color-scheme: light;
--color-base-100: oklch(91.637% 0.034 90.515);
--color-base-200: oklch(88.272% 0.049 91.774);
--color-base-300: oklch(84.133% 0.065 90.856);
--color-base-content: oklch(26.51% 0.006 0.522);
--color-primary: oklch(76.866% 0.104 22.664);
--color-primary-content: oklch(26.51% 0.006 0.522);
--color-secondary: oklch(80.741% 0.052 159.094);
--color-secondary-content: oklch(26.51% 0.006 0.522);
--color-accent: oklch(70.391% 0.125 52.953);
--color-accent-content: oklch(26.51% 0.006 0.522);
--color-neutral: oklch(28.418% 0.009 355.534);
--color-neutral-content: oklch(92.56% 0.025 89.217);
--color-info: oklch(54.615% 0.215 262.88);
--color-info-content: oklch(90.923% 0.043 262.88);
--color-success: oklch(62.705% 0.169 149.213);
--color-success-content: oklch(12.541% 0.033 149.213);
--color-warning: oklch(66.584% 0.157 58.318);
--color-warning-content: oklch(13.316% 0.031 58.318);
--color-error: oklch(65.72% 0.199 27.33);
--color-error-content: oklch(13.144% 0.039 27.33);
--radius-selector: 0.5rem;
--radius-field: 0.5rem;
--radius-box: 0.5rem;
--spacing-button-border: 1px;
