color-scheme: dark;
--color-base-100: oklch(22% 0.019 237.69);
--color-base-200: oklch(20% 0.019 237.69);
--color-base-300: oklch(18% 0.019 237.69);
--color-base-content: oklch(77.3835% 0.043586 245.096534);
--color-primary: oklch(74.7039% 0.158278 39.94703);
--color-primary-content: oklch(14.9408% 0.031656 39.94703);
--color-secondary: oklch(72.5375% 0.177654 2.72034);
--color-secondary-content: oklch(14.5075% 0.035531 2.72034);
--color-accent: oklch(71.2947% 0.166678 299.844533);
--color-accent-content: oklch(14.2589% 0.033336 299.844533);
--color-neutral: oklch(26% 0.019 237.69);
--color-neutral-content: oklch(70% 0.019 237.69);
--color-info: oklch(85.5596% 0.085271 206.015183);
--color-info-content: oklch(17.1119% 0.017054 206.015183);
--color-success: oklch(85.5609% 0.08586 144.77874);
--color-success-content: oklch(17.1122% 0.017172 144.77874);
--color-warning: oklch(85.5695% 0.084806 74.427797);
--color-warning-content: oklch(17.1139% 0.016961 74.427797);
--color-error: oklch(85.5116% 0.07889 16.886379);
--color-error-content: oklch(17.1023% 0.015778 16.886379);
--radius-selector: 1rem;
--radius-field: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
