color-scheme: dark;
--color-base-100: oklch(21.821% 0.081 287.835);
--color-base-200: oklch(20.294% 0.076 287.835);
--color-base-300: oklch(18.766% 0.07 287.835);
--color-base-content: oklch(97.936% 0.008 301.358);
--color-primary: oklch(72.21% 0.159 342.009);
--color-primary-content: oklch(14.442% 0.031 342.009);
--color-secondary: oklch(78.271% 0.118 227.382);
--color-secondary-content: oklch(15.654% 0.023 227.382);
--color-accent: oklch(88.04% 0.206 93.72);
--color-accent-content: oklch(17.608% 0.041 93.72);
--color-neutral: oklch(25.555% 0.103 286.507);
--color-neutral-content: oklch(97.936% 0.008 301.358);
--color-info: oklch(76.519% 0.122 231.831);
--color-info-content: oklch(23.501% 0.096 290.329);
--color-success: oklch(86.057% 0.115 178.624);
--color-success-content: oklch(23.501% 0.096 290.329);
--color-warning: oklch(85.531% 0.122 93.722);
--color-warning-content: oklch(23.501% 0.096 290.329);
--color-error: oklch(73.7% 0.121 32.639);
--color-error-content: oklch(23.501% 0.096 290.329);
--radius-selector: 1rem;
--radius-field: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
