color-scheme: dark;
--color-base-100: oklch(21.8216% 0.081948 287.835609);
--color-base-200: oklch(20.2941% 0.076211 287.835609);
--color-base-300: oklch(18.7665% 0.070475 287.835609);
--color-base-content: oklch(97.9365% 0.00819 301.358346);
--color-primary: oklch(72.2105% 0.159514 342.009383);
--color-primary-content: oklch(14.4421% 0.031903 342.009383);
--color-secondary: oklch(78.2714% 0.118101 227.382405);
--color-secondary-content: oklch(15.6543% 0.02362 227.382405);
--color-accent: oklch(88.04% 0.206 93.72);
--color-accent-content: oklch(17.608% 0.0412 93.72);
--color-neutral: oklch(25.5554% 0.103537 286.507967);
--color-neutral-content: oklch(97.9365% 0.00819 301.358346);
--color-info: oklch(76.5197% 0.12273 231.831603);
--color-info-content: oklch(23.5017% 0.096418 290.329844);
--color-success: oklch(86.0572% 0.115038 178.624677);
--color-success-content: oklch(23.5017% 0.096418 290.329844);
--color-warning: oklch(85.531% 0.122117 93.722227);
--color-warning-content: oklch(23.5017% 0.096418 290.329844);
--color-error: oklch(73.7005% 0.121339 32.639257);
--color-error-content: oklch(23.5017% 0.096418 290.329844);
--radius-badge: 1.9rem;
--radius-btn: 0.5rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
