color-scheme: light;
--color-base-100: oklch(94.684% 0.026 337.062);
--color-base-200: oklch(88.056% 0.024 337.062);
--color-base-300: oklch(81.428% 0.022 337.062);
--color-base-content: oklch(37.308% 0.081 4.606);
--color-primary: oklch(68.619% 0.153 15.066);
--color-primary-content: oklch(13.723% 0.03 15.066);
--color-secondary: oklch(71.971% 0.146 293.189);
--color-secondary-content: oklch(14.394% 0.029 293.189);
--color-accent: oklch(71.268% 0.074 197.828);
--color-accent-content: oklch(14.253% 0.014 197.828);
--color-neutral: oklch(54.605% 0.143 358.004);
--color-neutral-content: oklch(90.27% 0.037 336.955);
--color-info: oklch(54.615% 0.215 262.88);
--color-info-content: oklch(90.923% 0.043 262.88);
--color-success: oklch(62.705% 0.169 149.213);
--color-success-content: oklch(12.541% 0.033 149.213);
--color-warning: oklch(66.584% 0.157 58.318);
--color-warning-content: oklch(13.316% 0.031 58.318);
--color-error: oklch(73.07% 0.207 27.33);
--color-error-content: oklch(14.614% 0.041 27.33);
--radius-selector: 1rem;
--radius-field: 2rem;
--radius-box: 1rem;
--spacing-button-border: 1px;
