color-scheme: light;
--color-base-100: oklch(94.6846% 0.026703 337.06289);
--color-base-200: oklch(88.0567% 0.024834 337.06289);
--color-base-300: oklch(81.4288% 0.022964 337.06289);
--color-base-content: oklch(37.3085% 0.081131 4.606426);
--color-primary: oklch(68.6197% 0.153774 15.066527);
--color-primary-content: oklch(13.7239% 0.030755 15.066527);
--color-secondary: oklch(71.971% 0.14629 293.189609);
--color-secondary-content: oklch(14.3942% 0.029258 293.189609);
--color-accent: oklch(71.2685% 0.074804 197.828857);
--color-accent-content: oklch(14.2537% 0.014961 197.828857);
--color-neutral: oklch(54.6053% 0.143342 358.004839);
--color-neutral-content: oklch(90.2701% 0.037202 336.955191);
--color-info: oklch(54.615% 0.215208 262.880917);
--color-info-content: oklch(90.923% 0.043042 262.880917);
--color-success: oklch(62.7052% 0.169912 149.213788);
--color-success-content: oklch(12.541% 0.033982 149.213788);
--color-warning: oklch(66.584% 0.157422 58.31834);
--color-warning-content: oklch(13.3168% 0.031484 58.31834);
--color-error: oklch(73.07% 0.207 27.33);
--color-error-content: oklch(14.614% 0.0414 27.33);
--radius-field: 2rem;
--radius-box: 1rem;
--radius-selector: 0.5rem;
--spacing-button-border: 1px;
