color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(94.911% 0 0);
--color-base-300: oklch(89.754% 0 0);
--color-base-content: oklch(20% 0 0);
--color-primary: oklch(78.26% 0 0);
--color-primary-content: oklch(15.652% 0 0);
--color-secondary: oklch(78.26% 0 0);
--color-secondary-content: oklch(15.652% 0 0);
--color-accent: oklch(78.26% 0 0);
--color-accent-content: oklch(15.652% 0 0);
--color-neutral: oklch(94.007% 0 0);
--color-neutral-content: oklch(18.801% 0 0);
--color-info: oklch(45.201% 0.313 264.052);
--color-info-content: oklch(89.04% 0.062 264.052);
--color-success: oklch(51.975% 0.176 142.495);
--color-success-content: oklch(90.395% 0.035 142.495);
--color-warning: oklch(70.813% 0.099 108.702);
--color-warning-content: oklch(14.162% 0.019 108.702);
--color-error: oklch(62.795% 0.257 29.233);
--color-error-content: oklch(12.559% 0.051 29.233);
--radius-selector: 0rem;
--radius-field: 0.25rem;
--radius-box: 0.25rem;
--spacing-button-border: 1px;
