color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(94.9119% 0 0);
--color-base-300: oklch(89.7547% 0 0);
--color-base-content: oklch(20% 0 0);
--color-primary: oklch(78.2604% 0 0);
--color-primary-content: oklch(15.6521% 0 0);
--color-secondary: oklch(78.2604% 0 0);
--color-secondary-content: oklch(15.6521% 0 0);
--color-accent: oklch(78.2604% 0 0);
--color-accent-content: oklch(15.6521% 0 0);
--color-neutral: oklch(94.007% 0 0);
--color-neutral-content: oklch(18.8014% 0 0);
--color-info: oklch(45.2014% 0.313214 264.052021);
--color-info-content: oklch(89.0403% 0.062643 264.052021);
--color-success: oklch(51.9752% 0.176858 142.495339);
--color-success-content: oklch(90.395% 0.035372 142.495339);
--color-warning: oklch(70.8131% 0.099969 108.702381);
--color-warning-content: oklch(14.1626% 0.019994 108.702381);
--color-error: oklch(62.7955% 0.257683 29.233885);
--color-error-content: oklch(12.5591% 0.051537 29.233885);
--radius-badge: 0.2rem;
--radius-btn: 0.2rem;
--radius-box: 0.2rem;
--spacing-button-border: 1px;
--spacing-tab-border: 1px;
