.accordion {
  @apply flex flex-col;
  &-item{
    @apply overflow-hidden flex flex-col;
    .accordion-title{
      @apply transition-all ease-in-out duration-300 cursor-pointer mb-0 pb-4 pt-4 px-4 relative;
    }
    .accordion-body {
      max-height: 0px;
      @apply transition-all ease-in-out duration-300 pb-0 px-4;
    }
    input {
      @apply appearance-none opacity-0 w-0 h-0 absolute;
      &:checked, &:focus-visible {
        & ~ .accordion-body {
          @apply max-h-screen;
        }
      }
    }
  }
  &-arrow{
    .accordion-item{
      input {
        &:checked, &:focus-visible {
          & + .accordion-title {
            &:after{
              transform: rotate(225deg);
            }
          }
        }
      }
      .accordion-title{
        &:after{
          @apply transition-all ease-in-out duration-300 w-2 h-2 block absolute;
          top: 1.5rem;
          right: 1.5rem;
          content: '';
          transform-origin: 75% 75%;
          transform: rotate(45deg);
          box-shadow: 2px 2px;
        }
      }
    }
  }
  &-plus{
    .accordion-item{
      input {
        &:checked, &:focus-visible {
          & + .accordion-title {
            &:after{
              content: '−'
            }
          }
        }
      }
      .accordion-title{
        &:after{
          @apply w-6 h-6 absolute flex items-center justify-center;
          top: 1rem;
          right: 1rem;
          content: '+';
        }
      }
    }
  }
}
