.tabs {
  @apply flex flex-wrap;
}
.tab{
  @apply inline-flex flex-wrap items-center justify-center text-center cursor-pointer relative select-none;

  /* sizes */
  & {
    @apply leading-loose h-8 text-sm;
    --tab-padding: 1.5rem;
  }
  &-lg {
    @apply leading-loose h-12 text-lg;
    --tab-padding: 1.75rem;
  }
  &-sm {
    @apply leading-3 h-6 text-sm;
    --tab-padding: 1.25rem;
  }
  &-xs {
    @apply leading-3 h-5 text-xs;
    --tab-padding: 1rem;
  }

}