color-scheme: light;
--color-base-100: oklch(98% 0 0);
--color-base-200: oklch(95% 0 0);
--color-base-300: oklch(91% 0 0);
--color-base-content: oklch(0% 0 0);
--color-primary: oklch(71.9% 0.357 330.759);
--color-primary-content: oklch(14.38% 0.071 330.759);
--color-secondary: oklch(73.37% 0.224 48.25);
--color-secondary-content: oklch(14.674% 0.044 48.25);
--color-accent: oklch(92.78% 0.264 122.962);
--color-accent-content: oklch(18.556% 0.052 122.962);
--color-neutral: oklch(21.31% 0.128 278.68);
--color-neutral-content: oklch(84.262% 0.025 278.68);
--color-info: oklch(60.72% 0.227 252.05);
--color-info-content: oklch(12.144% 0.045 252.05);
--color-success: oklch(85.72% 0.266 158.53);
--color-success-content: oklch(17.144% 0.053 158.53);
--color-warning: oklch(91.01% 0.212 100.5);
--color-warning-content: oklch(18.202% 0.042 100.5);
--color-error: oklch(64.84% 0.293 29.349);
--color-error-content: oklch(12.968% 0.058 29.349);
--radius-selector: 1rem;
--radius-field: 1rem;
--radius-box: 1rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
