color-scheme: dark;
--color-base-100: oklch(24% 0.023 329.708);
--color-base-200: oklch(21% 0.021 329.708);
--color-base-300: oklch(16% 0.019 329.708);
--color-base-content: oklch(72.354% 0.092 79.129);
--color-primary: oklch(71.996% 0.123 62.756);
--color-primary-content: oklch(14.399% 0.024 62.756);
--color-secondary: oklch(34.465% 0.029 199.194);
--color-secondary-content: oklch(86.893% 0.005 199.194);
--color-accent: oklch(42.621% 0.074 224.389);
--color-accent-content: oklch(88.524% 0.014 224.389);
--color-neutral: oklch(16.51% 0.015 326.261);
--color-neutral-content: oklch(83.302% 0.003 326.261);
--color-info: oklch(79.49% 0.063 184.558);
--color-info-content: oklch(15.898% 0.012 184.558);
--color-success: oklch(74.722% 0.072 131.116);
--color-success-content: oklch(14.944% 0.014 131.116);
--color-warning: oklch(88.15% 0.14 87.722);
--color-warning-content: oklch(17.63% 0.028 87.722);
--color-error: oklch(77.318% 0.128 31.871);
--color-error-content: oklch(15.463% 0.025 31.871);
--radius-selector: 1rem;
--radius-field: 0.5rem;
--radius-box: 1rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 0;
--noise: 0;
