color-scheme: dark;
--color-base-100: oklch(29.12% 0.0633 270.86);
--color-base-200: oklch(26% 0.04 270.86);
--color-base-300: oklch(23.93% 0 0);
--color-base-content: oklch(92.49% 0 0);
--color-primary: oklch(67.47% 0.1725 259.61);
--color-primary-content: oklch(0% 0 0);
--color-secondary: oklch(67.28% 0.2147 24.22);
--color-secondary-content: oklch(0% 0 0);
--color-accent: oklch(86.03% 0.176 92.36);
--color-accent-content: oklch(0% 0 0);
--color-neutral: oklch(0% 0 0);
--color-neutral-content: oklch(100% 0 0);
--color-info: oklch(67.47% 0.1725 259.61);
--color-info-content: oklch(0% 0 0);
--color-success: oklch(79.76% 0.2044 153.08);
--color-success-content: oklch(0% 0 0);
--color-warning: oklch(86.03% 0.176 92.36);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(67.28% 0.2147 24.22);
--color-error-content: oklch(0% 0 0);
--radius-selector: 0.3125rem;
--radius-field: 0.3125rem;
--radius-box: 0.3125rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 2px;
--depth: 1;
--noise: 0;
