/* carbon */
#carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#carbonads {
  display: flex;
  max-width: 350px;
  color: var(--fallback-bc, oklch(var(--bc)));
  background-color: var(--fallback-b2, oklch(var(--b2)));
  z-index: 100;
  border-radius: 4px;
  overflow: hidden;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
}
#carbonads .carbon-text {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.3;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: var(--fallback-b3, oklch(var(--b3)));
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (min-width: 1280px) {
  .carbon-text {
    font-size: 12px;
    padding: 8px 10px 4px 10px;
  }
  .carbonads-responsive #carbonads {
    max-width: 130px;
  }
  .carbonads-responsive #carbonads .carbon-wrap {
    flex-direction: column;
  }
  .carbonads-responsive #carbonads .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0;
    border-top-left-radius: 3px;
  }
}

/* search */
.searchbox.searchbox [data-svelte-typeahead][data-svelte-typeahead] {
  background-color: transparent;
  width: 100%;
  max-width: 100%;
}
[data-svelte-search][data-svelte-search] label {
  display: none;
}
[data-svelte-search][data-svelte-search] input {
  background-color: transparent;
  color: inherit;
  border: 2px solid transparent;
  border-radius: var(--rounded-btn);
  padding-inline-start: 2.5em;
}
[data-svelte-search][data-svelte-search] input::placeholder {
  color: inherit;
}
[data-svelte-search][data-svelte-search] input:focus {
  outline: none;
  outline-offset: 0;
  border: 2px solid var(--fallback-bc, oklch(var(--bc) / 0.2));
  background-color: var(--fallback-b1, oklch(var(--b1)));
  color: var(--fallback-bc, oklch(var(--bc)));
}
[data-svelte-typeahead][data-svelte-typeahead].dropdown[aria-expanded="true"]
  .svelte-typeahead-list {
  transform: translateY(0.5em);
  background: var(--fallback-b1, oklch(var(--b1) / 0.99));
  border: 0 solid var(--fallback-bc, oklch(var(--bc) / 0.2));
  border-radius: var(--rounded-box);
  overflow: hidden;
  padding: 0.5rem;
  backdrop-filter: blur(1rem);
  margin-top: 0.5rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
[data-svelte-typeahead][data-svelte-typeahead] .svelte-typeahead-list .selected,
[data-svelte-typeahead][data-svelte-typeahead] .svelte-typeahead-list .selected:hover {
  background: var(--fallback-n, oklch(var(--n)));
  color: var(--fallback-nc, oklch(var(--nc)));
}
[data-svelte-typeahead][data-svelte-typeahead] .svelte-typeahead-list li {
  color: var(--fallback-bc, oklch(var(--bc)));
  border-radius: var(--rounded-btn);
}
[data-svelte-typeahead][data-svelte-typeahead] .svelte-typeahead-list li:hover {
  background: var(--fallback-b2, oklch(var(--b2)));
  color: var(--fallback-bc, oklch(var(--bc)));
}
[data-svelte-typeahead][data-svelte-typeahead] .svelte-typeahead-list li:not(:last-of-type) {
  border-bottom: none;
}

/* prose */
.prose code[class*="language-"],
.code-wrapper code[class*="language-"],
code[class*="language-"],
pre[class*="language-"] {
  background: unset;
  direction: ltr;
}
.prose pre[class*="language-"] {
  max-width: clamp(20rem, calc(100vw - 4rem), 80ch);
  background-color: var(--fallback-n, oklch(var(--n)));
  color: var(--fallback-nc, oklch(var(--nc)));
  border-radius: var(--rounded-box);
  ::selection {
    background-color: var(--fallback-nc, oklch(var(--nc)));
    color: var(--fallback-n, oklch(var(--n)));
  }
}
@media (min-width: 1024px) {
  .prose pre[class*="language-"] {
    max-width: clamp(20rem, calc(100vw - 20rem - 4rem), 80ch);
  }
}
@media (min-width: 1280px) {
  .prose pre[class*="language-"] {
    max-width: clamp(20rem, calc(100vw - 20rem - 4rem - 8rem), 80ch);
  }
}

/* changelog */
.changelog-body h1#changelog + p {
  display: none;
}
.changelog-body h2 {
  margin-top: 5rem;
}
.changelog-body h2 a {
  font-weight: 900;
}
.changelog-body img {
  @apply rounded-box border-base-content/10 border;
}
