.alert {
  @apply rounded-box text-base-content grid items-center gap-4 px-4 py-3;
  background-color: var(--alert-color, var(--color-base-200));
  justify-content: start;
  justify-items: start;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(auto, 1fr);
  text-align: start;
  border: var(--border) solid var(--color-base-200);
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-size: calc(var(--noise) * 1000px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.34' numOctaves='4' stitchTiles='stitch'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.2'%3E%3C/rect%3E%3C/svg%3E");
  box-shadow:
    0 3px 0 -2px oklch(100% 0 0 / calc(var(--depth) * 0.08)) inset,
    0 1px
      color-mix(
        in oklab,
        color-mix(in oklab, black 20%, var(--alert-color, var(--color-base-200)))
          calc(var(--depth) * 20%),
        transparent
      ),
    0 4px 3px -2px oklch(0% 0 0 / calc(var(--depth) * 0.08));
  &.alert-outline {
    @apply bg-transparent;
    color: var(--alert-color);
    box-shadow: none;
    background-image: none;
  }

  &.alert-dash {
    @apply bg-transparent;
    color: var(--alert-color);
    border-style: dashed;
    box-shadow: none;
    background-image: none;
  }

  &.alert-soft {
    color: var(--alert-color, var(--color-base-content));
    background: color-mix(
      in oklab,
      var(--alert-color, var(--color-base-content)) 8%,
      var(--color-base-100)
    );
    border-color: color-mix(
      in oklab,
      var(--alert-color, var(--color-base-content)) 10%,
      var(--color-base-100)
    );
    box-shadow: none;
    background-image: none;
  }
}

.alert-info {
  @apply text-info-content border-info;
  --alert-color: var(--color-info);
}

.alert-success {
  @apply text-success-content border-success;
  --alert-color: var(--color-success);
}

.alert-warning {
  @apply text-warning-content border-warning;
  --alert-color: var(--color-warning);
}

.alert-error {
  @apply text-error-content border-error;
  --alert-color: var(--color-error);
}

.alert-vertical {
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row;
  grid-template-columns: max-content;
  text-align: center;
}

.alert-horizontal {
  justify-content: start;
  justify-items: start;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(auto, 1fr);
  text-align: start;
}
