.avatar-group {
  @layer daisyui.l1.l2.l3 {
    @apply flex overflow-hidden;

    .avatar {
      @apply overflow-hidden rounded-full;
      border: 4px solid var(--color-base-100);
    }
  }
}

.avatar {
  @layer daisyui.l1.l2.l3 {
    @apply relative inline-flex align-middle;

    & > div {
      @apply block aspect-square overflow-hidden;
    }

    img {
      @apply h-full w-full object-cover;
    }
  }
}

.avatar-placeholder {
  @layer daisyui.l1.l2 {
    & > div {
      @apply flex items-center justify-center;
    }
  }
}

.avatar-online {
  @layer daisyui.l1.l2 {
    &:before {
      content: "";
      @apply bg-success absolute z-1 block rounded-full;
      outline: 2px solid var(--color-base-100);
      width: 15%;
      height: 15%;
      top: 7%;
      right: 7%;
    }
  }
}

.avatar-offline {
  @layer daisyui.l1.l2 {
    &:before {
      content: "";
      @apply bg-base-300 absolute z-1 block rounded-full;
      outline: 2px solid var(--color-base-100);
      width: 15%;
      height: 15%;
      top: 7%;
      right: 7%;
    }
  }
}
