.carousel {
  @apply inline-flex overflow-x-scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.carousel-vertical {
  @apply flex-col overflow-y-scroll;
  scroll-snap-type: y mandatory;
}

.carousel-horizontal {
  @apply flex-row overflow-x-scroll;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  @apply box-content flex flex-none;
  scroll-snap-align: start;
}

.carousel-start {
  .carousel-item {
    scroll-snap-align: start;
  }
}

.carousel-center {
  .carousel-item {
    scroll-snap-align: center;
  }
}

.carousel-end {
  .carousel-item {
    scroll-snap-align: end;
  }
}
