.countdown {
  @apply inline-flex;
  &.countdown {
    line-height: 1em;
  }

  & > * {
    @apply inline-block overflow-y-hidden relative invisible;
    height: 1em;
    --value-v: calc(mod(max(0, var(--value)), 100));
    --value-1: calc(round(to-zero, var(--value-v) / 10, 1));

    &:before,
    &:after {
      @apply absolute visible;
      content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A";
      white-space: pre;
      text-align: center;
      transition: all 1s cubic-bezier(1, 0, 0, 1);
    }

    &:before {
      top: calc(var(--value-1) * -1em);
      inset-inline-start: 0;
    }

    &:after {
      top: calc(var(--value-v) * -1em);
      inset-inline-end: 0;
    }
  }
}
