.hero {
  @layer daisyui.l1.l2.l3 {
    @apply grid w-full place-items-center bg-cover bg-center;

    & > * {
      @apply col-start-1 row-start-1;
    }
  }
}

.hero-overlay {
  @layer daisyui.l1.l2.l3 {
    @apply bg-neutral/50 col-start-1 row-start-1 h-full w-full;
  }
}

.hero-content {
  @layer daisyui.l1.l2.l3 {
    @apply isolate flex max-w-[80rem] items-center justify-center gap-4 p-4;
  }
}
