.hover-gallery {
  --items: 1;
  grid-template-columns: repeat(var(--items), 1fr);
  width: 100%;
  gap: 1px;
  overflow: hidden;
  &,
  &:is(figure) {
    display: inline-grid;
  }
  &:has(> :nth-child(3)) {
    --items: 2;
  }
  &:has(> :nth-child(4)) {
    --items: 3;
  }
  &:has(> :nth-child(5)) {
    --items: 4;
  }
  &:has(> :nth-child(6)) {
    --items: 5;
  }
  &:has(> :nth-child(7)) {
    --items: 6;
  }
  &:has(> :nth-child(8)) {
    --items: 7;
  }
  &:has(> :nth-child(9)) {
    --items: 8;
  }
  &:has(> :nth-child(10)) {
    --items: 9;
  }
  > * {
    opacity: 0;
    height: 100%;
    grid-row: 1;
    object-fit: cover;
    width: 100%;
    &:nth-child(1) {
      grid-column: 1 / -1;
      opacity: 1;
    }
    &:nth-child(2) {
      grid-column: 1;
    }
    &:nth-child(3) {
      grid-column: 2;
    }
    &:nth-child(4) {
      grid-column: 3;
    }
    &:nth-child(5) {
      grid-column: 4;
    }
    &:nth-child(6) {
      grid-column: 5;
    }
    &:nth-child(7) {
      grid-column: 6;
    }
    &:nth-child(8) {
      grid-column: 7;
    }
    &:nth-child(9) {
      grid-column: 8;
    }
    &:nth-child(10) {
      grid-column: 9;
    }
    &:nth-child(n + 11) {
      display: none;
    }
  }
  > *:hover {
    grid-column: 1 / -1;
    opacity: 1;
  }
  &:has(*:hover) {
    > :nth-child(1) {
      @apply hidden;
    }
  }
}
