.indicator {
  @apply relative inline-flex;
  width: max-content;

  :where(.indicator-item) {
    z-index: 1;
    @apply absolute whitespace-nowrap;
    top: var(--inidcator-t, 0);
    bottom: var(--inidcator-b, auto);
    left: var(--inidcator-s, auto);
    right: var(--inidcator-e, 0);
    translate: var(--inidcator-x, 50%) var(--indicator-y, -50%);
  }
}
.indicator-start {
  --inidcator-s: 0;
  --inidcator-e: auto;
  --inidcator-x: -50%;
}

.indicator-center {
  --inidcator-s: 50%;
  --inidcator-e: 50%;
  --inidcator-x: -50%;
  [dir="rtl"] & {
    --inidcator-x: 50%;
  }
}

.indicator-end {
  --inidcator-s: auto;
  --inidcator-e: 0;
  --inidcator-x: 50%;
}

.indicator-bottom {
  --inidcator-t: auto;
  --inidcator-b: 0;
  --indicator-y: 50%;
}

.indicator-middle {
  --inidcator-t: 50%;
  --inidcator-b: 50%;
  --indicator-y: -50%;
}

.indicator-top {
  --inidcator-t: 0;
  --inidcator-b: auto;
  --indicator-y: -50%;
}
