.input {
  @layer daisyui.l1.l2.l3 {
    @apply bg-base-100 relative inline-flex shrink appearance-none items-center gap-2 px-3 align-middle whitespace-nowrap;

    --size: calc(var(--size-field, 0.25rem) * var(--size-mul));
    --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);

    cursor: text;
    width: clamp(3rem, 20rem, 100%);
    height: var(--size);
    font-size: max(var(--font-size, 0rem), var(--font-size-min));
    touch-action: manipulation;
    border-start-start-radius: var(--join-ss, var(--radius-field));
    border-start-end-radius: var(--join-se, var(--radius-field));
    border-end-start-radius: var(--join-es, var(--radius-field));
    border-end-end-radius: var(--join-ee, var(--radius-field));
    border: var(--border) solid var(--input-color, #0000);
    box-shadow:
      0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000) inset,
      0 -1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset;

    input {
      @apply h-full w-full appearance-none bg-transparent;
      border: none;

      &::placeholder {
        /* color and opacity to work with safari */
        @apply text-base-content opacity-50;
      }

      &:focus,
      &:focus-within {
        @apply outline-hidden;
      }

      &::-webkit-calendar-picker-indicator {
        inset-inline-end: -0.15em;
      }

      &::-webkit-inner-spin-button {
        margin-inline-end: -0.15em;
      }
    }

    input&,
    input {
      @apply relative inline-flex;

      &[type="url"],
      &[type="email"] {
        direction: ltr;
      }

      &::-webkit-date-and-time-value {
        text-align: inherit;
      }

      &::-webkit-inner-spin-button {
        @apply -me-3;
        margin-block: calc(var(--spacing) * var(--spin-my));
      }

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        inset-inline-end: 0.75em;
        width: 1em;
        height: 1em;
        cursor: pointer;
      }

      &::-webkit-color-swatch-wrapper {
        @apply py-1;
      }
    }

    &:focus,
    &:focus-within {
      --input-color: var(--color-base-content);
      box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
      outline: 2px solid var(--input-color);
      outline-offset: 2px;
      isolation: isolate;
    }

    /* increase font size in iOS so the page won't zoom */
    @media (pointer: coarse) {
      @supports (-webkit-touch-callout: none) {
        &:focus,
        &:focus-within {
          --font-size: 1rem;
        }
      }
    }

    &:has(> input[disabled]),
    &:is(:disabled, [disabled]),
    fieldset:disabled & {
      @apply border-base-200 bg-base-200 text-base-content/40 cursor-not-allowed;
      box-shadow: none;

      &::placeholder,
      ::placeholder {
        /* color and opacity to work with safari */
        @apply text-base-content opacity-20;
      }
    }

    &:has(> input[disabled]) > input[disabled] {
      @apply cursor-not-allowed;
    }
  }
}

.input-ghost {
  @layer daisyui.l1.l2 {
    @apply bg-transparent;
    box-shadow: none;
    border-color: #0000;

    &:focus,
    &:focus-within {
      @apply text-base-content bg-base-100;
      border-color: #0000;
      box-shadow: none;
    }
  }
}

.input-neutral {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-neutral);
    }
  }
}

.input-primary {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-primary);
    }
  }
}

.input-secondary {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-secondary);
    }
  }
}

.input-accent {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-accent);
    }
  }
}

.input-info {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-info);
    }
  }
}

.input-success {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-success);
    }
  }
}

.input-warning {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-warning);
    }
  }
}

.input-error {
  @layer daisyui.l1.l2 {
    &,
    &:focus,
    &:focus-within {
      --input-color: var(--color-error);
    }
  }
}

.input-xs {
  @layer daisyui.l1.l2 {
    --size-mul: 6;
    --font-size-min: 0.6875rem;
    --spin-my: -1;
  }
}

.input-sm {
  @layer daisyui.l1.l2 {
    --size-mul: 8;
    --font-size-min: 0.75rem;
    --spin-my: -2;
  }
}

.input,
.input-md {
  @layer daisyui.l1.l2 {
    --size-mul: 10;
    --font-size-min: 0.875rem;
    --spin-my: -3;
  }
}

.input-lg {
  @layer daisyui.l1.l2 {
    --size-mul: 12;
    --font-size-min: 1.125rem;
    --spin-my: -3;
  }
}

.input-xl {
  @layer daisyui.l1.l2 {
    --size-mul: 14;
    --font-size-min: 1.375rem;
    --spin-my: -4;
  }
}
