.range {
  appearance: none;
  -webkit-appearance: none;
  --range-shdw: currentColor;
  --range-thumb: var(--color-base-100);
  @apply rounded-selector w-full max-w-80 cursor-pointer overflow-hidden bg-transparent align-middle;
  border: none;
  --size: calc(var(--size-selector, 0.25rem) * 6);
  height: var(--size);
  &:focus {
    outline: none;
  }

  &:focus-visible {
    --focus-shadow: 0 0 0 6px var(--color-base-100) inset, 0 0 0 2rem var(--range-shdw) inset;
  }

  &::-webkit-slider-runnable-track {
    @apply rounded-selector w-full bg-current/10;
    height: calc(var(--size) * 0.5);
  }

  &::-webkit-slider-thumb {
    @apply rounded-selector relative;
    background-color: var(--range-thumb);
    height: var(--size);
    width: var(--size);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    top: 50%;
    color: var(--range-shdw);
    transform: translateY(-50%);
    --filler-offset: 0.6rem;
    --track-shdw: calc(-100rem - var(--filler-offset)) 0 0 100rem;
    box-shadow:
      0 0 0 3px var(--range-shdw) inset,
      var(--focus-shadow, 0 0),
      var(--track-shdw);
  }

  [dir="rtl"] &::-webkit-slider-thumb {
    --track-shdw: calc(100rem * 1 + var(--filler-offset)) 0 0 100rem;
  }

  &::-moz-range-track {
    @apply rounded-selector w-full bg-current/10;
    height: calc(var(--size) * 0.5);
  }

  &::-moz-range-thumb {
    @apply rounded-selector relative;
    background-color: var(--range-thumb);
    height: var(--size);
    width: var(--size);
    border: none;
    top: 50%;
    color: var(--range-shdw);
    --filler-offset: 0.5rem;
    box-shadow:
      0 0 0 3px var(--range-shdw) inset,
      var(--focus-shadow, 0 0),
      calc(-100rem - var(--filler-offset)) 0 0 100rem;
  }
}

.range-primary {
  @apply text-primary;
  --range-thumb: var(--color-primary-content);
}

.range-secondary {
  @apply text-secondary;
  --range-thumb: var(--color-secondary-content);
}

.range-accent {
  @apply text-accent;
  --range-thumb: var(--color-accent-content);
}

.range-success {
  @apply text-success;
  --range-thumb: var(--color-success-content);
}

.range-warning {
  @apply text-warning;
  --range-thumb: var(--color-warning-content);
}

.range-info {
  @apply text-info;
  --range-thumb: var(--color-info-content);
}

.range-error {
  @apply text-error;
  --range-thumb: var(--color-error-content);
}

.range-xs {
  --size: calc(var(--size-selector, 0.25rem) * 4);
  &::-webkit-slider-thumb {
    --filler-offset: 0.4rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 0.4rem;
  }
}

.range-sm {
  --size: calc(var(--size-selector, 0.25rem) * 5);
  &::-webkit-slider-thumb {
    --filler-offset: 0.5rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 0.5rem;
  }
}

.range-md {
  --size: calc(var(--size-selector, 0.25rem) * 6);
  &::-webkit-slider-thumb {
    --filler-offset: 0.6rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 0.6rem;
  }
}

.range-lg {
  --size: calc(var(--size-selector, 0.25rem) * 7);
  &::-webkit-slider-thumb {
    --filler-offset: 1rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 1rem;
  }
}

.range-xl {
  --size: calc(var(--size-selector, 0.25rem) * 8);
  &::-webkit-slider-thumb {
    --filler-offset: 1rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 1rem;
  }
}
