.rating {
  @layer daisyui.l1.l2.l3 {
    @apply relative inline-flex align-middle;

    --size: var(--size-selector, 0.25rem) * var(--rt-size-mul);

    input {
      @apply cursor-pointer appearance-none;
    }

    * {
      @apply bg-base-content rounded-none opacity-20;

      width: calc(var(--size) * var(--rt-size-w-mul));
      height: calc(var(--size));

      @media (prefers-reduced-motion: no-preference) {
        animation: rating 0.25s ease-out;
      }
    }

    .rating-hidden {
      @apply w-2 bg-transparent;
    }

    :checked,
    [aria-checked="true"],
    [aria-current="true"],
    :has(~ :checked, ~ [aria-checked="true"], ~ [aria-current="true"]) {
      @apply opacity-100;
    }

    :focus-visible {
      scale: 1.1;
      @media (prefers-reduced-motion: no-preference) {
        transition: scale 0.2s ease-out;
      }
    }

    :active:focus {
      animation: none;
      scale: 1.1;
    }
  }
}

.rating-half {
  @layer daisyui.l1.l2 {
    --rt-size-w-mul: 0.5;
  }
}

.rating,
.rating-full {
  @layer daisyui.l1.l2 {
    --rt-size-w-mul: 1;
  }
}

.rating-xs {
  @layer daisyui.l1.l2 {
    --rt-size-mul: 4;
  }
}

.rating-sm {
  @layer daisyui.l1.l2 {
    --rt-size-mul: 5;
  }
}

.rating,
.rating-md {
  @layer daisyui.l1.l2 {
    --rt-size-mul: 6;
  }
}

.rating-lg {
  @layer daisyui.l1.l2 {
    --rt-size-mul: 7;
  }
}

.rating-xl {
  @layer daisyui.l1.l2 {
    --rt-size-mul: 8;
  }
}

@keyframes rating {
  0%,
  40% {
    scale: 1.1;
    filter: brightness(1.05) contrast(1.05);
  }
}
