.skeleton {
  @apply bg-base-300 rounded-box motion-reduce:[transition-duration:15s];
  will-change: background-position;
  animation: skeleton 1.8s ease-in-out infinite;
  background-image: linear-gradient(
    105deg,
    #0000 0% 40%,
    var(--color-base-100) 50%,
    #0000 60% 100%
  );
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position-x: -50%;
}
@keyframes skeleton {
  0% {
    background-position: 150%;
  }

  100% {
    background-position: -50%;
  }
}
