.textarea {
  border: 1px solid transparent;
  @apply bg-base-100 rounded-field min-h-20 w-full max-w-80 shrink appearance-none py-2 align-middle;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  font-size: 0.875rem;
  --spacing-field-size: 0.25rem;
  --field-size: calc(var(--spacing-field-size) * 9);
  textarea {
    @apply bg-transparent;
    border: none;

    &:focus {
      @apply outline-hidden;
    }
  }

  &:focus,
  &:focus-within {
    border-color: color-mix(in srgb, var(--color-base-content,) 20%, transparent);
    outline: 2px solid color-mix(in srgb, var(--color-base-content,) 20%, transparent);
    outline-offset: 2px;
  }

  &:has(> textarea[disabled]),
  &:is(:disabled, [disabled]) {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
    box-shadow: none;
  }

  &:has(> textarea[disabled]) > textarea[disabled] {
    @apply cursor-not-allowed;
  }

  &.textarea-border {
    @apply border-base-content/10;
    box-shadow:
      0 1px oklch(0% 0 0 / 0.1) inset,
      0 -1px oklch(100% 0 0 / 0.1) inset;

    &:focus {
      box-shadow: 0 1px oklch(0% 0 0 / 0.1);
    }
  }

  &.textarea-ghost {
    @apply bg-base-100/5;
    box-shadow: none;

    &:focus,
    &:focus-within {
      @apply text-base-content bg-base-100;
      box-shadow: none;
    }
  }

  &.textarea-primary {
    @apply border-primary;
    background-color: color-mix(in oklab, var(--color-primary) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-primary border-primary;
    }
  }

  &.textarea-secondary {
    @apply border-secondary;
    background-color: color-mix(in oklab, var(--color-secondary) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-secondary border-secondary;
    }
  }

  &.textarea-accent {
    @apply border-accent;
    background-color: color-mix(in oklab, var(--color-accent) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-accent border-accent;
    }
  }

  &.textarea-neutral {
    @apply border-neutral;
    background-color: color-mix(in oklab, var(--color-neutral) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-neutral border-neutral;
    }
  }

  &.textarea-info {
    @apply border-info;
    background-color: color-mix(in oklab, var(--color-info) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-info border-info;
    }
  }

  &.textarea-success {
    @apply border-success;
    background-color: color-mix(in oklab, var(--color-success) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-success border-success;
    }
  }

  &.textarea-warning {
    @apply border-warning;
    background-color: color-mix(in oklab, var(--color-warning) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-warning border-warning;
    }
  }

  &.textarea-error {
    @apply border-error;
    background-color: color-mix(in oklab, var(--color-error) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-error border-error;
    }
  }

  &.textarea-xs {
    font-size: 0.75rem;
  }

  &.textarea-sm {
    font-size: 0.875rem;
  }

  &.textarea-md {
    font-size: 0.875rem;
  }

  &.textarea-lg {
    font-size: 1.125rem;
  }

  &.textarea-xl {
    font-size: 1.125rem;
  }
}
