.validator {
  @layer daisyui.l1.l2.l3 {
    &:user-valid,
    &:has(:user-valid) {
      &,
      &:focus,
      &:checked,
      &[aria-checked="true"],
      &:focus-within {
        --input-color: var(--color-success);
      }
    }
    &:user-invalid,
    &:has(:user-invalid),
    &[aria-invalid]:not([aria-invalid="false"]),
    &:has([aria-invalid]:not([aria-invalid="false"])) {
      &,
      &:focus,
      &:checked,
      &[aria-checked="true"],
      &:focus-within {
        --input-color: var(--color-error);
      }
      & ~ .validator-hint {
        @apply text-error visible;
      }
    }
  }
}
.validator-hint {
  @layer daisyui.l1.l2.l3 {
    @apply invisible mt-2;
    font-size: 0.75rem;
  }
}

/* This stays in utilities layer so it unhides hidden validator-hints */
.validator {
  &:user-invalid,
  &:has(:user-invalid),
  &[aria-invalid]:not([aria-invalid="false"]),
  &:has([aria-invalid]:not([aria-invalid="false"])) {
    & ~ .validator-hint {
      display: revert-layer;
    }
  }
}
