.validator {
  &:user-valid,
  &:has(:user-valid) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: var(--color-success);
    }
  }
  &:user-invalid,
  &:has(:user-invalid),
  &[aria-invalid]:not([aria-invalid="false"]) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: var(--color-error);
    }
    & ~ .validator-hint {
      @apply text-error visible block;
    }
  }
}
.validator-hint {
  @apply invisible mt-2;
  font-size: 0.75rem;
}
