.validator {
  &:user-valid,
  &:has(:user-valid) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: var(--color-success);
    }
  }
  &:user-invalid,
  &:has(:user-invalid) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: var(--color-error);
    }
    & ~ .validator-hint {
      @apply text-error visible block;
    }
  }
  & ~ .validator-hint {
    @apply invisible;
  }
}
.validator-hint {
  @apply mt-2 text-xs;
}
