:where(
  :root:has(
    .modal-open,
    .modal[open],
    .modal:target,
    .modal-toggle:checked,
    .drawer:not(.drawer-open) > .drawer-toggle:checked
  )
) {
  scrollbar-gutter: stable;
  background-image: linear-gradient(var(--color-base-100), var(--color-base-100));
  --root-bg: color-mix(in srgb, var(--color-base-100), oklch(0% 0 0) 40%);
}
:where(.modal[open], .modal-open, .modal-toggle:checked + .modal):not(.modal-start, .modal-end) {
  scrollbar-gutter: stable;
}

@supports (width: if(else: 1px)) and (animation-timeline: scroll()) {
  :root {
    animation: set-page-has-scroll forwards;
    animation-timeline: scroll();
  }

  @keyframes set-page-has-scroll {
    0%, to {
      --page-has-scroll: 1;
    }
  }

  :where(
    :root:has(
      .modal-open,
      .modal[open],
      .modal:target,
      .modal-toggle:checked,
      .drawer:not(.drawer-open) > .drawer-toggle:checked
    )
  ) {
    scrollbar-gutter: if(style(--page-has-scroll: 1): stable; else: unset);
  }
}
