:root {
  background: var(--page-scroll-bg, var(--root-bg));
  --page-scroll-bg-on: linear-gradient(var(--root-bg, #0000), var(--root-bg, #0000))
    color-mix(in srgb, var(--root-bg, #0000), oklch(0% 0 0) calc(var(--page-has-backdrop, 0) * 40%));
  --page-scroll-transition-on: background-color 0.3s ease-out;

  transition: var(--page-scroll-transition);

  /* CSS if is not supported */
  scrollbar-gutter: var(--page-scroll-gutter, unset);

  /* CSS if is supported */
  scrollbar-gutter: if(style(--page-has-scroll: 1): var(--page-scroll-gutter, unset) ; else: unset);
}

@keyframes set-page-has-scroll {
  0%,
  to {
    --page-has-scroll: 1;
  }
}
