:root {
  --page-scrollbg-on: linear-gradient(var(--root-bg), var(--root-bg)) color-mix(
    in srgb,
    var(--root-bg),
    oklch(0% 0 0) calc(var(--page-has-backdrop, 0) * 40%)
  );
  --page-scrolltr-on: background-color 0.3s ease-out;
}

/* force higher specificity */
:root:not(span) {
  transition: var(--page-scrolltr);
  background: var(--page-scrollbg, var(--root-bg, var(--color-base-100)));

  /* CSS if is not supported */
  scrollbar-gutter: var(--page-scrollgutter, unset);

  /* CSS if is supported */
  scrollbar-gutter: if(style(--page-has-scroll: 1): var(--page-scrollgutter, unset); else: unset);
}

@keyframes set-page-has-scroll {
  0%,
  to {
    --page-has-scroll: 1;
  }
}
