:root:has(
  .modal-open,
  .modal[open],
  .modal:target,
  .modal-toggle:checked,
  .drawer:not(.drawer-open) > .drawer-toggle:checked
) {
  background-image: linear-gradient(var(--root-bg), var(--root-bg));
  background-color: color-mix(
    in srgb,
    var(--root-bg),
    oklch(0% 0 0) calc(var(--page-has-scrolllock, 0) * 40%)
  );
  animation: set-page-has-scroll forwards;
  animation-timeline: scroll();

  /* CSS if is not supported */
  scrollbar-gutter: stable;

  /* CSS if is supported */
  scrollbar-gutter: if(style(--page-has-scroll: 1): stable; else: unset);
}

@keyframes set-page-has-scroll {
  0%,
  to {
    --page-has-scroll: 1;
  }
}
