:root {
  --page-has-backdrop: var(--page-scroll-lock) 1;
  --page-scroll-bg: var(--page-scroll-lock)
    color-mix(in srgb, var(--root-bg, #0000), oklch(0% 0 0) calc(var(--page-has-backdrop, 0) * 40%));
  background-image: var(--page-scroll-lock)
    linear-gradient(var(--root-bg, #0000), var(--root-bg, #0000));

  transition: var(--page-scroll-lock) background-color 0.3s ease-out;
  animation: var(--page-scroll-lock) set-page-has-scroll forwards;
  animation-timeline: var(--page-scroll-lock) scroll();

  --page-has-scroll: initial;
  scrollbar-gutter: var(--page-has-scroll) var(--page-scroll-lock) stable;
}

@keyframes set-page-has-scroll {
  0%,
  to {
    --page-has-scroll: ;
  }
}
