.accordion {
  & > * + *{
    .accordion-title{
      &:before{
        content: '';
        top: -1rem;
        @apply block h-px bg-base-200 relative;
      }
    }
  }
  &-item{
    @apply -mb-px rounded-box;
    .accordion-title{
      @apply rounded-box;
      &:hover{
        @apply bg-base-200;
      }
    }
    .accordion-body {
      @apply rounded-box;
    }
    input {
      &:focus-visible{
        & + .accordion-title {
          @apply bg-base-200;
        }
      }
      &:checked + .accordion-title {
        @apply rounded-b-none bg-base-200 mt-1;
      }
      &:focus-visible + .accordion-title {
        @apply rounded-b-none bg-base-200 mt-1;
      }
      &:checked + .accordion-title:before{
        @apply bg-transparent;
      }
      &:focus-visible + .accordion-title:before{
        @apply bg-transparent;
      }
      &:checked ~ .accordion-body {
        @apply bg-base-200 rounded-t-none pb-4 mb-1;
      }
      &:focus-visible ~ .accordion-body {
        @apply bg-base-200 rounded-t-none pb-4 mb-1;
      }
    }
  }
  &-bordered{
    & > * + *{
      .accordion-title{
        &:before{
          content: none;
        }
      }
    }
    .accordion-item{
      .accordion-title{
        @apply rounded-none;
      }
      .accordion-body{
        @apply rounded-none;
      }
      @apply border border-base-200 mb-2;
      & input:checked + .accordion-title {
        @apply mt-0;
      }
      & input:focus-visible + .accordion-title {
        @apply mt-0;
      }
      & input:checked ~ .accordion-body {
        @apply mb-0;
      }
      & input:focus-visible ~ .accordion-body {
        @apply mb-0;
      }
    }
  }
}
