.btn {
  @apply border font-semibold uppercase;
  animation: button-pop 0.25s ease-out;
  &:active:hover,
  &:active:focus{
    transform: scale(0.95);
    animation: none;
  }

  /* default btn */
  & {
    @apply bg-content-100 border-content-100 text-content-800;
    &:hover,
    &-active {
      @apply bg-content-200 border-content-200;
    }
    &:focus-visible {
      @apply ring-2 ring-offset-2 ring-content-800 ring-offset-default;
    }
  }
  /* brand colors */
  &-primary {
    @apply bg-primary border-primary text-content-primary;
    &:hover,
    &.btn-active {
      @apply bg-primary-darken border-primary-darken;
    }
    &:focus-visible {
      @apply ring-primary;
    }
  }
  &-secondary {
    @apply bg-secondary border-secondary text-content-secondary;
    &:hover,
    &.btn-active {
      @apply bg-secondary-darken border-secondary-darken;
    }
    &:focus-visible {
      @apply ring-secondary;
    }
  }
  &-accent {
    @apply bg-accent border-accent text-content-accent;
    &:hover,
    &.btn-active {
      @apply bg-accent-darken border-accent-darken;
    }
    &:focus-visible {
      @apply ring-accent;
    }
  }


  /* btn with state colors */
  &-info {
    @apply bg-info border-info text-content-100;
    &:hover,
    &.btn-active {
      @apply bg-info border-info;
    }
    &:focus-visible {
      @apply ring-info;
    }
  }
  &-success {
    @apply bg-success border-success text-content-100;
    &:hover,
    &.btn-active {
      @apply bg-success border-success;
    }
    &:focus-visible {
      @apply ring-success;
    }
  }
  &-warning {
    @apply bg-warning border-warning text-content-100;
    &:hover,
    &.btn-active {
      @apply bg-warning border-warning;
    }
    &:focus-visible {
      @apply ring-warning;
    }
  }
  &-error {
    @apply bg-error border-error text-content-100;
    &:hover,
    &.btn-active {
      @apply bg-error border-error;
    }
    &:focus-visible {
      @apply ring-error;
    }
  }

  /* btn variants */
  &-ghost {
    @apply border-transparent border text-current text-opacity-60 bg-transparent;
    &:hover,
    &.btn-active {
      @apply bg-default bg-opacity-5 border-opacity-0 text-opacity-80;
    }
    &:focus-visible {
      @apply ring-current ring-offset-0;
    }
  }
  &-link {
    @apply bg-transparent border-transparent text-primary;
    &:hover,
    &.btn-active {
      @apply underline bg-transparent border-transparent;
    }
    &:focus-visible {
      @apply ring-primary ring-offset-0;
    }
  }

  /* outline */
  &-outline {
    @apply bg-transparent text-content-600 border-current;
    &:hover {
      @apply bg-content-200 border-content-600;
    }
    &:focus-visible {
      @apply ring-current;
    }
    &.btn-primary {
      @apply text-primary;
      &:hover {
        @apply bg-primary-darken text-content-primary border-primary-darken;
      }
    }
    &.btn-secondary {
      @apply text-secondary;
      &:hover {
        @apply bg-secondary-darken text-content-secondary border-secondary-darken;
      }
    }
    &.btn-accent {
      @apply text-accent;
      &:hover {
        @apply bg-accent-darken text-content-accent border-accent-darken;
      }
    }
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply bg-content-100 border-content-100 text-content-300;
  }



  /* loading */
  &.loading {
    &.btn-square:before,
    &.btn-circle:before {
      @apply mr-0;
    }
    &.btn-xl:before,
    &.btn-lg:before {
      @apply h-5 w-5;
    }
    &.btn-sm:before,
    &.btn-xs:before {
      @apply h-3 w-3;
    }
  }
}
/* group */
.btn-group {
  & > input[type="radio"]:checked.btn,
  & > .btn-active {
    @apply bg-primary border-primary text-content-primary;
    &:focus-visible {
      @apply ring-primary;
    }
  }
  & > .btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .btn:not(:last-child) {
    @apply rounded-r-none;
  }
}

@keyframes button-pop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}