.btn {
  @apply font-semibold uppercase;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  &:active:hover,
  &:active:focus{
    animation: none;
  }
  &:active:hover:not(.no-animation),
  &:active:focus:not(.no-animation){
    transform: scale(0.95);
  }

  /* default btn */
  & {
    @apply bg-neutral border-neutral text-neutral-content;
    &:hover,
    &-active {
      @apply bg-neutral-focus border-neutral-focus;
    }
    &:focus-visible {
      --tw-ring-offset-width: var(--focus-ring-offset, 2px);

      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--focus-ring, 2px) + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
      @apply ring-neutral-focus ring-offset-base-100;
    }
  }
  /* brand colors */
  &-primary {
    @apply bg-primary border-primary text-primary-content;
    &:hover,
    &.btn-active {
      @apply bg-primary-focus border-primary-focus;
    }
    &:focus-visible {
      @apply ring-primary;
    }
  }
  &-secondary {
    @apply bg-secondary border-secondary text-secondary-content;
    &:hover,
    &.btn-active {
      @apply bg-secondary-focus border-secondary-focus;
    }
    &:focus-visible {
      @apply ring-secondary;
    }
  }
  &-accent {
    @apply bg-accent border-accent text-accent-content;
    &:hover,
    &.btn-active {
      @apply bg-accent-focus border-accent-focus;
    }
    &:focus-visible {
      @apply ring-accent;
    }
  }


  /* btn with state colors */
  &-info {
    @apply bg-info border-info text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-info border-info;
    }
    &:focus-visible {
      @apply ring-info;
    }
  }
  &-success {
    @apply bg-success border-success text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-success border-success;
    }
    &:focus-visible {
      @apply ring-success;
    }
  }
  &-warning {
    @apply bg-warning border-warning text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-warning border-warning;
    }
    &:focus-visible {
      @apply ring-warning;
    }
  }
  &-error {
    @apply bg-error border-error text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-error border-error;
    }
    &:focus-visible {
      @apply ring-error;
    }
  }

  /* glass */
  &.glass{
    &:hover,
    &.btn-active {
      --glass-opacity: 25%;
      --glass-border-opacity: 15%;
    }
    &:focus-visible {
      --tw-ring-color: hsl(0deg 0% 100% / 0%);
      --tw-ring-offset-color: hsl(0deg 0% 0% / 30%);

      --tw-ring-offset-width: var(--focus-ring-offset, 2px);

      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--focus-ring, 2px) + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
    }
  }

  /* btn variants */
  &-ghost {
    @apply bg-transparent text-current border border-transparent;
    &:hover,
    &.btn-active {
      @apply bg-base-content bg-opacity-20 border-opacity-0;
    }
    &:focus-visible {
      @apply ring-current ring-offset-0;
    }
  }
  &-link {
    @apply bg-transparent border-transparent text-primary;
    &:hover,
    &.btn-active {
      @apply underline bg-transparent border-transparent;
    }
    &:focus-visible {
      @apply ring-primary ring-offset-0;
    }
  }

  /* outline */
  &-outline {
    @apply bg-transparent text-neutral border-current;
    &:hover {
      @apply bg-neutral-focus border-neutral-focus text-base-100;
    }
    &:focus-visible {
      @apply ring-current;
    }
    &.btn-primary {
      @apply text-primary;
      &:hover {
        @apply bg-primary-focus text-primary-content border-primary-focus;
      }
    }
    &.btn-secondary {
      @apply text-secondary;
      &:hover {
        @apply bg-secondary-focus text-secondary-content border-secondary-focus;
      }
    }
    &.btn-accent {
      @apply text-accent;
      &:hover {
        @apply bg-accent-focus text-accent-content border-accent-focus;
      }
    }
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply bg-neutral border-opacity-0 bg-opacity-20 text-base-content text-opacity-20;
  }



  /* loading */
  &.loading {
    &.btn-square:before,
    &.btn-circle:before {
      @apply mr-0;
    }
    &.btn-xl:before,
    &.btn-lg:before {
      @apply h-5 w-5;
    }
    &.btn-sm:before,
    &.btn-xs:before {
      @apply h-3 w-3;
    }
  }
}
/* group */
.btn-group {
  & > input[type="radio"]:checked.btn,
  & > .btn-active {
    @apply bg-primary border-primary text-primary-content;
    &:focus-visible {
      @apply ring-primary;
    }
  }
  & > .btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .btn:not(:last-child) {
    @apply rounded-r-none;
  }
}

@keyframes button-pop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}