.drawer-toggle{
  & ~ .drawer-content{
    @apply transition-all ease-in-out duration-300;
  }
  & ~ .drawer-side{
    & .drawer-overlay{
      @apply cursor-pointer transition-all ease-in-out duration-300;
      background-color: black;
    }
    & .drawer-overlay + *{
      @apply transition-all ease-in-out duration-300;
    }
  }
  &:checked{
    & ~ .drawer-content{
      @apply translate-x-2;
    }
    & ~ .drawer-side{
      & .drawer-overlay{
        @apply opacity-40;
      }
    }
  }
  &:focus-visible{
    & ~ .drawer-content .drawer-button{
      --tw-ring-offset-width: var(--focus-ring-offset, 2px);

      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--focus-ring, 2px) + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
      @apply ring-content-300 ring-offset-default;
      &.btn-primary{
        @apply ring-primary;
      }
      &.btn-secondary{
        @apply ring-secondary;
      }
      &.btn-accent{
        @apply ring-accent;
      }
      &.btn-info{
        @apply ring-info;
      }
      &.btn-success{
        @apply ring-success;
      }
      &.btn-warning{
        @apply ring-warning;
      }
      &.btn-error{
        @apply ring-error;
      }
      &.glass{
        --tw-ring-color: hsl(0deg 0% 100% / 0%);
        --tw-ring-offset-color: hsl(0deg 0% 0% / 30%);

        --tw-ring-offset-width: var(--focus-ring-offset, 2px);

        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--focus-ring, 2px) + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
      }
      &.btn-ghost{
        @apply ring-current ring-offset-0;
      }
      &.btn-link{
        @apply ring-primary ring-offset-0;
      }
      &.btn-outline{
        @apply ring-current;
      }
    }
  }
}
