.mockup{
  &-code{
    @apply rounded-box py-5;
    &:before{
      content: "";
      @apply block w-3 h-3 rounded-full opacity-30 mb-4;
      box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
    }
    pre{
      &:before{
        content: '';
        @apply mr-5;
      }
    }
    pre[data-prefix]{
      &:before{
        content: attr(data-prefix);
        @apply opacity-50 w-8;
      }
    }
  }
}