.progress{
  @apply rounded-box h-2;
  &::-moz-progress-bar{
    @apply bg-neutral;
  }
  &-primary::-moz-progress-bar{
    @apply bg-primary;
  }
  &-secondary::-moz-progress-bar{
    @apply bg-secondary;
  }
  &-accent::-moz-progress-bar{
    @apply bg-accent;
  }
  &-info::-moz-progress-bar{
    @apply bg-info;
  }
  &-success::-moz-progress-bar{
    @apply bg-success;
  }
  &-warning::-moz-progress-bar{
    @apply bg-warning;
  }
  &-error::-moz-progress-bar{
    @apply bg-error;
  }
  &::-webkit-progress-bar{
    @apply bg-neutral bg-opacity-20 rounded-box;
  }
  &::-webkit-progress-value{
    @apply rounded-box bg-neutral-focus;
  }
  &-primary::-webkit-progress-value{
    @apply bg-primary;
  }
  &-secondary::-webkit-progress-value{
    @apply bg-secondary;
  }
  &-accent::-webkit-progress-value{
    @apply bg-accent;
  }
  &-info::-webkit-progress-value{
    @apply bg-info;
  }
  &-success::-webkit-progress-value{
    @apply bg-success;
  }
  &-warning::-webkit-progress-value{
    @apply bg-warning;
  }
  &-error::-webkit-progress-value{
    @apply bg-error;
  }
}
