.select {
  @apply border font-semibold bg-content-100 border-content-100 text-content-800 pr-10;
  background-image:
    linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
  &:hover,
  &-active {
    @apply bg-content-200 border-content-200;
  }
  &:focus {
    --tw-ring-offset-width: var(--focus-ring-offset, 2px);
    
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--focus-ring, 2px) + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
    @apply ring-content-300 ring-offset-default;
  }
  &-disabled,
  &[disabled] {
    @apply bg-content-100 border-content-100 text-content-300;
  }
}
