.tab{
  @apply text-base-content text-opacity-50 hover:text-opacity-100;
  &.tab-active{
    @apply text-base-content border-base-content border-opacity-100;
  }
}
.tab-bordered, .tab-lifted{
  @apply border-base-content border-opacity-50;
  border-style: solid;
  border-bottom-width: var(--tab-border, 1px);
}
.tab-lifted{
  margin-top: var(--tab-spacer, .5rem);
  padding-bottom: var(--tab-spacer, .5rem);
  &.tab-active{
    border-bottom-width: 0;
    border-left-width: var(--tab-border, 1px);
    border-right-width: var(--tab-border, 1px);
    border-top-width: var(--tab-border, 1px);
    
    border-top-left-radius: var(--tab-radius, var(--rounded-btn, .5rem));
    border-top-right-radius: var(--tab-radius, var(--rounded-btn, .5rem));
    margin-top: 0;
    padding-bottom: 0;
    padding-top: calc( var(--tab-spacer, .5rem) - var(--tab-border, 1px) );
    margin-left: calc( var(--tab-spacer, .5rem) - var(--tab-border, 1px) );
    margin-right: calc( var(--tab-spacer, .5rem) - var(--tab-border, 1px) );
    @apply border-base-content border-opacity-50;
    &:before{
      border-bottom-right-radius: var(--tab-radius, var(--rounded-btn, .5rem));
      border-right-width: var(--tab-border, 1px);
      left: -.5rem;
    }
    &:after{
      border-bottom-left-radius: var(--tab-radius, var(--rounded-btn, .5rem));
      border-left-width: var(--tab-border, 1px);
      right: -.5rem;
    }
    &:before, &:after{
      content:'';
      display: block;
      position: absolute;
      width: var(--tab-spacer, .5rem);
      height: var(--tab-spacer, .5rem);
      border-bottom-width: var(--tab-border, 1px);
      bottom: -.5rem;
      @apply border-base-content border-opacity-50;
    }
    &:first-child:before{
      border-bottom-color: transparent;
      border-bottom-right-radius: 0;
    }
    &:last-child:after{
      border-bottom-color: transparent;
      border-bottom-left-radius: 0;
    }
  }
}
.tabs-boxed{
  @apply bg-base-200 rounded-btn p-1;
  .tab-active{
    @apply rounded-btn bg-primary text-primary-content hover:text-primary-content;
  }
}