.alert {
  @apply p-4 rounded-box text-base-content border border-base-200;
  --alert-bg: hsl(var(--b2));
  --alert-bg-mix: hsl(var(--b1));
  background-color: var(--alert-bg);
  /* @supports (background-color: color-mix(in srgb, var(--alert-bg) 50%, var(--alert-bg-mix))) {
    background-color: color-mix(in srgb, var(--alert-bg) 50%, var(--alert-bg-mix));
  } */
  &-info {
    @apply text-info-content border-info/20;
    --alert-bg: hsl(var(--in));
    --alert-bg-mix: hsl(var(--b1));
  }
  &-success {
    @apply text-success-content border-success/20;
    --alert-bg: hsl(var(--su));
    --alert-bg-mix: hsl(var(--b1));
  }
  &-warning {
    @apply text-warning-content border-warning/20;
    --alert-bg: hsl(var(--wa));
    --alert-bg-mix: hsl(var(--b1));
  }
  &-error {
    @apply text-error-content border-error/20;
    --alert-bg: hsl(var(--er));
    --alert-bg-mix: hsl(var(--b1));
  }
}
