.alert {
  @apply bg-base-200 p-4 rounded-box;
  &-info {
    @apply bg-info text-info-content;
  }
  &-success {
    @apply bg-success text-success-content;
  }
  &-warning {
    @apply bg-warning text-warning-content;
  }
  &-error {
    @apply bg-error text-error-content;
  }
}
