.avatar{
  &.online{
    &:before{
      content: '';
      @apply block w-2 h-2 bg-success rounded-full absolute z-10;
      top: 5%;
      right: 5%;
      box-shadow: 0 0 0 2px hsl(var(--b1));
    }
  }
  &.offline{
    &:before{
      content: '';
      @apply block w-2 h-2 bg-base-300 rounded-full absolute z-10;
      top: 5%;
      right: 5%;
      box-shadow: 0 0 0 2px hsl(var(--b1));
    }
  }
}
.avatar-group{
  @apply flex overflow-hidden;
  .avatar{
    @apply rounded-full border-4 border-base-100 overflow-hidden;
  }
}