.avatar{
  &.online{
    &:before{
      content: '';
      @apply block w-2 h-2 bg-success rounded-full ring ring-base-100 ring-offset-base-100 absolute z-10;
      top: 5%;
      right: 5%;
    }
  }
  &.offline{
    &:before{
      content: '';
      @apply block w-2 h-2 bg-base-300 rounded-full ring ring-base-100 ring-offset-base-100 absolute z-10;
      top: 5%;
      right: 5%;
    }
  }
}
.avatar-group{
  @apply flex overflow-hidden;
  .avatar{
    @apply rounded-full border-4 border-base-100 overflow-hidden;
  }
}