.btm-nav {
  @apply bg-base-100 h-16 text-current;
  & > * {
    @apply border-current;

    &:not(.active) {
      @apply pt-0.5;
    }

    /* active */
    &:where(.active) {
      @apply bg-base-100 border-t-2;
    }

    /* disabled */
    &.disabled,
    &[disabled] {
      @apply bg-neutral text-base-content pointer-events-none border-opacity-0 bg-opacity-10 text-opacity-20;
    }
    @media (hover: hover) {
      &.disabled:hover,
      &[disabled]:hover {
        @apply bg-neutral text-base-content pointer-events-none border-opacity-0 bg-opacity-10 text-opacity-20;
      }
    }
    .label {
      @apply text-base;
    }
  }
}
