.btn {
  @apply font-semibold uppercase;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  &:active:hover,
  &:active:focus{
    animation: none;
  }
  &:active:hover,
  &:active:focus{
    transform: scale( var(--btn-focus-scale, 0.95) );
  }

  /* default btn */
  & {
    @apply bg-neutral border-neutral text-neutral-content;
    &:hover,
    &-active {
      @apply bg-neutral-focus border-neutral-focus;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--nf));
    }
  }
  /* brand colors */
  &-primary {
    @apply bg-primary border-primary text-primary-content;
    &:hover,
    &.btn-active {
      @apply bg-primary-focus border-primary-focus;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
  }
  &-secondary {
    @apply bg-secondary border-secondary text-secondary-content;
    &:hover,
    &.btn-active {
      @apply bg-secondary-focus border-secondary-focus;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--s));
    }
  }
  &-accent {
    @apply bg-accent border-accent text-accent-content;
    &:hover,
    &.btn-active {
      @apply bg-accent-focus border-accent-focus;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--a));
    }
  }


  /* btn with state colors */
  &-info {
    @apply bg-info border-info text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-info border-info;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--in));
    }
  }
  &-success {
    @apply bg-success border-success text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-success border-success;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--su));
    }
  }
  &-warning {
    @apply bg-warning border-warning text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-warning border-warning;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--wa));
    }
  }
  &-error {
    @apply bg-error border-error text-base-200;
    &:hover,
    &.btn-active {
      @apply bg-error border-error;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--er));
    }
  }

  /* glass */
  &.glass{
    &:hover,
    &.btn-active {
      --glass-opacity: 25%;
      --glass-border-opacity: 15%;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px currentColor;
    }
  }

  /* btn variants */
  &-ghost {
    @apply bg-transparent text-current border border-transparent;
    &:hover,
    &.btn-active {
      @apply bg-base-content bg-opacity-20 border-opacity-0;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px currentColor;
    }
  }
  &-link {
    @apply bg-transparent border-transparent text-primary;
    &:hover,
    &.btn-active {
      @apply underline bg-transparent border-transparent;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px currentColor;
    }
  }

  /* outline */
  &-outline {
    @apply bg-transparent text-base-content border-current;
    &:hover {
      @apply bg-base-content border-base-content text-base-100;
    }
    &.btn-primary {
      @apply text-primary;
      &:hover {
        @apply bg-primary-focus text-primary-content border-primary-focus;
      }
    }
    &.btn-secondary {
      @apply text-secondary;
      &:hover {
        @apply bg-secondary-focus text-secondary-content border-secondary-focus;
      }
    }
    &.btn-accent {
      @apply text-accent;
      &:hover {
        @apply bg-accent-focus text-accent-content border-accent-focus;
      }
    }
    &.btn-success {
      @apply text-success;
      &:hover {
        @apply bg-success text-neutral-content border-success;
      }
    }
    &.btn-info {
      @apply text-info;
      &:hover {
        @apply bg-info text-neutral-content border-info;
      }
    }
    &.btn-warning {
      @apply text-warning;
      &:hover {
        @apply bg-warning text-neutral-content border-warning;
      }
    }
    &.btn-error {
      @apply text-error;
      &:hover {
        @apply bg-error text-neutral-content border-error;
      }
    }
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply bg-neutral border-opacity-0 bg-opacity-20 text-base-content text-opacity-20;
  }



  /* loading */
  &.loading {
    &.btn-square:before,
    &.btn-circle:before {
      @apply mr-0;
    }
    &.btn-xl:before,
    &.btn-lg:before {
      @apply h-5 w-5;
    }
    &.btn-sm:before,
    &.btn-xs:before {
      @apply h-3 w-3;
    }
  }
}
/* group */
.btn-group {
  & > input[type="radio"]:checked.btn,
  & > .btn-active {
    @apply bg-primary border-primary text-primary-content;
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
  }
  & > .btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .btn:not(:last-child) {
    @apply rounded-r-none;
  }
}

@keyframes button-pop {
  0% {
    transform: scale( var(--btn-focus-scale, 0.95) );
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}