.checkbox{
  --chkbg: var(--bc);
  --chkfg: var(--b1);
  @apply appearance-none w-6 h-6 rounded-btn border border-base-content border-opacity-20 cursor-pointer;
  &:focus-visible {
    box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--bc));
  }
  &:checked,
  &[checked=true]{
    @apply bg-base-content bg-no-repeat;
    animation: checkmark var(--animation-input, .2s)  ease-in-out;
    background-image:
      linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 65%),
      linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75%),
      linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40%),
      linear-gradient(45deg, hsl(var(--chkbg)) 30%, hsl(var(--chkfg)) 30%, hsl(var(--chkfg)) 40%, transparent 40%),
      linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50%)
    ;
  }
  &:indeterminate{
    @apply bg-base-content bg-no-repeat;
    animation: checkmark var(--animation-input, .2s)  ease-in-out;
    background-image:
    linear-gradient(90deg, transparent 80%, hsl(var(--chkbg)) 80%),
    linear-gradient(-90deg, transparent 80%, hsl(var(--chkbg)) 80%),
    linear-gradient(0deg, hsl(var(--chkbg)) 43%, hsl(var(--chkfg)) 43%, hsl(var(--chkfg)) 57%, hsl(var(--chkbg)) 57%)
    ;
  }
  &-primary{
    --chkbg: var(--p);
    --chkfg: var(--pc);
    @apply border-primary hover:border-primary;
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
    &:checked,
  &[checked=true]{
      @apply bg-primary border-primary text-primary-content;
    }
  }
  &-secondary{
    --chkbg: var(--s);
    --chkfg: var(--sc);
    @apply border-secondary hover:border-secondary;
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--s));
    }
    &:checked,
  &[checked=true]{
      @apply bg-secondary border-secondary text-secondary-content;
    }
  }
  &-accent{
    --chkbg: var(--a);
    --chkfg: var(--ac);
    @apply border-accent hover:border-accent;
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--a));
    }
    &:checked,
  &[checked=true]{
      @apply bg-accent border-accent text-accent-content;
    }
  }
  &:disabled{
    @apply bg-base-content opacity-20 cursor-not-allowed border-transparent;
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  100% {
    background-position-y: 0;
  }
}

/* backward comptability */
.checkbox-mark{
  @apply hidden;
}