.checkbox{
  @apply appearance-none opacity-0 w-0 h-0 absolute;
  & ~ .checkbox-mark{
    @apply w-6 h-6 rounded-btn border border-base-content border-opacity-20 shadow-inner;
    &:before{
      width: 7px;
      height: 14px;
      transform: rotate(45deg)translate(-1px, -1px)scale(.75);
      border-bottom: 3px solid;
      border-right: 3px solid;
      @apply border-transparent;
    }
  }
  &:hover {
    & ~ .checkbox-mark{
      &:before{
        @apply border-base-content border-opacity-20;
      }
    }
  }
  &:focus-visible {
    & ~ .checkbox-mark{
      --tw-ring-offset-width: var(--focus-ring-offset, 2px);
      
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--focus-ring, 2px) + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));
      @apply ring-offset-base-100 ring-base-content;
    }
  }
  &:checked{
    &,
    &:hover{
      & ~ .checkbox-mark{
        @apply bg-base-content border-base-content text-base-100 shadow-none;
        &:before{
          animation: checkmark var(--animation-input, .4s)  ease-in-out;
          transform: rotate(45deg)translate(-1px, -1px)scale(1);
          @apply border-base-100;
        }
      }
    }
    &:focus-visible {
      & ~ .checkbox-mark{
        @apply ring-neutral-focus;
      }
    }
  }
  &-primary{
    & ~ .checkbox-mark{
      @apply border-primary hover:border-primary;
    }
    &:hover ~ .checkbox-mark:before{
      @apply border-primary;
    }
    &:checked{
      &,
      &:hover{
        & ~ .checkbox-mark{
          @apply bg-primary border-primary text-primary-content;
          &:before{
            @apply border-primary-content;
          }
        }
      }
      &:focus-visible {
        & ~ .checkbox-mark{
          @apply ring-primary;
        }
      }
    }
  }
  &-secondary{
    & ~ .checkbox-mark{
      @apply border-secondary hover:border-secondary;
    }
    &:hover ~ .checkbox-mark:before{
      @apply border-secondary;
    }
    &:checked{
      &,
      &:hover{
        & ~ .checkbox-mark{
          @apply bg-secondary border-secondary text-secondary-content;
          &:before{
            @apply border-secondary-content;
          }
        }
      }
      &:focus-visible {
        & ~ .checkbox-mark{
          @apply ring-secondary;
        }
      }
    }
  }
  &-accent{
    & ~ .checkbox-mark{
      @apply border-accent hover:border-accent;
    }
    &:hover ~ .checkbox-mark:before{
      @apply border-accent;
    }
    &:checked{
      &,
      &:hover{
        & ~ .checkbox-mark{
          @apply bg-accent border-accent text-accent-content;
          &:before{
            @apply border-accent-content;
          }
        }
      }
      &:focus-visible {
        & ~ .checkbox-mark{
          @apply ring-accent;
        }
      }
    }
  }
  &:disabled,
  &:disabled:hover
  {
    & ~ .checkbox-mark{
      @apply bg-base-content bg-opacity-20 cursor-not-allowed border-transparent;
      &:before{
        @apply border-transparent;
      }
    }
    &:checked{
      & ~ .checkbox-mark{
        &:before{
          @apply border-base-100;
        }
      }
    }
  }
}


@keyframes checkmark {
  30% {
    transform: rotate(45deg)translate(-1px, -1px)scale(1.2);
  }
  50% {
    transform: rotate(45deg)translate(-1px, -1px)scale(0.8);
  }
  100% {
    transform: rotate(45deg)translate(-1px, -1px)scale(1);
  }
}