.drawer {
  width: 100%;
  &-side {
    & > .drawer-overlay {
      @apply cursor-pointer bg-transparent transition-colors duration-200 ease-out;
    }
  }
  &-toggle {
    &:checked ~ .drawer-side {
      & > .drawer-overlay {
        background-color: #0006;
      }
    }
    &:focus-visible ~ .drawer-content label.drawer-button {
      @apply outline outline-2 outline-offset-2;
    }
  }
}
