.menu {
  &.horizontal{
    li{
      &.bordered{
        a, span{
          @apply border-l-0 border-b-4 border-primary;
        }
      }
    }
  }
  &[class*="p-"] li a{
    @apply rounded-btn;
  }
  li{
    a, span{
      @apply text-current px-5 py-3;
    }
    a{
      &:focus,
      &:hover,
      &.active {
        @apply bg-primary text-primary-content;
      }
    }
    &.disabled{
      &>a, &>span{
        @apply text-base-content text-opacity-20 hover:bg-transparent;
      }
    }
    &.bordered{
      a, span{
        @apply border-l-4 border-primary;
      }
    }
    &.hover-bordered{
      a{
        @apply border-l-4 border-transparent hover:border-primary;
      }
    }
  }
  ul{
    @apply pl-6;
  }
  &.compact{
    a, span{
      @apply py-2 text-sm;
    }
  }
  .menu-title{
    a, span{
      @apply py-1 text-2xs text-base-content text-opacity-30;
    }
  }
}
