.menu {
  &.horizontal{
    li{
      &.bordered{
        >a,
        >span{
          @apply border-l-0 border-b-4 border-primary;
        }
      }
    }
  }
  &[class*="p-"] li a{
    @apply rounded-btn;
  }
  :where(li.bordered>a),
  :where(li.bordered>span){
    @apply border-l-4 border-primary;
  }
  li{
    >:where(a),
    >:where(span){
      @apply text-current px-5 py-3;
    }

    >:where(a:focus),
    >:where(a:hover){
      @apply bg-base-content bg-opacity-10;
    }
    >:where(a.active){
      @apply bg-primary text-primary-content;
    }
    >:where(a:active){
      @apply bg-primary-focus text-primary-content;
    }

    &.disabled{
      &>a, &>span{
        @apply text-base-content text-opacity-20 hover:bg-transparent;
      }
    }
    &.hover-bordered{
      a{
        @apply border-l-4 border-transparent hover:border-primary;
      }
    }
  }
  ul{
    @apply pl-6;
  }
  &.compact{
    li{
      >a, >span{
        @apply py-2 text-sm;
      }
    }
  }
  .menu-title{
    >a, >span{
      @apply py-1 text-xs text-base-content text-opacity-40 font-bold;
    }
  }
}
