.mockup{
  &-code{
    @apply rounded-box py-5 bg-neutral text-neutral-content;
    &:before{
      content: "";
      @apply block w-3 h-3 rounded-full opacity-30 mb-4;
      box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
    }
    pre{
      &:before{
        content: '';
        margin-right: 2ch;
      }
    }
    pre[data-prefix]{
      &:before{
        content: attr(data-prefix);
        @apply opacity-50 w-8;
      }
    }
  }
  &-window{
    @apply rounded-box pt-5;
    &:before{
      content: "";
      @apply block w-3 h-3 rounded-full opacity-30 mb-4;
      box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
    }
  }
  &-phone{
    display: inline-block;
    border: 4px solid #444;
    border-radius: 50px;
    background-color: #000;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    .camera {
      position: relative;
      top: 0px;
      left: 0px;
      background: #000;
      height: 25px;
      width: 150px;
      margin: 0 auto;
      border-bottom-left-radius: 17px;
      border-bottom-right-radius: 17px;
      z-index: 11;
      &:before {
        content: "";
        position: absolute;
        top: 35%;
        left: 50%;
        width: 50px;
        height: 4px;
        border-radius: 5px;
        background-color: #0c0b0e;
        transform: translate(-50%, -50%);
      }
      &:after {
        content: "";
        position: absolute;
        top: 20%;
        left: 70%;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: #0f0b25;
      }
    }
    .display {
      overflow: hidden;
      border-radius: 40px;
      margin-top: -25px;
    }
  }
}