.select {
  @apply border transition duration-200 ease-in-out rounded-btn font-semibold bg-base-100 border-base-content border-opacity-0 pr-10;
  &-bordered {
    @apply border-opacity-20;
  }
  background-image:
    linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
  &:focus {
    box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsla(var(--bc)/.2);
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus {
      @apply bg-opacity-100 text-base-content;
    }
  }
  &-primary {
    @apply border-primary;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
  }
  &-secondary {
    @apply border-secondary;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--s));
    }
  }
  &-accent {
    @apply border-accent;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--a));
    }
  }
  &-info {
    @apply border-info;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--in));
    }
  }
  &-success {
    @apply border-success;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--su));
    }
  }
  &-warning {
    @apply border-warning;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--wa));
    }
  }
  &-error {
    @apply border-error;
    &:focus {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--er));
    }
  }
  &-disabled,
  &[disabled] {
    @apply cursor-not-allowed bg-base-200 border-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
  }
}
