.stack{
  @apply place-items-center items-end;
  &>*{
    @apply w-full;
  }
  &>*{
    @apply opacity-60;
  }
  &>*:nth-child(2){
    @apply opacity-80;
  }
  &>*:nth-child(1){
    @apply opacity-100;
  }
}