.tab{
  @apply text-base-content text-opacity-50 hover:text-opacity-100;
  padding-left: var(--tab-padding, 1rem);
  padding-right: var(--tab-padding, 1rem);
  &.tab-active{
    @apply text-base-content border-base-content border-opacity-100;
  }
  &:focus {
    @apply outline-none;
  }
  &:focus-visible {
    @apply ring-2 ring-current ring-inset;
  }
}
.tab-bordered{
  @apply border-base-content border-opacity-20;
  border-style: solid;
  border-bottom-width: calc( var(--tab-border, 1px) + 1px );
}
.tab-lifted{
  border: var(--tab-border, 1px) solid transparent;
  border-width: 0 0 var(--tab-border, 1px) 0;
  border-top-left-radius: var(--tab-radius, .5rem);
  border-top-right-radius: var(--tab-radius, .5rem);
  border-bottom-color: hsla(var(--border-color, var(--b3, 216 12% 84%)) / var(--tw-border-opacity, 1));
  padding-left: var(--tab-padding, 1rem);
  padding-right: var(--tab-padding, 1rem);
  &.tab-active{
    @apply bg-base-100;
    border-width: var(--tab-border, 1px) var(--tab-border, 1px) 0 var(--tab-border, 1px);
    border-left-color: hsla(var(--border-color, var(--b3, 216 12% 84%)) / var(--tw-border-opacity, 1));
    border-right-color: hsla(var(--border-color, var(--b3, 216 12% 84%)) / var(--tw-border-opacity, 1));
    border-top-color: hsla(var(--border-color, var(--b3, 216 12% 84%)) / var(--tw-border-opacity, 1));
    padding-left: calc( var(--tab-padding, 1rem) - var(--tab-border, 1px) );
    padding-right: calc( var(--tab-padding, 1rem) - var(--tab-border, 1px) );
    padding-bottom: var(--tab-border, 1px);
    &:before, &:after{
      z-index: 1;
      content:'';
      display: block;
      position: absolute;
      width: var(--tab-radius, .5rem);
      height: var(--tab-radius, .5rem);
      bottom: 0;
      --tab-grad: calc( 68% - var(--tab-border, 1px) );
      --tab-corner-bg: 
      radial-gradient(
        circle at var(--circle-pos),
        transparent var(--tab-grad),
        hsla(var(--border-color, var(--b3, 216 12% 84%)) / var(--tw-border-opacity, 1)) calc(var(--tab-grad) + .3px),
        hsla(var(--border-color, var(--b3, 216 12% 84%)) / var(--tw-border-opacity, 1)) calc(var(--tab-grad) + var(--tab-border, 1px) ),
        hsla(var(--b1, 0 0% 100%) / var(--tw-border-opacity, 1)) calc(var(--tab-grad) + var(--tab-border, 1px) + .3px)
      );
    }
    &:before{
      left: calc( var(--tab-radius, .5rem) * -1 );
      --circle-pos: top left;
      background-image: var(--tab-corner-bg);

      /* RTL quick fix */
      [dir=rtl] &{
        --circle-pos: top right;
      }
    }
    &:after{
      right: calc( var(--tab-radius, .5rem) * -1 );
      --circle-pos: top right;
      background-image: var(--tab-corner-bg);

      /* RTL quick fix */
      [dir=rtl] &{
        --circle-pos: top left;
      }
    }
    &:first-child:before{
      background: none;
    }
    &:last-child:after{
      background: none;
    }
  }
}
.tab-lifted.tab-active + .tab-lifted.tab-active {
  &:before{
    background: none;
  }
}
.tabs-boxed{
  @apply bg-base-200 rounded-btn p-1;
  .tab-active{
    @apply rounded-btn bg-primary text-primary-content hover:text-primary-content;
  }
}