.textarea {
  @apply bg-base-100 rounded-btn border border-transparent;
  &-bordered {
    @apply border-base-content/20;
  }
  &:focus {
    box-shadow: none;
    @apply border-base-content/20 outline-base-content/20 outline outline-2 outline-offset-2;
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus {
      @apply text-base-content bg-opacity-100;
      box-shadow: none;
    }
  }
  &-primary {
    @apply border-primary;
    &:focus {
      @apply outline-primary border-primary;
    }
  }
  &-secondary {
    @apply border-secondary;
    &:focus {
      @apply outline-secondary border-secondary;
    }
  }
  &-accent {
    @apply border-accent;
    &:focus {
      @apply outline-accent border-accent;
    }
  }
  &-info {
    @apply border-info;
    &:focus {
      @apply outline-info border-info;
    }
  }
  &-success {
    @apply border-success;
    &:focus {
      @apply outline-success border-success;
    }
  }
  &-warning {
    @apply border-warning;
    &:focus {
      @apply outline-warning border-warning;
    }
  }
  &-error {
    @apply border-error;
    &:focus {
      @apply outline-error border-error;
    }
  }
  &-disabled,
  &:disabled,
  &[disabled] {
    @apply border-base-200 bg-base-200 placeholder-base-content cursor-not-allowed text-opacity-20 placeholder-opacity-20;
  }
}
