.toggle{
  --chkbg: hsla(var(--bc)/.2);
  --focus-shadow: 0 0 0;
  --handleoffset: 1.5rem;
  @apply appearance-none w-12 h-6 rounded-badge border border-base-content border-opacity-20 cursor-pointer ease-in-out duration-300 bg-base-content bg-opacity-20;
  transition: background,box-shadow var(--animation-input, .2s) ease-in-out;
  box-shadow: calc( var(--handleoffset) * -1 ) 0 0 2px hsl(var(--b1)) inset, 0 0 0 2px hsl(var(--b1)) inset, var(--focus-shadow);
  &:focus-visible {
    --focus-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--bc));
  }
  &:checked{
    --chkbg: hsl(var(--bc));
    @apply border-opacity-100 bg-opacity-100;
    box-shadow: var(--handleoffset) 0 0 2px hsl(var(--b1)) inset, 0 0 0 2px hsl(var(--b1)) inset, var(--focus-shadow);
    [dir=rtl] &{
      box-shadow: calc( var(--handleoffset) * 1 ) 0 0 2px hsl(var(--b1)) inset, 0 0 0 2px hsl(var(--b1)) inset, var(--focus-shadow);
    }
  }
  &-primary{
    &:focus-visible {
      --focus-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
    &:checked{
      --chkbg: hsl(var(--p));
      @apply border-primary;
      @apply bg-primary border-opacity-10 border-primary text-primary-content;
    }
  }
  &-secondary{
    &:focus-visible {
      --focus-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--s));
    }
    &:checked{
      --chkbg: hsl(var(--s));
      @apply border-secondary;
      @apply bg-secondary border-opacity-10 border-secondary text-secondary-content;
    }
  }
  &-accent{
    &:focus-visible {
      --focus-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--a));
    }
    &:checked{
      --chkbg: hsl(var(--a));
      @apply border-accent;
      @apply bg-accent border-opacity-10 border-accent text-accent-content;
    }
  }
  &:disabled{
    @apply bg-base-content bg-opacity-20 cursor-not-allowed border-transparent;
  }
}

/* backward comptability */
.toggle-mark{
  @apply hidden;
}