.tooltip.tooltip {
  &-primary {
    --tooltip-color: hsl(var(--p));
    --tooltip-text-color: hsl(var(--pc));
  }
  &-secondary {
    --tooltip-color: hsl(var(--s));
    --tooltip-text-color: hsl(var(--sc));
  }
  &-accent {
    --tooltip-color: hsl(var(--a));
    --tooltip-text-color: hsl(var(--ac));
  }
  &-info {
    --tooltip-color: hsl(var(--in));
    --tooltip-text-color: hsl(var(--inc));
  }
  &-success {
    --tooltip-color: hsl(var(--su));
    --tooltip-text-color: hsl(var(--suc));
  }
  &-warning {
    --tooltip-color: hsl(var(--wa));
    --tooltip-text-color: hsl(var(--wac));
  }
  &-error {
    --tooltip-color: hsl(var(--er));
    --tooltip-text-color: hsl(var(--erc));
  }
}
