/* v0.4 backward compatibility */
/* .prose{
  a,
  blockquote,
  figure figcaption,
  a code,
  thead,
  strong,
  .lead,
  h1,
  h2,
  h3,
  h4{
    color: inherit;
  }
  tbody tr,
  thead{
    border-bottom-color: hsl(var(--bc) / 20%);
  }
  ul > li:before{
    background-color: hsl(var(--bc) / 40%);
  }
  ol > li:before{
    color: hsl(var(--bc) / 40%);
  }
} */




/* main */
.prose{
  color: inherit;
  & :where(
    a,
    blockquote,
    figure figcaption,
    a code,
    thead,
    strong,
    .lead,
    h1,
    h2,
    h3,
    h4
  ):not(:where([class~="not-prose"] *)){
    color: inherit;
  }
  & :where(code):not(:where([class~="not-prose"] *)){
    background: hsla(var(--bc) / .1);
    color: hsl(var(--bc));
    padding: 2px 8px;
    border-radius: var(--rounded-badge);
  }
  & code:after, 
  & code:before{
    content: none;
  }
  pre{
    background: hsl(var(--n));
    color: hsl(var(--nc));
    border-radius: var(--rounded-box);
    code{
      border-radius: none;
      background: inherit;
      padding: 0;
      color: inherit;
    }
  }
  blockquote{
    border-left-color: hsl(var(--bc) / 40%);
  }
  & :where(ul > li, ol > li):not(:where([class~="not-prose"] *))::marker{
    color: hsl(var(--bc) / 40%);
  }
  & :where(thead th, tbody td):not(:where([class~="not-prose"] *)){
    color: inherit;
  }
  & :where(tbody tr, thead):not(:where([class~="not-prose"] *)){
    border-bottom-color: hsl(var(--bc) / 20%);
  }
}
