.prose a,
.prose blockquote,
.prose figure figcaption,
.prose a code,
.prose thead,
.prose strong,
.prose .lead,
.prose h1,
.prose h2,
.prose h3,
.prose h4{
  color: inherit;
}
.prose tbody tr,
.prose thead{
  border-bottom-color: hsl(var(--bc) / 20%);
}
.prose ul > li:before{
  background-color: hsl(var(--bc) / 40%);
}
.prose ol > li:before{
  color: hsl(var(--bc) / 40%);
}
