.input {
    height: var(--spacing-10, 2.5rem);
    flex-shrink: 1;
    appearance: none;
    border-radius: var(--radius-btn, 0.5rem);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: transparent;
    background-color: var(--color-base-100, oklch(100% 0 0));
    padding-left: var(--spacing-4, 1rem);
    padding-right: var(--spacing-4, 1rem);
    vertical-align: middle;
    font-size: var(--font-size-base, 1rem);
    line-height: var(--tw-leading, var(--font-size-base--line-height, 1.5rem));
    font-size: var(--font-size-sm, 0.875rem);
    line-height: var(--tw-leading, var(--font-size-sm--line-height, 1.25rem));
    --tw-leading: var(--line-height-loose, 2);
    line-height: var(--line-height-loose, 2);
    input {
      --tw-border-style: none;
      border-style: none;
      background-color: transparent;
      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
    &:focus, &:focus-within {
      border-color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 20%, transparent);
      outline-style: var(--tw-outline-style);
      outline-width: 1px;
      outline-style: var(--tw-outline-style);
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 20%, transparent);
    }
    &:has(> input[disabled]), &:is(:disabled, [disabled]) {
      cursor: not-allowed;
      border-color: var(--color-base-200, oklch(96.1151% 0 0));
      background-color: var(--color-base-200, oklch(96.1151% 0 0));
      color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 40%, transparent);
      &::placeholder {
        color: var(--color-base-content, oklch(27.8078% 0.029596 256.84795));
      }
      &::placeholder {
        color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 20%, transparent);
      }
    }
    &:has(> input[disabled])>input[disabled] {
      cursor: not-allowed;
    }
    &::-webkit-date-and-time-value {
      text-align: inherit;
    }
    &[type="number"] {
      &::-webkit-inner-spin-button {
        margin-top: calc(var(--spacing-4, 1rem) * -1);
        margin-bottom: calc(var(--spacing-4, 1rem) * -1);
        margin-inline-end: calc(var(--spacing-4, 1rem) * -1);
      }
    }
    &[list] {
      &::-webkit-calendar-picker-indicator {
        line-height: 1em;
      }
    }
    &.input-bordered {
      border-color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 20%, transparent);
      box-shadow: 0 1px oklch(0% 0 0 / 0.1) inset, 0 -1px oklch(100% 0 0 / 0.1) inset;
      &:focus {
        box-shadow: 0 1px oklch(0% 0 0 / 0.1);
      }
    }
    &.input-ghost {
      background-color: color-mix(in srgb, var(--color-base-100, oklch(100% 0 0)) 5%, transparent);
      --tw-shadow: 0 0 #0000;
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      &:focus, &:focus-within {
        background-color: var(--color-base-100, oklch(100% 0 0));
        color: var(--color-base-content, oklch(27.8078% 0.029596 256.84795));
        box-shadow: none;
      }
    }
    &.input-primary {
      border-color: var(--color-primary, oklch(49.12% 0.3096 275.75));
      background-color: color-mix(in oklab, var(--color-primary) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-primary, oklch(49.12% 0.3096 275.75));
        outline-color: var(--color-primary, oklch(49.12% 0.3096 275.75));
      }
    }
    &.input-secondary {
      border-color: var(--color-secondary, oklch(69.71% 0.329 342.55));
      background-color: color-mix(in oklab, var(--color-secondary) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-secondary, oklch(69.71% 0.329 342.55));
        outline-color: var(--color-secondary, oklch(69.71% 0.329 342.55));
      }
    }
    &.input-accent {
      border-color: var(--color-accent, oklch(76.76% 0.184 183.61));
      background-color: color-mix(in oklab, var(--color-accent) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-accent, oklch(76.76% 0.184 183.61));
        outline-color: var(--color-accent, oklch(76.76% 0.184 183.61));
      }
    }
    &.input-info {
      border-color: var(--color-info, oklch(72.06% 0.191 231.6));
      background-color: color-mix(in oklab, var(--color-info) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-info, oklch(72.06% 0.191 231.6));
        outline-color: var(--color-info, oklch(72.06% 0.191 231.6));
      }
    }
    &.input-success {
      border-color: var(--color-success, oklch(64.8% 0.15 160));
      background-color: color-mix(in oklab, var(--color-success) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-success, oklch(64.8% 0.15 160));
        outline-color: var(--color-success, oklch(64.8% 0.15 160));
      }
    }
    &.input-warning {
      border-color: var(--color-warning, oklch(84.71% 0.199 83.87));
      background-color: color-mix(in oklab, var(--color-warning) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-warning, oklch(84.71% 0.199 83.87));
        outline-color: var(--color-warning, oklch(84.71% 0.199 83.87));
      }
    }
    &.input-error {
      border-color: var(--color-error, oklch(71.76% 0.221 22.18));
      background-color: color-mix(in oklab, var(--color-error) 2%, transparent);
      &:focus, &:focus-within {
        border-color: var(--color-error, oklch(71.76% 0.221 22.18));
        outline-color: var(--color-error, oklch(71.76% 0.221 22.18));
      }
    }
    &.input-xs {
      height: var(--spacing-6, 1.5rem);
      padding-left: var(--spacing-2, 0.5rem);
      padding-right: var(--spacing-2, 0.5rem);
      font-size: var(--font-size-xs, 0.75rem);
      line-height: var(--tw-leading, var(--font-size-xs--line-height, 1rem));
      --tw-leading: var(--line-height-relaxed, 1.625);
      line-height: var(--line-height-relaxed, 1.625);
      &[type="number"] {
        &::-webkit-inner-spin-button {
          margin-top: calc(var(--spacing-1, 0.25rem) * -1);
          margin-bottom: calc(var(--spacing-1, 0.25rem) * -1);
          margin-inline-end: calc(var(--spacing-0, 0px) * -1);
        }
      }
    }
    &.input-sm {
      height: var(--spacing-8, 2rem);
      padding-left: var(--spacing-3, 0.75rem);
      padding-right: var(--spacing-3, 0.75rem);
      font-size: var(--font-size-sm, 0.875rem);
      line-height: var(--tw-leading, var(--font-size-sm--line-height, 1.25rem));
      --tw-leading: var(--line-height-8, 2rem);
      line-height: var(--line-height-8, 2rem);
      &[type="number"] {
        &::-webkit-inner-spin-button {
          margin-top: var(--spacing-0, 0px);
          margin-bottom: var(--spacing-0, 0px);
          margin-inline-end: calc(var(--spacing-0, 0px) * -1);
        }
      }
    }
    &.input-md {
      height: var(--spacing-10, 2.5rem);
      padding-left: var(--spacing-4, 1rem);
      padding-right: var(--spacing-4, 1rem);
      font-size: var(--font-size-sm, 0.875rem);
      line-height: var(--tw-leading, var(--font-size-sm--line-height, 1.25rem));
      --tw-leading: var(--line-height-loose, 2);
      line-height: var(--line-height-loose, 2);
      &[type="number"] {
        &::-webkit-inner-spin-button {
          margin-top: calc(var(--spacing-4, 1rem) * -1);
          margin-bottom: calc(var(--spacing-4, 1rem) * -1);
          margin-inline-end: calc(var(--spacing-4, 1rem) * -1);
        }
      }
    }
    &.input-lg {
      height: var(--spacing-14, 3.5rem);
      padding-left: var(--spacing-6, 1.5rem);
      padding-right: var(--spacing-6, 1.5rem);
      font-size: var(--font-size-lg, 1.125rem);
      line-height: var(--tw-leading, var(--font-size-lg--line-height, 1.75rem));
      --tw-leading: var(--line-height-loose, 2);
      line-height: var(--line-height-loose, 2);
      &[type="number"] {
        &::-webkit-inner-spin-button {
          margin-top: calc(var(--spacing-6, 1.5rem) * -1);
          margin-bottom: calc(var(--spacing-6, 1.5rem) * -1);
          margin-inline-end: calc(var(--spacing-6, 1.5rem) * -1);
        }
      }
    }
  }