.radio {
    position: relative;
    width: var(--spacing-6, 1.5rem);
    height: var(--spacing-6, 1.5rem);
    flex-shrink: 0;
    cursor: pointer;
    appearance: none;
    border-radius: calc(infinity * 1px);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 20%, transparent);
    padding: var(--spacing-1, 0.25rem);
    vertical-align: middle;
    color: var(--color-base-content, oklch(27.8078% 0.029596 256.84795));
    box-shadow: 0 1px oklch(0% 0 0 / 0.1) inset;
    &:before {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: calc(infinity * 1px);
      content: "";
    }
    &:focus-visible {
      outline-style: var(--tw-outline-style);
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: currentColor;
    }
    &:checked, &[aria-checked="true"] {
      animation: radiomark var(--animation-input, 0.2s) ease-out;
      border-color: currentColor;
      background-color: var(--color-base-100, oklch(100% 0 0));
      &:before {
        background-color: currentColor;
        box-shadow: 0 -1px oklch(0% 0 0 / 0.1) inset, 0 8px 0 -4px oklch(100% 0 0 / 0.1) inset, 0 1px oklch(0% 0 0 / 0.1);
      }
    }
  }
  .radio-primary {
    border-color: currentColor;
    color: var(--color-primary, oklch(49.12% 0.3096 275.75));
  }
  .radio-secondary {
    border-color: currentColor;
    color: var(--color-secondary, oklch(69.71% 0.329 342.55));
  }
  .radio-accent {
    border-color: currentColor;
    color: var(--color-accent, oklch(76.76% 0.184 183.61));
  }
  .radio-success {
    border-color: currentColor;
    color: var(--color-success, oklch(64.8% 0.15 160));
  }
  .radio-warning {
    border-color: currentColor;
    color: var(--color-warning, oklch(84.71% 0.199 83.87));
  }
  .radio-info {
    border-color: currentColor;
    color: var(--color-info, oklch(72.06% 0.191 231.6));
  }
  .radio-error {
    border-color: currentColor;
    color: var(--color-error, oklch(71.76% 0.221 22.18));
  }
  .radio:disabled {
    cursor: not-allowed;
    opacity: 20%;
  }
  @keyframes radiomark {
    0% {
      padding: 5px;
    }
    50% {
      padding: 3px;
    }
  }
  .radio-xs {
    &:is([type="radio"]) {
      width: var(--spacing-4, 1rem);
      height: var(--spacing-4, 1rem);
    }
  }
  .radio-sm {
    &:is([type="radio"]) {
      width: var(--spacing-5, 1.25rem);
      height: var(--spacing-5, 1.25rem);
    }
  }
  .radio-md {
    &:is([type="radio"]) {
      width: var(--spacing-6, 1.5rem);
      height: var(--spacing-6, 1.5rem);
    }
  }
  .radio-lg {
    &:is([type="radio"]) {
      width: var(--spacing-8, 2rem);
      height: var(--spacing-8, 2rem);
    }
  }