.radio {
  @apply border-base-content/20 h-6 w-6 cursor-pointer appearance-none rounded-full border shrink-0 text-base-content relative p-[4px];
  box-shadow: 0 1px oklch(0% 0 0 / 0.1) inset;
  &:before {
    @apply rounded-full size-full block;
    content: "";
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-current;
  }
  &:checked,
  &[aria-checked="true"] {
    animation: radiomark var(--animation-input, 0.2s) ease-out;
    @apply bg-base-100 border-current;
    &:before {
      @apply bg-current;
      box-shadow: 0 -1px oklch(0% 0 0 / 0.1) inset,
        0 8px 0 -4px oklch(100% 0 0 / 0.1) inset, 0 1px oklch(0% 0 0 / 0.1);
    }
  }
}
.radio-primary {
  @apply text-primary;
}
.radio-secondary {
  @apply text-secondary;
}
.radio-accent {
  @apply text-accent;
}
.radio-success {
  @apply text-success;
}
.radio-warning {
  @apply text-warning;
}
.radio-info {
  @apply text-info;
}
.radio-error {
  @apply text-error;
}
.radio:disabled {
  @apply cursor-not-allowed opacity-20;
}

@keyframes radiomark {
  0% {
    padding: 5px;
  }
  50% {
    padding: 3px;
  }
  100% {
    padding: 4px;
  }
}

/* responsive */

[type="radio"].radio-xs {
  @apply size-4;
}
[type="radio"].radio-sm {
  @apply size-5;
}
[type="radio"].radio-md {
  @apply size-6;
}
[type="radio"].radio-lg {
  @apply size-8;
}
