.range {
    appearance: none;
    -webkit-appearance: none;
    --range-shdw: currentColor;
    height: var(--spacing-6, 1.5rem);
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--radius-box, 1rem);
    --tw-border-style: none;
    border-style: none;
    background-color: transparent;
    vertical-align: middle;
    &:focus {
      outline: none;
    }
    &:focus-visible {
      --focus-shadow: 0 0 0 6px var(--color-base-100) inset, 0 0 0 2rem var(--range-shdw) inset;
    }
    &::-webkit-slider-runnable-track {
      height: var(--spacing-2, 0.5rem);
      width: 100%;
      border-radius: var(--radius-box, 1rem);
      background-color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 10%, transparent);
    }
    &::-webkit-slider-thumb {
      position: relative;
      height: var(--spacing-6, 1.5rem);
      width: var(--spacing-6, 1.5rem);
      border-radius: var(--radius-box, 1rem);
      --tw-border-style: none;
      border-style: none;
      background-color: var(--color-base-100, oklch(100% 0 0));
      appearance: none;
      -webkit-appearance: none;
      top: 50%;
      color: var(--range-shdw);
      transform: translateY(-50%);
      --filler-size: 100rem;
      --filler-offset: 0.6rem;
      --track-shdw: calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
      box-shadow: 0 0 0 3px var(--range-shdw) inset, var(--focus-shadow, 0 0), var(--track-shdw);
    }
    [dir=rtl] &::-webkit-slider-thumb {
      --track-shdw: calc(var(--filler-size) * 1 + var(--filler-offset)) 0 0 var(--filler-size);
    }
    &::-moz-range-track {
      height: var(--spacing-2, 0.5rem);
      width: 100%;
      border-radius: var(--radius-box, 1rem);
      background-color: color-mix(in srgb, var(--color-base-content, oklch(27.8078% 0.029596 256.84795)) 10%, transparent);
    }
    &::-moz-range-thumb {
      position: relative;
      height: var(--spacing-6, 1.5rem);
      width: var(--spacing-6, 1.5rem);
      border-radius: var(--radius-box, 1rem);
      --tw-border-style: none;
      border-style: none;
      background-color: var(--color-base-100, oklch(100% 0 0));
      top: 50%;
      color: var(--range-shdw);
      --filler-size: 100rem;
      --filler-offset: 0.5rem;
      box-shadow: 0 0 0 3px var(--range-shdw) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
    }
  }
  .range-primary {
    color: var(--color-primary, oklch(49.12% 0.3096 275.75));
  }
  .range-secondary {
    color: var(--color-secondary, oklch(69.71% 0.329 342.55));
  }
  .range-accent {
    color: var(--color-accent, oklch(76.76% 0.184 183.61));
  }
  .range-success {
    color: var(--color-success, oklch(64.8% 0.15 160));
  }
  .range-warning {
    color: var(--color-warning, oklch(84.71% 0.199 83.87));
  }
  .range-info {
    color: var(--color-info, oklch(72.06% 0.191 231.6));
  }
  .range-error {
    color: var(--color-error, oklch(71.76% 0.221 22.18));
  }
  .range-xs {
    height: var(--spacing-4, 1rem);
    &::-webkit-slider-runnable-track {
      height: var(--spacing-1, 0.25rem);
    }
    &::-webkit-slider-thumb {
      width: var(--spacing-4, 1rem);
      height: var(--spacing-4, 1rem);
      --filler-offset: 0.4rem;
    }
    &::-moz-range-track {
      height: var(--spacing-1, 0.25rem);
    }
    &::-moz-range-thumb {
      width: var(--spacing-4, 1rem);
      height: var(--spacing-4, 1rem);
      --filler-offset: 0.4rem;
    }
  }
  .range-sm {
    height: var(--spacing-5, 1.25rem);
    &::-webkit-slider-runnable-track {
      height: var(--spacing-1, 0.25rem);
    }
    &::-webkit-slider-thumb {
      width: var(--spacing-5, 1.25rem);
      height: var(--spacing-5, 1.25rem);
      --filler-offset: 0.5rem;
    }
    &::-moz-range-track {
      height: var(--spacing-1, 0.25rem);
    }
    &::-moz-range-thumb {
      width: var(--spacing-5, 1.25rem);
      height: var(--spacing-5, 1.25rem);
      --filler-offset: 0.5rem;
    }
  }
  .range-md {
    height: var(--spacing-6, 1.5rem);
    &::-webkit-slider-runnable-track {
      height: var(--spacing-2, 0.5rem);
    }
    &::-webkit-slider-thumb {
      width: var(--spacing-6, 1.5rem);
      height: var(--spacing-6, 1.5rem);
      --filler-offset: 0.6rem;
    }
    &::-moz-range-track {
      height: var(--spacing-2, 0.5rem);
    }
    &::-moz-range-thumb {
      width: var(--spacing-6, 1.5rem);
      height: var(--spacing-6, 1.5rem);
      --filler-offset: 0.6rem;
    }
  }
  .range-lg {
    height: var(--spacing-8, 2rem);
    &::-webkit-slider-runnable-track {
      height: var(--spacing-4, 1rem);
    }
    &::-webkit-slider-thumb {
      width: var(--spacing-8, 2rem);
      height: var(--spacing-8, 2rem);
      --filler-offset: 1rem;
    }
    &::-moz-range-track {
      height: var(--spacing-4, 1rem);
    }
    &::-moz-range-thumb {
      width: var(--spacing-8, 2rem);
      height: var(--spacing-8, 2rem);
      --filler-offset: 1rem;
    }
  }