.rating {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    & input {
      appearance: none;
      --tw-border-style: none;
      border-style: none;
      -webkit-appearance: none;
    }
    :where(input) {
      animation: rating-pop var(--animation-input, 0.25s) ease-out;
      height: var(--spacing-6, 1.5rem);
      width: var(--spacing-6, 1.5rem);
      cursor: pointer;
      border-radius: 0;
      background-color: var(--color-base-content, oklch(27.8078% 0.029596 256.84795));
      opacity: 100%;
    }
    & .rating-hidden {
      width: var(--spacing-2, 0.5rem);
      background-color: transparent;
    }
    input[type="radio"]:checked {
      background-image: none;
    }
    input {
      &:checked, &[aria-checked="true"] {
        &~input {
          opacity: 20%;
        }
      }
      &:focus-visible {
        transition-property: transform, translate, scale, rotate;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(0.4, 0, 0.2, 1)));
        transition-duration: var(--tw-duration, var(--default-transition-duration, 150ms));
        --tw-duration: 300ms;
        transition-duration: 300ms;
        --tw-ease: var(--transition-timing-function-out, cubic-bezier(0, 0, 0.2, 1));
        transition-timing-function: var(--transition-timing-function-out, cubic-bezier(0, 0, 0.2, 1));
        transform: translateY(-0.125em);
      }
    }
    & input:active:focus {
      animation: none;
    }
    & input:active:focus {
      transform: translateY(-0.125em);
    }
    &:is(.rating-xs) {
      input {
        width: var(--spacing-3, 0.75rem);
        height: var(--spacing-3, 0.75rem);
      }
    }
    &:is(.rating-sm) {
      input {
        width: var(--spacing-4, 1rem);
        height: var(--spacing-4, 1rem);
      }
    }
    &:is(.rating-md) {
      input {
        width: var(--spacing-6, 1.5rem);
        height: var(--spacing-6, 1.5rem);
      }
    }
    &:is(.rating-lg) {
      input {
        width: var(--spacing-10, 2.5rem);
        height: var(--spacing-10, 2.5rem);
      }
    }
  }
  .rating-half {
    :where(input:not(.rating-hidden)) {
      width: var(--spacing-3, 0.75rem);
    }
  }
  @keyframes rating-pop {
    0% {
      transform: translateY(-0.125em);
    }
    40% {
      transform: translateY(-0.125em);
    }
    100% {
      transform: translateY(0);
    }
  }
  .rating-half {
    &.rating-xs input:not(.rating-hidden) {
      width: var(--spacing-1_5, 0.375rem);
    }
    &.rating-sm input:not(.rating-hidden) {
      width: var(--spacing-2, 0.5rem);
    }
    &.rating-md input:not(.rating-hidden) {
      width: var(--spacing-3, 0.75rem);
    }
    &.rating-lg input:not(.rating-hidden) {
      width: var(--spacing-5, 1.25rem);
    }
  }