.badge {
  @apply inline-flex items-center justify-center transition duration-200 ease-in-out;
  @apply h-5 text-sm leading-5;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
}
