.badge {
  @apply inline-flex transition duration-200 ease-in-out justify-center items-center;
  @apply text-sm leading-5 h-5;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
}
