.btn {
  @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out rounded-btn;
  @apply h-12 px-4 text-sm min-h-12;
  line-height: 1em;

  /* disabled */
  &-disabled,
  &[disabled],
  &:disabled {
    @apply pointer-events-none;
  }

  /* shapes */
  &-square {
    @apply h-12 w-12 p-0;
  }
  &-circle {
    @apply h-12 w-12 rounded-full p-0;
  }
}

/* group */
.btn-group {
  @apply inline-flex;
  & > input[type="radio"].btn {
    @apply appearance-none;
  }
  & > input[type="radio"].btn:before {
    content: attr(data-title);
  }
}

/* radio input and checkbox as button */
input[type="checkbox"].btn,
input[type="radio"].btn {
  @apply appearance-none;
}
input[type="checkbox"].btn:after,
input[type="radio"].btn:after {
  @apply content-[attr(aria-label)];
}
