.footer{
  @apply grid grid-flow-row place-items-start;
  &>*{
    @apply grid grid-flow-row place-items-start;
  }
  &-center{
    @apply text-center place-items-center;
    &>*{
      @apply place-items-center;
    }
  }
}
@media (min-width:48rem) {
  .footer {
    grid-auto-flow:column;
  }
  .footer-center{
    grid-auto-flow:row dense;
  }
}