.join {
  @apply inline-flex items-stretch;
  & :where(.join-item) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  & .join-item:not(:first-child):not(:last-child),
  & *:not(:first-child):not(:last-child) .join-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  & .join-item:first-child:not(:last-child),
  & *:first-child:not(:last-child) .join-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & :where(.join-item:first-child:not(:last-child)),
  & :where(*:first-child:not(:last-child) .join-item) {
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
  }

  & .join-item:last-child:not(:first-child),
  & *:last-child:not(:first-child) .join-item {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  & :where(.join-item:last-child:not(:first-child)),
  & :where(*:last-child:not(:first-child) .join-item) {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}
:where(.join *) {
  @apply rounded-[inherit];
}
