.menu {
  @apply flex flex-col flex-wrap text-sm;
  :where(li ul) {
    @apply relative whitespace-nowrap;
  }
  :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply grid grid-flow-col items-center gap-2 content-start;
    grid-auto-columns: max-content auto max-content;
    user-select: none;
  }
  & li.disabled {
    @apply cursor-not-allowed select-none;
  }
  :where(li > .menu-dropdown:not(.menu-dropdown-show)) {
    @apply hidden;
  }
}
:where(.menu li) {
  @apply relative flex flex-col flex-wrap items-stretch shrink-0;
  .badge {
    @apply justify-self-end;
  }
}
