.modal {
  @apply inset-0 opacity-0 pointer-events-none fixed flex items-end justify-center sm:items-center;
  z-index: 999;
}
.modal-box {
  max-height: calc(100vh - 5em);
}
.modal-open,
.modal:target,
.modal-toggle:checked + .modal {
  @apply visible opacity-100 pointer-events-auto;
}
.modal-action {
  @apply flex;
}
.modal-toggle {
  @apply appearance-none opacity-0 w-0 h-0 fixed;
}
