.steps {
  @apply inline-grid grid-flow-col overflow-hidden overflow-x-auto;
  counter-reset: step;
  grid-auto-columns: 1fr;
  .step {
    @apply grid grid-cols-1 grid-rows-2 place-items-center text-center;
  }
}