.tabs {
  @apply flex flex-wrap items-end;
}
.tab {
  @apply relative inline-flex cursor-pointer select-none flex-wrap items-center justify-center text-center;
  @apply h-8 text-sm leading-loose;
  --tab-padding: 1rem;
}
