[data-theme='aqua'] {
  --p: 189 100% 63%;
  --pf: 189 100% 53%;
  --pc: 0 0% 0%;
  
  --s: 274 31% 57%;
  --sf: 274 31% 47%;
  --sc: 0 0% 100%;
  
  --a: 47 100% 80%;
  --af: 47 100% 70%;
  --ac: 0 0% 100%;
  
  --n: 231 77% 33%;
  --nf: 231 68% 29%;
  --nc: 0 0% 100%;
  
  --b1: 231 89% 38%;
  --b2: 231 77% 33%;
  --b3: 231 68% 29%;
  --bc: 0 0% 100%;
}