[data-theme='bumblebee'] {
  --p: 50 94% 58%;
  --pf: 50 94% 48%;
  --pc: 240 34% 14%;
  
  --s: 41 74% 53%;
  --sf: 41 74% 43%;
  --sc: 0 0% 100%;
  
  --a: 240 34% 14%;
  --af: 240 33% 10%;
  --ac: 0 0% 100%;
  
  --n: 240 34% 14%;
  --nf: 240 33% 10%;
  --nc: 0 0% 100%;
  
  --b1: 0 0% 100%;
  --b2: 0 0% 96%;
  --b3: 0 0% 89%;
  --bc: 0 0% 0%;
}