[data-theme='corporate'] {
  --p: 229 96% 64%;
  --pf: 229 96% 54%;
  --pc: 234 28% 13%;
  
  --s: 215 26% 59%;
  --sf: 215 26% 49%;
  --sc: 234 28% 13%;
  
  --a: 154 49% 60%;
  --af: 154 49% 50%;
  --ac: 234 28% 13%;
  
  --n: 234 28% 13%;
  --nf: 234 28% 3%;
  --nc: 210 38% 95%;
  
  --b1: 0 0% 100%;
  --b2: 210 60% 98%;
  --b3: 210 38% 95%;
  --bc: 234 28% 13%;

  --animation-btn: 0;
  --animation-input: 0;

  --btn-focus-scale: 1;

}