[data-theme='cupcake'] {
  --p: 183 47% 59%;
  --pf: 183 47% 49%;
  --pc: 0 0% 100%;

  --s: 338 72% 78%;
  --sf: 338 72% 68%;
  --sc: 0 0% 100%;

  --a: 39 84% 58%;
  --af: 39 84% 48%;
  --ac: 0 0% 100%;

  --n: 279 47% 14%;
  --nf: 279 46% 11%;
  --nc: 0 0% 100%;

  --b1: 24 33% 97%;
  --b2: 23 22% 92%;
  --b3: 22 14% 89%;
  --bc: 279 47% 14%;
}