[data-theme="cyberpunk"] {
  --p: 345 100% 73%;
  --pf: 344 100% 67%;
  --pc: 0 0% 0%;

  --s: 195 80% 70%;
  --sf: 194 66% 61%;
  --sc: 0 0% 0%;

  --a: 276 74% 71%;
  --af: 276 76% 63%;
  --ac: 0 0% 0%;

  --n: 57 100% 13%;
  --nf: 55 86% 2%;
  --nc: 56 100% 50%;

  --b1: 56 100% 50%;
  --b2: 56 100% 43%;
  --b3: 56 100% 36%;
  --bc: 0 0% 0%;
  
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
}
