[data-theme='cyberpunk'] {
  --d: 56 100% 50%;
  --p1: 345 100% 73%;
  --p2: 344 100% 67%;
  --p3: 345 54% 52%;
  --s1: 195 80% 70%;
  --s2: 194 66% 61%;
  --s3: 195 53% 53%;
  --a1: 276 74% 71%;
  --a2: 276 76% 63%;
  --a3: 276 56% 55%;
  --cp: 0 0% 0%;
  --cs: 0 0% 0%;
  --ca: 0 0% 0%;
  --c1: 56 100% 48%;
  --c2: 56 100% 43%;
  --c3: 56 100% 36%;
  --c4: 56 100% 30%;
  --c5: 56 100% 25%;
  --c6: 56 100% 20%;
  --c7: 57 100% 13%;
  --c8: 55 86% 2%;
  --c9: 0 0% 0%;
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;

  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
}