[data-theme='dark'] {
  --p: 259 94% 61%;
  --pf: 259 94% 51%;
  --pc: 0 0% 100%;
  
  --s: 314 100% 47%;
  --sf: 314 100% 37%;
  --sc: 0 0% 100%;
  
  --a: 174 60% 51%;
  --af: 174 60% 41%;
  --ac: 0 0% 100%;
  
  --n: 222 13% 19%;
  --nf: 223 14% 10%;
  --nc: 0 0% 100%;
  
  --b1: 219 14% 28%;
  --b2: 222 13% 19%;
  --b3: 223 14% 10%;
  --bc: 228 14% 93%;
  
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}
@media (prefers-color-scheme: dark){
  :root{
    --p: 259 94% 61%;
    --pf: 259 94% 51%;
    --pc: 0 0% 100%;
    
    --s: 314 100% 47%;
    --sf: 314 100% 37%;
    --sc: 0 0% 100%;
    
    --a: 174 60% 51%;
    --af: 174 60% 41%;
    --ac: 0 0% 100%;
    
    --n: 222 13% 19%;
    --nf: 223 14% 10%;
    --nc: 0 0% 100%;
    
    --b1: 219 14% 28%;
    --b2: 222 13% 19%;
    --b3: 223 14% 10%;
    --bc: 228 14% 93%;
    
    --in: 207 90% 54%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57%;
  }
}