[data-theme='dracula'] {
  --p: 330 100% 85%;
  --pf: 330 100% 75%;
  --pc: 233 13% 13%;
  
  --s: 115 100% 85%;
  --sf: 115 100% 75%;
  --sc: 233 13% 13%;
  
  --a: 60 100% 85%;
  --af: 60 100% 75%;
  --ac: 233 13% 13%;
  
  --n: 245 14% 15%;
  --nf: 233 13% 13%;
  --nc: 251 100% 90%;
  
  --b1: 245 13% 21%;
  --b2: 245 14% 15%;
  --b3: 233 13% 13%;
  --bc: 251 100% 90%;
}