[data-theme='emerald'] {
  --p: 141 50% 60%;
  --pf: 141 50% 50%;
  --pc: 210 25% 98%;
  
  --s: 219 96% 60%;
  --sf: 219 96% 50%;
  --sc: 210 25% 98%;
  
  --a: 10 81% 56%;
  --af: 10 81% 46%;
  --ac: 210 25% 98%;
  
  --n: 218 20% 25%;
  --nf: 218 20% 15%;
  --nc: 210 25% 98%;
  
  --b1: 0 0% 100%;
  --b2: 210 25% 98%;
  --b3: 0 0% 95%;
  --bc: 218 20% 25%;

  --animation-btn: 0;
  --animation-input: 0;

  --btn-focus-scale: 1;

}