[data-theme='fantasy'] {
  --p: 296 83% 25%;
  --pf: 296 83% 15%;
  --pc: 0 0% 100%;

  --s: 200 100% 37%;
  --sf: 200 100% 27%;
  --sc: 0 0% 100%;

  --a: 31 94% 51%;
  --af: 31 94% 41%;
  --ac: 0 0% 100%;

  --n: 215 28% 17%;
  --nf: 221 39% 11%;
  --nc: 0 0% 100%;

  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12% 84%;
  --bc: 215 28% 17%;
}