[data-theme='forest'] {
  --p: 141 72% 42%;
  --pf: 141 72% 32%;
  --pc: 0 0% 100%;

  --s: 141 75% 48%;
  --sf: 141 75% 38%;
  --sc: 0 0% 100%;

  --a: 35 69% 52%;
  --af: 35 69% 42%;
  --ac: 0 0% 100%;

  --n: 0 9% 6%;
  --nf: 0 20% 2%;
  --nc: 0 0% 100%;

  --b1: 0 11% 8%;
  --b2: 0 9% 6%;
  --b3: 0 20% 2%;
  --bc: 0 0% 100%;
}