[data-theme='garden'] {
  --d: 0 4% 91%;
  --p1: 138 16% 43%;
  --p2: 138 15% 33%;
  --p3: 138 16% 23%;
  --s1: 97 37% 93%;
  --s2: 97 36% 82%;
  --s3: 97 36% 72%;
  --a1: 0 69% 94%;
  --a2: 0 70% 85%;
  --a3: 0 71% 75%;
  --cp: 0 0% 100%;
  --cs: 96 33% 15%;
  --ca: 0 22% 16%;
  --c1: 0 4% 86%;
  --c2: 0 5% 81%;
  --c3: 0 5% 71%;
  --c4: 0 5% 61%;
  --c5: 0 4% 51%;
  --c6: 0 5% 41%;
  --c7: 0 4% 35%;
  --c8: 0 4% 16%;
  --c9: 0 3% 6%;
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;

  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 9999px;
}
