[data-theme='garden'] {
  --p: 138 16% 43%;
  --pf: 138 15% 33%;
  --pc: 0 0% 100%;
  
  --s: 97 37% 93%;
  --sf: 97 36% 82%;
  --sc: 96 33% 15%;
  
  --a: 0 69% 94%;
  --af: 0 70% 85%;
  --ac: 0 22% 16%;
  
  --n: 0 4% 35%;
  --nf: 0 4% 16%;
  --nc: 0 4% 91%;
  
  --b1: 0 4% 91%;
  --b2: 0 5% 81%;
  --b3: 0 5% 71%;
  --bc: 0 3% 6%;
  
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 9999px;
}
