[data-theme='halloween'] {
  --p: 32 89% 52%;
  --pf: 32 89% 42%;
  --pc: 180 6% 8%;

  --s: 271 46% 42%;
  --sf: 271 46% 32%;
  --sc: 0 0% 100%;

  --a: 91 100% 33%;
  --af: 91 100% 23%;
  --ac: 0 0% 100%;

  --n: 180 3% 11%;
  --nf: 180 6% 8%;
  --nc: 0 0% 100%;

  --b1: 180 1% 13%;
  --b2: 180 3% 11%;
  --b3: 180 6% 8%;
  --bc: 0 0% 100%;

  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}