[data-theme='luxury'] {
  --p: 0 0% 100%;
  --pf: 0 0% 90%;
  --pc: 0 0% 0%;

  --s: 218 55% 18%;
  --sf: 218 55% 8%;
  --sc: 0 0% 100%;

  --a: 318 22% 26%;
  --af: 318 22% 16%;
  --ac: 0 0% 100%;

  --n: 280 6% 9%;
  --nf: 270 2% 18%;
  --nc: 37 67% 58%;

  --b1: 240 8% 4%;
  --b2: 280 6% 9%;
  --b3: 270 2% 18%;
  --bc: 37 67% 58%;
}