[data-theme='pastel'] {
  --p: 283 21% 80%;
  --pf: 283 21% 70%;
  --pc: 0 0% 0%;

  --s: 352 70% 88%;
  --sf: 352 70% 78%;
  --sc: 0 0% 100%;

  --a: 158 55% 81%;
  --af: 158 55% 71%;
  --ac: 0 0% 100%;

  --n: 199 44% 61%;
  --nf: 199 44% 51%;
  --nc: 0 0% 100%;

  --b1: 0 0% 100%;
  --b2: 210 20% 98%;
  --b3: 216 12% 84%;
  --bc: 206 3% 55%;

  --rounded-box: 1rem;
  --rounded-btn: 9999px;
  --rounded-badge: 9999px;
}