[data-theme='retro'] {
  --p: 3 74% 76%;
  --pf: 3 74% 66%;
  --pc: 345 5% 15%;
  
  --s: 145 27% 72%;
  --sf: 145 27% 62%;
  --sc: 345 5% 15%;
  
  --a: 49 67% 76%;
  --af: 49 67% 66%;
  --ac: 345 5% 15%;
  
  --n: 42 17% 42%;
  --nf: 41 13% 24%;
  --nc: 45 47% 80%;
  
  --b1: 45 47% 80%;
  --b2: 45 37% 72%;
  --b3: 42 36% 65%;
  --bc: 345 5% 15%;

  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;

  --rounded-box: 0.4rem;
  --rounded-btn: 0.4rem;
  --rounded-badge: 0.4rem;
}