[data-theme='synthwave'] {
  --p: 321 70% 69%;
  --pf: 321 70% 59%;
  --pc: 257 63% 17%;
  
  --sf: 197 87% 75%;
  --s: 197 87% 65%;
  --sc: 257 63% 17%;
  
  --af: 48 89% 67%;
  --a: 48 89% 57%;
  --ac: 257 63% 17%;
  
  --n: 253 61% 19%;
  --nf: 257 65% 11%;
  --nc: 257 63% 98%;

  --b1: 254 59% 26%;
  --b2: 253 61% 19%;
  --b3: 257 65% 11%;
  --bc: 257 63% 98%;

  --in: 199 87% 64%;
  --su: 168 74% 68%;
  --wa: 48 89% 57%;
  --er: 352 74% 57%;
}