[data-theme='valentine'] {
  --p: 353 74% 67%;
  --pf: 353 74% 57%;
  --pc: 0 0% 100%;
  
  --s: 254 87% 77%;
  --sf: 254 87% 67%;
  --sc: 0 0% 100%;
  
  --a: 181 55% 70%;
  --af: 181 55% 60%;
  --ac: 0 0% 100%;
  
  --n: 336 43% 48%;
  --nf: 340 40% 38%;
  --nc: 319 45% 89%;
  
  --b1: 319 45% 89%;
  --b2: 315 59% 79%;
  --b3: 316 62% 73%;
  --bc: 344 38% 28%;
  
  --rounded-box: 1rem;
  --rounded-btn: 9999px;
  --rounded-badge: 9999px;
}