.rounded-box {
  border-radius: var(--radius-box);
}

.rounded-field {
  border-radius: var(--radius-field);
}

.rounded-selector {
  border-radius: var(--radius-selector);
}

.rounded-t-box {
  border-top-left-radius: var(--radius-box);
  border-top-right-radius: var(--radius-box);
}

.rounded-b-box {
  border-bottom-left-radius: var(--radius-box);
  border-bottom-right-radius: var(--radius-box);
}

.rounded-l-box {
  border-top-left-radius: var(--radius-box);
  border-bottom-left-radius: var(--radius-box);
}

.rounded-r-box {
  border-top-right-radius: var(--radius-box);
  border-bottom-right-radius: var(--radius-box);
}

.rounded-tl-box {
  border-top-left-radius: var(--radius-box);
}

.rounded-tr-box {
  border-top-right-radius: var(--radius-box);
}

.rounded-br-box {
  border-bottom-right-radius: var(--radius-box);
}

.rounded-bl-box {
  border-bottom-left-radius: var(--radius-box);
}

.rounded-t-btn {
  border-top-left-radius: var(--radius-field);
  border-top-right-radius: var(--radius-field);
}

.rounded-b-btn {
  border-bottom-left-radius: var(--radius-field);
  border-bottom-right-radius: var(--radius-field);
}

.rounded-l-btn {
  border-top-left-radius: var(--radius-field);
  border-bottom-left-radius: var(--radius-field);
}

.rounded-r-btn {
  border-top-right-radius: var(--radius-field);
  border-bottom-right-radius: var(--radius-field);
}

.rounded-tl-btn {
  border-top-left-radius: var(--radius-field);
}

.rounded-tr-btn {
  border-top-right-radius: var(--radius-field);
}

.rounded-br-btn {
  border-bottom-right-radius: var(--radius-field);
}

.rounded-bl-btn {
  border-bottom-left-radius: var(--radius-field);
}

.rounded-t-selector {
  border-top-left-radius: var(--radius-selector);
  border-top-right-radius: var(--radius-selector);
}

.rounded-b-selector {
  border-bottom-left-radius: var(--radius-selector);
  border-bottom-right-radius: var(--radius-selector);
}

.rounded-l-badge {
  border-top-left-radius: var(--radius-selector);
  border-bottom-left-radius: var(--radius-selector);
}

.rounded-r-badge {
  border-top-right-radius: var(--radius-selector);
  border-bottom-right-radius: var(--radius-selector);
}

.rounded-tl-badge {
  border-top-left-radius: var(--radius-selector);
}

.rounded-tr-badge {
  border-top-right-radius: var(--radius-selector);
}

.rounded-br-badge {
  border-bottom-right-radius: var(--radius-selector);
}

.rounded-bl-badge {
  border-bottom-left-radius: var(--radius-selector);
}
