[data-theme="light"] {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.1151% 0 0);
  --color-base-300: oklch(92.4169% 0.00108 197.137559);
  --color-base-content: oklch(27.8078% 0.029596 256.84795);
  --color-primary: oklch(49.12% 0.3096 275.75);
  --color-primary-content: oklch(89.824% 0.06192 275.75);
  --color-secondary: oklch(69.71% 0.329 342.55);
  --color-secondary-content: oklch(98.71% 0.0106 342.55);
  --color-accent: oklch(76.76% 0.184 183.61);
  --color-accent-content: oklch(15.352% 0.0368 183.61);
  --color-neutral: oklch(20% 0.02476 255.701624);
  --color-neutral-content: oklch(89.4994% 0.011585 252.096176);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-badge: 1.9rem;
  --radius-btn: 0.5rem;
  --radius-box: 1rem;
  --spacing-button-border: 1px;
  --spacing-tab-border: 1px;
}
