[data-theme='black'] {
  --d: 0 0% 0%;
  --p2: 0 0% 100%;
  --p1: 0 0% 100%;
  --p3: 0 0% 100%;
  --s2: 0 0% 100%;
  --s1: 0 0% 100%;
  --s3: 0 0% 100%;
  --a2: 0 0% 100%;
  --a1: 0 0% 100%;
  --a3: 0 0% 100%;
  --cp: 0 0% 0%;
  --cs: 0 0% 0%;
  --ca: 0 0% 0%;
  --c9: 0 0% 100%;
  --c8: 0 0% 80%;
  --c7: 0 0% 70%;
  --c6: 0 0% 60%;
  --c5: 0 0% 50%;
  --c4: 0 0% 40%;
  --c3: 0 0% 30%;
  --c2: 0 0% 20%;
  --c1: 0 0% 10%;
  --in: 240 100% 50%;
  --su: 120 100% 25%;
  --wa: 60 100% 50%;
  --er: 0 100% 50%;
  
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
}