[data-theme='dark'] {
  --d: 223 14% 10%;

  --p1: 259 94% 61%;
  --p2: 259 94% 51%;
  --p3: 259 94% 41%;

  --s1: 314 100% 57%;
  --s2: 314 100% 47%;
  --s3: 314 100% 37%;

  --a1: 174 60% 61%;
  --a2: 174 60% 51%;
  --a3: 174 60% 41%;

  --c1: 223 14% 10%;
  --c2: 222 13% 19%;
  --c3: 219 14% 28%;
  --c4: 220 14% 37%;
  --c5: 220 14% 46%;
  --c6: 218 14% 65%;
  --c7: 220 15% 84%;
  --c8: 228 14% 93%;
  --c9: 220 14% 96%;

  --cp: 0 0% 100%;
  --cs: 0 0% 100%;
  --ca: 0 0% 100%;

  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}
@media (prefers-color-scheme: dark){
  :root{
    --d: 223 14% 10%;

    --p1: 340 82% 62%;
    --p2: 340 82% 52%;
    --p3: 340 82% 42%;
  
    --s1: 262 52% 56%;
    --s2: 262 52% 46%;
    --s3: 262 52% 36%;
  
    --a1: 199 98% 58%;
    --a2: 199 98% 48%;
    --a3: 199 98% 38%;
  
    --c1: 223 14% 10%;
    --c2: 222 13% 19%;
    --c3: 219 14% 28%;
    --c4: 220 14% 37%;
    --c5: 220 14% 46%;
    --c6: 218 14% 65%;
    --c7: 220 15% 84%;
    --c8: 228 14% 93%;
    --c9: 220 14% 96%;
  
    --cp: 0 0% 100%;
    --cs: 0 0% 100%;
    --ca: 0 0% 100%;
  
    --in: 207 90% 54%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57%;
  }
}