[data-theme='dracula'] {
  --d: 233 13% 13%;
  --p1: 330 100% 85%;
  --p2: 330 100% 75%;
  --p3: 330 100% 65%;
  --s1: 115 100% 85%;
  --s2: 115 100% 75%;
  --s3: 115 100% 65%;
  --a1: 60 100% 85%;
  --a2: 60 100% 75%;
  --a3: 60 100% 65%;
  --cp: 233 13% 13%;
  --cs: 233 13% 13%;
  --ca: 233 13% 13%;
  --c9: 251 100% 90%;
  --c8: 251 100% 80%;
  --c7: 250 100% 75%;
  --c6: 245 23% 54%;
  --c5: 245 23% 49%;
  --c4: 245 23% 42%;
  --c3: 245 20% 27%;
  --c2: 245 13% 21%;
  --c1: 245 14% 15%;
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}