[data-theme='pink'] {
  --d: 319 45% 89%;

  --p1: 353 74% 67%;
  --p2: 353 74% 57%;
  --p3: 353 74% 47%;

  --s1: 254 87% 77%;
  --s2: 254 87% 67%;
  --s3: 254 87% 57%;

  --a1: 181 55% 70%;
  --a2: 181 55% 60%;
  --a3: 181 55% 50%;

  --c1: 319 54% 84%;
  --c2: 315 59% 79%;
  --c3: 316 62% 73%;
  --c4: 316 65% 68%;
  --c5: 326 66% 65%;
  --c6: 332 50% 56%;
  --c7: 336 43% 48%;
  --c8: 340 40% 38%;
  --c9: 344 38% 28%;

  --cp: 0 0% 100%;
  --cs: 0 0% 100%;
  --ca: 0 0% 100%;

  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
}