[data-theme='retro'] {
  --d: 45 47% 80%;
  --p2: 3 74% 66%;
  --p1: 3 74% 76%;
  --p3: 3 74% 56%;
  --s2: 145 27% 62%;
  --s1: 145 27% 72%;
  --s3: 145 27% 52%;
  --a2: 49 67% 66%;
  --a1: 49 67% 76%;
  --a3: 49 67% 56%;
  --cp: 345 5% 15%;
  --cs: 345 5% 15%;
  --ca: 345 5% 15%;
  --c9: 345 5% 15%;
  --c8: 41 13% 24%;
  --c7: 42 17% 42%;
  --c6: 41 19% 47%;
  --c5: 42 20% 52%;
  --c4: 42 26% 57%;
  --c3: 42 36% 65%;
  --c2: 45 37% 72%;
  --c1: 46 42% 76%;
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;

  --rounded-box: 0.4rem;
  --rounded-btn: 0.4rem;
  --rounded-badge: 0.4rem;
}