[data-theme='solar'] {
  --d: 57 93% 58%;

  --p1: 255 56% 61%;
  --p2: 255 56% 51%;
  --p3: 255 56% 41%;

  --s1: 185 46% 66%;
  --s2: 185 46% 56%;
  --s3: 185 46% 46%;

  --a1: 20 74% 75%;
  --a2: 20 74% 65%;
  --a3: 20 74% 45%;

  --cp: 0 0% 100%;
  --cs: 0 0% 100%;
  --ca: 0 0% 100%;

  --c1: 53 79% 53%;
  --c2: 45 68% 49%;
  --c3: 45 74% 41%;
  --c4: 34 71% 47%;
  --c5: 26 76% 41%;
  --c6: 23 79% 38%;
  --c7: 14 76% 43%;
  --c8: 10 85% 42%;
  --c9: 10 100% 44%;

  --in: 185 46% 56%;
  --su: 100 87% 64%;
  --wa: 34 71% 47%;
  --er: 10 100% 44%;
}