[data-theme='synthwave'] {
  --d: 257 63% 17%;
  --p1: 321 70% 69%;
  --p2: 321 70% 59%;
  --p3: 321 70% 49%;
  --s2: 197 87% 75%;
  --s1: 197 87% 65%;
  --s3: 197 87% 55%;
  --a2: 48 89% 67%;
  --a1: 48 89% 57%;
  --a3: 48 89% 47%;
  --cp: 257 63% 17%;
  --cs: 257 63% 17%;
  --ca: 257 63% 17%;
  --c1: 257 63% 22%;
  --c2: 257 63% 32%;
  --c3: 257 63% 42%;
  --c4: 257 63% 52%;
  --c5: 257 63% 62%;
  --c6: 257 63% 72%;
  --c7: 257 63% 82%;
  --c8: 257 63% 92%;
  --c9: 257 63% 98%;
  --in: 199 87% 64%;
  --su: 168 74% 68%;
  --wa: 48 89% 57%;
  --er: 352 74% 57%;
}