.alert {
  @apply rounded-box text-base-content grid w-full items-center gap-4 px-4 py-3;
  background-color: var(--alert-color, var(--color-base-200));
  justify-content: start;
  justify-items: start;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(auto, 1fr);
  text-align: start;
  border: 1px solid var(--color-base-200);
  font-size: 0.875rem;
  line-height: 1.25rem;

  &.alert-outline {
    @apply bg-transparent;
    color: var(--alert-color);
  }

  &.alert-dash {
    @apply bg-transparent;
    color: var(--alert-color);
    border-style: dashed;
  }

  &.alert-soft {
    color: var(--alert-color, var(--color-base-content));
    background: color-mix(
      in oklab,
      var(--alert-color, var(--color-base-content)) 8%,
      var(--color-base-200)
    );
    border-color: color-mix(
      in oklab,
      var(--alert-color, var(--color-base-content)) 10%,
      var(--color-base-200)
    );
  }
}

.alert-info {
  @apply text-info-content border-info;
  --alert-color: var(--color-info);
}

.alert-success {
  @apply text-success-content border-success;
  --alert-color: var(--color-success);
}

.alert-warning {
  @apply text-warning-content border-warning;
  --alert-color: var(--color-warning);
}

.alert-error {
  @apply text-error-content border-error;
  --alert-color: var(--color-error);
}

.alert-vertical {
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row;
  grid-template-columns: max-content;
  text-align: center;
}

.alert-horizontal {
  justify-content: start;
  justify-items: start;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(auto, 1fr);
  text-align: start;
}
