.badge {
  @apply rounded-badge text-base-content gap-2 box-content inline-flex items-center justify-center align-middle;
  border: 1px solid var(--badge-color, var(--color-base-200));
  font-size: 0.75rem;
  line-height: 1.25rem;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  transition-property: color, background-color, box-shadow;
  background: var(--badge-color, var(--color-base-100));
  --spacing-selector-size: 0.25rem;
  --selector-size: calc(var(--spacing-selector-size) * 6);
  height: var(--selector-size);
  &.badge-outline {
    color: var(--badge-color, var(--color-base-content));
    @apply border-current bg-transparent;
  }

  &.badge-dash {
    color: var(--badge-color, var(--color-base-content));
    @apply bg-transparent;
    border-style: 1px dashed currentColor;
  }

  &.badge-soft {
    color: var(--badge-color, var(--color-base-content));
    background: color-mix(
      in oklab,
      var(--badge-color, var(--color-base-content)) 8%,
      var(--color-base-100)
    );
    border-color: color-mix(
      in oklab,
      var(--badge-color, var(--color-base-content)) 10%,
      var(--color-base-100)
    );
  }
}

.badge-primary {
  --badge-color: var(--color-primary);
  @apply text-primary-content;
}

.badge-secondary {
  --badge-color: var(--color-secondary);
  @apply text-secondary-content;
}

.badge-accent {
  --badge-color: var(--color-accent);
  @apply text-accent-content;
}

.badge-neutral {
  --badge-color: var(--color-neutral);
  @apply text-neutral-content;
}

.badge-info {
  --badge-color: var(--color-info);
  @apply text-info-content;
}

.badge-success {
  --badge-color: var(--color-success);
  @apply text-success-content;
}

.badge-warning {
  --badge-color: var(--color-warning);
  @apply text-warning-content;
}

.badge-error {
  --badge-color: var(--color-error);
  @apply text-error-content;
}

.badge-ghost {
  @apply border-base-200 bg-base-200 text-base-content;
}

.badge-xs {
  @apply px-2;
  --selector-size: calc(var(--spacing-selector-size) * 4);
  font-size: 0.625rem;
}

.badge-sm {
  @apply px-2.5;
  --selector-size: calc(var(--spacing-selector-size) * 5);
  font-size: 0.75rem;
}

.badge-md {
  @apply px-3;
  --selector-size: calc(var(--spacing-selector-size) * 6);
  font-size: 0.875rem;
}

.badge-lg {
  @apply px-[0.875rem];
  --selector-size: calc(var(--spacing-selector-size) * 7);
  font-size: 1rem;
}

.badge-xl {
  @apply px-[1.125rem];
  --selector-size: calc(var(--spacing-selector-size) * 9);
  font-size: 1.125rem;
}
