.btn {
  @apply gap-1.5 px-4 inline-flex shrink-0 cursor-pointer flex-nowrap items-center justify-center text-center align-middle no-underline outline-offset-2 select-none;
  height: var(--field-size);
  font-size: 0.875rem;
  color: var(--btn-fg);
  outline-color: var(--color-base-content);
  font-weight: 600;
  transition-property: color, background-color, background-image, border-color, opacity, box-shadow,
    scale;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
  border-start-start-radius: var(--radius-join-ss, var(--radius-field));
  border-start-end-radius: var(--radius-join-se, var(--radius-field));
  border-end-start-radius: var(--radius-join-es, var(--radius-field));
  border-end-end-radius: var(--radius-join-ee, var(--radius-field));
  background-color: var(--btn-bg);
  border-width: var(--spacing-button-border);
  border-style: solid;
  border-color: var(--btn-border);
  text-shadow: 0 0.5px oklch(1 0 0 / 0.15);
  box-shadow:
    0 0 0 0.5px color-mix(in oklab, color-mix(in oklab, white 20%, var(--btn-bg)) 20%, transparent)
      inset,
    var(--btn-shadow);
  background-origin: border-box;
  background-image: var(--btn-gradient);
  background-size:
    100% calc(var(--spacing-button-border) + 0.5px),
    100% calc(var(--spacing-button-border) + 0.5px),
    2rem 100%,
    2rem 100%;
  background-repeat: no-repeat;
  background-position: top, bottom, left, right;
  --spacing-field-size: 0.25rem;
  --field-size: calc(var(--spacing-field-size) * 9);
  --btn-bg: var(--btn-color, var(--color-base-200));
  --btn-fg: var(--color-base-content);
  --btn-border: color-mix(in oklab, var(--btn-bg), black 5%);
  --btn-shadow: 0 3px 2px -2px color-mix(in oklab, var(--btn-bg) 30%, transparent),
    0 4px 3px -2px color-mix(in oklab, var(--btn-bg) 30%, transparent);
  --btn-gradient: linear-gradient(
      to left,
      transparent 25%,
      color-mix(in oklab, color-mix(in oklab, white 20%, var(--btn-bg)) 40%, transparent),
      transparent 75%
    ),
    linear-gradient(
      to left,
      transparent 25%,
      color-mix(in oklab, color-mix(in oklab, white 20%, var(--btn-bg)) 10%, transparent),
      transparent 75%
    ),
    linear-gradient(
      -50deg,
      transparent 50%,
      color-mix(in oklab, transparent, color-mix(in oklab, var(--color-base-100), white 50%) 4%)
    ),
    linear-gradient(
      50deg,
      transparent 50%,
      color-mix(in oklab, transparent, color-mix(in oklab, var(--color-base-100), white 50%) 4%)
    );

  &:hover {
    --btn-bg: color-mix(in oklab, var(--btn-color, var(--color-base-200)), black 7%);
  }

  &.btn-active {
    --btn-bg: color-mix(in oklab, var(--btn-color, var(--color-base-200)), black 7%);
    --btn-shadow: 0 0 0 0 oklch(0% 0 0/0.07);
  }

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
  }

  &:active:not(.btn-active) {
    translate: 0 0.5px;
    --btn-bg: color-mix(in oklab, var(--btn-color, var(--color-base-200)), black 5%);
    --btn-border: color-mix(in oklab, var(--btn-color, var(--color-base-200)), black 7%);
    --btn-shadow: 0 0 0 0 oklch(0% 0 0/0.07);
  }
}

.btn-primary {
  --btn-color: var(--color-primary);
  --btn-fg: var(--color-primary-content);
  @apply outline-primary;
}

.btn-secondary {
  --btn-color: var(--color-secondary);
  --btn-fg: var(--color-secondary-content);
  @apply outline-secondary;
}

.btn-accent {
  --btn-color: var(--color-accent);
  --btn-fg: var(--color-accent-content);
  @apply outline-accent;
}

.btn-neutral {
  --btn-color: var(--color-neutral);
  --btn-fg: var(--color-neutral-content);
  @apply outline-neutral;
}

.btn-info {
  --btn-color: var(--color-info);
  --btn-fg: var(--color-info-content);
  @apply outline-info;
}

.btn-success {
  --btn-color: var(--color-success);
  --btn-fg: var(--color-success-content);
  @apply outline-success;
}

.btn-warning {
  --btn-color: var(--color-warning);
  --btn-fg: var(--color-warning-content);
  @apply outline-warning;
}

.btn-error {
  --btn-color: var(--color-error);
  --btn-fg: var(--color-error-content);
  @apply outline-error;
}

.btn.glass {
  --btn-shadow: "";
  @apply outline-current hover:[--glass-border-opacity:15%] hover:[--glass-opacity:25%];

  &.btn-active {
    --glass-border-opacity: 15%;
    --glass-opacity: 25%;
  }
}

.btn-ghost {
  &:not(.btn-active, :hover, :active:focus, :focus-visible) {
    --btn-shadow: "";
    @apply outline-current;
    --btn-bg: transparent;
    --btn-fg: currentColor;
    --btn-border: transparent;
    --btn-gradient: unset;
  }
}

.btn-link {
  @apply underline outline-current;
  --btn-border: transparent;
  --btn-bg: transparent;
  --btn-fg: var(--color-primary);
  --btn-gradient: unset;
  --btn-shadow: "";

  &:is(.btn-active, :hover, :active:focus, :focus-visible) {
    @apply underline;
    --btn-border: transparent;
    --btn-bg: transparent;
  }
}

.btn-outline {
  &:not(.btn-active, :hover, :active:focus, :focus-visible) {
    --btn-shadow: "";
    --btn-bg: transparent;
    --btn-fg: var(--btn-color);
    --btn-border: var(--btn-color);
    --btn-gradient: unset;
  }
}

.btn-dash {
  &:not(.btn-active, :hover, :active:focus, :focus-visible) {
    --btn-shadow: "";
    border-style: dashed;
    --btn-bg: transparent;
    --btn-fg: var(--btn-color);
    --btn-border: var(--btn-color);
    --btn-gradient: unset;
  }
}

.btn-soft {
  &:not(.btn-active, :hover, :active:focus, :focus-visible) {
    --btn-shadow: "";
    --btn-fg: var(--btn-color, var(--color-base-content));
    --btn-bg: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-content)) 8%,
      var(--color-base-200)
    );
    --btn-border: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-content)) 10%,
      var(--color-base-200)
    );
    --btn-gradient: unset;
  }
}

.btn {
  &:is(:disabled, [disabled], .btn-disabled) {
    &:not(.btn-link) {
      @apply bg-neutral/20;
    }

    @apply pointer-events-none;
    --btn-border: transparent;
    --btn-gradient: unset;
    --btn-fg: color-mix(in oklch, var(--color-base-content) 20%, transparent);

    &:hover {
      @apply bg-neutral/20 pointer-events-none;
      --btn-border: transparent;
      --btn-fg: color-mix(in oklch, var(--color-base-content) 20%, transparent);
    }
  }
}

/* radio input and checkbox as button */
.btn {
  &:is(input[type="checkbox"], input[type="radio"]) {
    @apply appearance-none;

    &:not(.btn-square, .btn-circle) {
      @apply w-auto;
    }

    &::after {
      content: attr(aria-label);
    }

    &:checked {
      --btn-color: var(--color-primary);
      --btn-bg: var(--color-primary);
      --btn-fg: var(--color-primary-content);
      --btn-border: var(--color-content);

      &:focus-visible {
        @apply outline-primary;
      }

      &:hover {
        --btn-bg: color-mix(in oklab, var(--color-primary) 90%, black);
        --btn-border: color-mix(in oklab, var(--color-primary) 90%, black);
      }
    }
  }
}

.btn-xs {
  @apply px-2;
  font-size: 0.6875rem;
  --field-size: calc(var(--spacing-field-size) * 6);
}

.btn-sm {
  @apply px-3;
  font-size: 0.75rem;
  --field-size: calc(var(--spacing-field-size) * 8);
}

.btn-md {
  @apply px-4;
  font-size: 0.875rem;
  --field-size: calc(var(--spacing-field-size) * 10);
}

.btn-lg {
  @apply px-5;
  font-size: 1.125rem;
  --field-size: calc(var(--spacing-field-size) * 12);
}

.btn-xl {
  @apply px-6;
  font-size: 1.375rem;
  --field-size: calc(var(--spacing-field-size) * 14);
}

.btn-square {
  @apply px-0;
  width: var(--field-size);
  height: var(--field-size);
}

.btn-circle {
  @apply px-0 rounded-full;
  width: var(--field-size);
  height: var(--field-size);
}

.btn-wide {
  @apply max-w-64 w-full;
}

.btn-block {
  @apply w-full;
}
