.card {
  @apply rounded-box relative flex flex-col;

  &:focus {
    @apply outline-none;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  :where(figure:first-child) {
    @apply overflow-hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: unset;
  }

  :where(figure:last-child) {
    @apply overflow-hidden;
    border-start-start-radius: unset;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit;
  }

  &.card-border {
    border: 1px solid var(--color-base-200);
  }

  &.image-full {
    @apply grid;

    &:before {
      @apply bg-neutral rounded-box relative z-10 col-start-1 row-start-1 opacity-75;
      content: "";
    }

    > * {
      @apply col-start-1 row-start-1;
    }

    > .card-body {
      @apply text-neutral-content relative z-20;
    }

    :where(figure) {
      @apply overflow-hidden;
      border-radius: inherit;
    }

    > figure img {
      @apply h-full object-cover;
    }
  }

  figure {
    @apply flex items-center justify-center;
  }
}

.card-title {
  @apply flex items-center gap-2;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.card-body {
  @apply flex flex-auto flex-col gap-2 p-8;

  :where(p) {
    @apply grow;
  }
}

.card-actions {
  @apply flex flex-wrap items-start gap-2;
}

.card-xs {
  .card-body {
    @apply p-2;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .card-title {
    @apply mb-1;
  }
}

.card-sm {
  .card-body {
    @apply p-4;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .card-title {
    @apply mb-1;
  }
}

.card-md {
  .card-body {
    @apply p-8;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .card-title {
    @apply mb-3;
  }
}

.card-lg {
  .card-body {
    @apply p-10;
    font-size: 1rem;
    line-height: 1rem;
  }

  .card-title {
    @apply mb-4;
  }
}

.card-side {
  align-items: stretch;
  flex-direction: row;

  :where(figure:first-child) {
    @apply overflow-hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: unset;
  }

  :where(figure:last-child) {
    @apply overflow-hidden;
    border-start-start-radius: unset;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: inherit;
  }

  figure > * {
    max-width: unset;
  }

  :where(figure > *) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
