.checkbox {
  border: 1px solid;
  @apply border-base-content/20 text-base-content rounded-field p-1 relative shrink-0 cursor-pointer appearance-none align-middle;
  box-shadow: 0 1px oklch(0% 0 0 / 0.1) inset;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  --spacing-selector-size: 0.25rem;
  --selector-size: calc(var(--spacing-selector-size) * 6);
  width: var(--selector-size);
  height: var(--selector-size);
  &:before {
    @apply block size-full rotate-45 bg-current opacity-0;
    content: "";
    transition:
      clip-path 0.3s,
      opacity 0.1s,
      rotate 0.3s,
      translate 0.3s;
    transition-delay: 0.1s;
    clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 80%, 70% 80%, 70% 100%);
    box-shadow: 0px 3px 0 0px oklch(100% 0 0 / 0.1) inset;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:checked,
  &[aria-checked="true"] {
    box-shadow:
      0 8px 0 -4px oklch(100% 0 0 / 0.1) inset,
      0 1px oklch(0% 0 0 / 0.1);

    &:before {
      @apply opacity-100;
      clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 0%, 70% 0%, 70% 100%);
    }
  }

  &:indeterminate {
    &:before {
      @apply rotate-0 opacity-100;
      translate: 0 -35%;
      clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 80%, 80% 80%, 80% 100%);
    }
  }
}

.checkbox-primary {
  @apply border-primary text-primary-content;

  &:focus-visible {
    @apply outline-primary;
  }

  &:checked {
    @apply bg-primary;
  }
}

.checkbox-secondary {
  @apply border-secondary text-secondary-content;

  &:focus-visible {
    @apply outline-secondary;
  }

  &:checked {
    @apply bg-secondary;
  }
}

.checkbox-accent {
  @apply border-accent text-accent-content;

  &:focus-visible {
    @apply outline-accent;
  }

  &:checked {
    @apply bg-accent;
  }
}

.checkbox-success {
  @apply border-success text-success-content;

  &:focus-visible {
    @apply outline-success;
  }

  &:checked {
    @apply bg-success;
  }
}

.checkbox-warning {
  @apply border-warning text-warning-content;

  &:focus-visible {
    @apply outline-warning;
  }

  &:checked {
    @apply bg-warning;
  }
}

.checkbox-info {
  @apply border-info text-info-content;

  &:focus-visible {
    @apply outline-info;
  }

  &:checked {
    @apply bg-info;
  }
}

.checkbox-error {
  @apply border-error text-error-content;

  &:focus-visible {
    @apply outline-error;
  }

  &:checked {
    @apply bg-error;
  }
}

.checkbox:disabled {
  @apply cursor-not-allowed opacity-20;
}

.checkbox-xs {
  @apply p-[0.125rem];
  --selector-size: calc(var(--spacing-selector-size) * 4);
}

.checkbox-sm {
  @apply p-[0.1875rem];
  --selector-size: calc(var(--spacing-selector-size) * 5);
}

.checkbox-md {
  @apply p-[0.25rem];
  --selector-size: calc(var(--spacing-selector-size) * 6);
}

.checkbox-lg {
  @apply p-[0.3125rem];
  --selector-size: calc(var(--spacing-selector-size) * 7);
}

.checkbox-xl {
  @apply p-[0.375rem];
  --selector-size: calc(var(--spacing-selector-size) * 8);
}
