.dock {
  @apply bg-base-100 right-0 bottom-0 left-0 h-16 py-2 fixed z-[1] flex w-full flex-row items-center justify-around text-current;
  border-top: 0.5px solid color-mix(in oklab, var(--color-base-content) 5%, transparent);
  padding-bottom: env(safe-area-inset-bottom);

  &:has(> *:hover) > *:not(:hover) {
    background-color: transparent;
  }

  > * {
    @apply mb-2 gap-px relative flex h-full shrink-1 basis-full cursor-pointer flex-col items-center justify-center rounded-full bg-transparent;
    transition: background-color 0.4s ease-in-out;

    &:where(:hover) {
      @apply bg-base-200;
    }

    &:where(.dock-active) {
      @apply bg-base-200;

      &:after {
        content: "";
        @apply h-1 w-10 absolute rounded-full bg-current;
        bottom: 0.2rem;
      }
    }

    &[aria-disabled="true"],
    &[disabled] {
      &,
      &:hover {
        @apply text-base-content/10 pointer-events-none;
      }
    }

    .dock-label {
      font-size: 0.6875rem;
    }
  }
}

.dock-xs {
  @apply h-10;

  .dock-active {
    &:after {
      bottom: -0.1rem;
    }
  }

  .dock-label {
    font-size: 0.6875rem;
  }
}

.dock-sm {
  @apply h-12;

  .dock-active {
    &:after {
      bottom: -0.1rem;
    }
  }

  .dock-label {
    font-size: 0.6875rem;
  }
}

.dock-md {
  @apply h-16;

  .dock-label {
    font-size: 0.6875rem;
  }
}

.dock-lg {
  @apply h-18;

  .dock-active {
    &:after {
      bottom: 0.4rem;
    }
  }

  .dock-label {
    font-size: 0.75rem;
  }
}

.dock-xl {
  @apply h-20;

  .dock-active {
    &:after {
      bottom: 0.4rem;
    }
  }

  .dock-label {
    font-size: 0.875rem;
  }
}
