.dropdown {
  @apply relative inline-block;
  position-area: var(--anchor-v, bottom) var(--anchor-h, span-right);

  & > *:not(summary):focus {
    @apply outline-hidden;
  }

  .dropdown-content {
    @apply absolute hidden origin-top opacity-0;
    scale: 95%;
  }

  &[popover],
  .dropdown-content {
    z-index: 999;
    animation: dropdown-pop 0.2s;
    transition-property: opacity, scale, display;
    transition-behavior: allow-discrete;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.dropdown-open,
  &:not(.dropdown-hover):focus,
  &:focus-within {
    .dropdown-content {
      @apply opacity-100;
      display: revert;
    }
  }

  &.dropdown-hover:hover {
    .dropdown-content {
      @apply opacity-100;
      display: revert;
      scale: 100%;
    }
  }

  &:is(details) {
    summary {
      &::-webkit-details-marker {
        @apply hidden;
      }
    }
  }

  &.dropdown-open,
  &:focus,
  &:focus-within {
    .dropdown-content {
      scale: 100%;
    }
  }

  /* experimental */
  &[popover] {
    @apply fixed text-inherit;

    /* align-self: anchor-center; */
    /* justify-self: anchor-center; */
    /* left: anchor(right); */
    /* align-self: anchor-center; */

    @supports not (position-area: bottom) {
      @apply m-auto;

      &.dropdown-open {
        @apply hidden origin-top opacity-0;
        scale: 95%;

        &:popover-open {
          @apply opacity-100;
          display: revert;
          scale: 100%;
        }
      }

      &::backdrop {
        background-color: color-mix(in oklab, black 30%, transparent);
      }
    }

    &:not(.dropdown-open, :popover-open) {
      @apply hidden origin-top opacity-0;
      scale: 95%;
    }
  }
}

.dropdown-start {
  --anchor-h: span-right;

  :where(.dropdown-content) {
    @apply end-auto;
  }

  &.dropdown-left {
    --anchor-h: left;
    --anchor-v: span-bottom;

    .dropdown-content {
      @apply top-0 bottom-auto;
    }
  }

  &.dropdown-right {
    --anchor-h: right;
    --anchor-v: span-bottom;

    .dropdown-content {
      @apply top-0 bottom-auto;
    }
  }
}

.dropdown-center {
  --anchor-h: center;

  :where(.dropdown-content) {
    @apply end-1/2;
    translate: 50% 0;
  }

  &.dropdown-left {
    --anchor-h: left;
    --anchor-v: center;

    .dropdown-content {
      @apply top-auto bottom-1/2;
      translate: 0 50%;
    }
  }

  &.dropdown-right {
    --anchor-h: right;
    --anchor-v: center;

    .dropdown-content {
      @apply top-auto bottom-1/2;
      translate: 0 50%;
    }
  }
}

.dropdown-end {
  --anchor-h: span-left;

  :where(.dropdown-content) {
    @apply end-0;
  }

  &.dropdown-left {
    --anchor-h: left;
    --anchor-v: span-top;

    .dropdown-content {
      @apply bottom-0 top-auto;
    }
  }

  &.dropdown-right {
    --anchor-h: right;
    --anchor-v: span-top;

    .dropdown-content {
      @apply bottom-0 top-auto;
    }
  }
}

.dropdown-left {
  --anchor-h: left;
  --anchor-v: span-bottom;

  .dropdown-content {
    @apply top-0 end-full bottom-auto origin-right;
  }
}

.dropdown-right {
  --anchor-h: right;
  --anchor-v: span-bottom;

  .dropdown-content {
    @apply top-0 start-full bottom-auto origin-left;
  }
}

.dropdown-bottom {
  --anchor-v: bottom;

  .dropdown-content {
    @apply top-full bottom-auto origin-top;
  }
}

.dropdown-top {
  --anchor-v: top;

  .dropdown-content {
    @apply top-auto bottom-full origin-bottom;
  }
}

@keyframes dropdown-pop {
  0% {
    opacity: 0;
  }
}
