.dropdown {
  @apply relative inline-block;
  position-area: var(--anchor-v, bottom) var(--anchor-h, span-right);

  &>*:not(summary):focus {
    @apply outline-none;
  }

  .dropdown-content {
    @apply absolute transition duration-200 ease-out;
  }

  &:not(details) {
    .dropdown-content {
      @apply invisible opacity-0 origin-top scale-95;
    }
  }

  &.dropdown-open,
  &:not(.dropdown-hover):focus,
  &:focus-within {
    .dropdown-content {
      @apply visible opacity-100;
    }
  }

  &.dropdown-hover:hover {
    .dropdown-content {
      @apply visible opacity-100 scale-100;
    }
  }

  &:is(details) {
    summary {
      &::-webkit-details-marker {
        @apply hidden;
      }
    }
  }

  &.dropdown-open,
  &:focus,
  &:focus-within {
    .dropdown-content {
      @apply scale-100;
    }
  }

  /* experimental */
  &[popover] {
    @apply fixed transition text-inherit duration-200 ease-out z-[1000];

    /* align-self: anchor-center; */
    /* justify-self: anchor-center; */
    /* left: anchor(right); */
    /* align-self: anchor-center; */

    @supports not (position-area: bottom) {
      @apply m-auto;

      &.dropdown-open {
        @apply invisible opacity-0 origin-top scale-95;

        &:popover-open {
          @apply visible opacity-100 scale-100;
        }
      }

      &::backdrop {
        @apply bg-black/30;
      }
    }

    &:not(.dropdown-open, :popover-open) {
      @apply invisible opacity-0 origin-top scale-95;
    }
  }

}


.dropdown-start {
  --anchor-h: span-right;

  :where(.dropdown-content) {
    @apply end-auto;
  }

  &.dropdown-left {
    --anchor-h: left;
    --anchor-v: span-bottom;

    .dropdown-content {
      @apply bottom-auto top-0;
    }
  }

  &.dropdown-right {
    --anchor-h: right;
    --anchor-v: span-bottom;

    .dropdown-content {
      @apply bottom-auto top-0;
    }
  }
}

.dropdown-center {
  --anchor-h: center;

  :where(.dropdown-content) {
    @apply end-1/2;
    translate: 50% 0;
  }

  &.dropdown-left {
    --anchor-h: left;
    --anchor-v: center;

    .dropdown-content {
      @apply bottom-1/2 top-auto;
      translate: 0 50%;
    }
  }

  &.dropdown-right {
    --anchor-h: right;
    --anchor-v: center;

    .dropdown-content {
      @apply bottom-1/2 top-auto;
      translate: 0 50%;
    }
  }
}

.dropdown-end {
  --anchor-h: span-left;

  :where(.dropdown-content) {
    @apply end-0;
  }

  &.dropdown-left {
    --anchor-h: left;
    --anchor-v: span-top;

    .dropdown-content {
      @apply bottom-0 top-auto;
    }
  }

  &.dropdown-right {
    --anchor-h: right;
    --anchor-v: span-top;

    .dropdown-content {
      @apply bottom-0 top-auto;
    }
  }
}

.dropdown-left {
  --anchor-h: left;
  --anchor-v: span-bottom;

  .dropdown-content {
    @apply bottom-auto end-full top-0 origin-right;
  }
}

.dropdown-right {
  --anchor-h: right;
  --anchor-v: span-bottom;

  .dropdown-content {
    @apply bottom-auto start-full top-0 origin-left;
  }
}

.dropdown-bottom {
  --anchor-v: bottom;

  .dropdown-content {
    @apply bottom-auto top-full origin-top;
  }
}

.dropdown-top {
  --anchor-v: top;

  .dropdown-content {
    @apply bottom-full top-auto origin-bottom;
  }
}
