.file-input {
  border: var(--spacing-button-border) solid transparent;
  @apply max-w-80 w-full cursor-pointer appearance-none align-middle select-none;
  height: var(--field-size);
  padding-inline-end: 0.75rem;
  font-size: 0.875rem;
  line-height: 2;
  border-start-start-radius: var(--radius-join-ss, var(--radius-field));
  border-start-end-radius: var(--radius-join-se, var(--radius-field));
  border-end-start-radius: var(--radius-join-es, var(--radius-field));
  border-end-end-radius: var(--radius-join-ee, var(--radius-field));
  --spacing-field-size: 0.25rem;
  --field-size: calc(var(--spacing-field-size) * 9);
  &:where(::file-selector-button) {
    @apply text-base-content;
  }

  &::file-selector-button {
    @apply me-4 px-4 h-full cursor-pointer select-none;
    font-size: 0.875rem;
    color: var(--btn-fg);
    border-width: var(--spacing-button-border);
    border-style: solid;
    border-color: var(--btn-border);
    border-start-start-radius: calc(
      var(--radius-join-ss, var(--radius-field) - var(--spacing-button-border))
    );
    border-end-start-radius: calc(
      var(--radius-join-es, var(--radius-field) - var(--spacing-button-border))
    );
    font-weight: 600;
    background-color: var(--btn-bg);
    text-shadow: 0 0.5px oklch(1 0 0 / 0.15);
    box-shadow:
      0 0 0 0.5px
        color-mix(in oklab, color-mix(in oklab, white 20%, var(--btn-bg)) 20%, transparent) inset,
      var(--btn-shadow);
    background-origin: border-box;
    background-image: var(--btn-gradient);
    background-size:
      100% calc(var(--spacing-button-border) + 0.5px),
      100% calc(var(--spacing-button-border) + 0.5px),
      2rem 100%,
      2rem 100%;
    background-repeat: no-repeat;
    background-position: top, bottom, left, right;
    --spacing-field-size: 0.25rem;
    --field-size: calc(var(--spacing-field-size) * 9);
    --btn-bg: var(--btn-color, var(--color-base-200));
    --btn-fg: var(--color-base-content);
    --btn-border: color-mix(in oklab, var(--btn-bg), black 5%);
    --btn-shadow: 0 3px 2px -2px color-mix(in oklab, var(--btn-bg) 30%, transparent),
      0 4px 3px -2px color-mix(in oklab, var(--btn-bg) 30%, transparent);
    --btn-gradient: linear-gradient(
        to left,
        transparent 25%,
        color-mix(in oklab, color-mix(in oklab, white 20%, var(--btn-bg)) 40%, transparent),
        transparent 75%
      ),
      linear-gradient(
        to left,
        transparent 25%,
        color-mix(in oklab, color-mix(in oklab, white 20%, var(--btn-bg)) 10%, transparent),
        transparent 75%
      ),
      linear-gradient(
        -50deg,
        transparent 50%,
        color-mix(in oklab, transparent, color-mix(in oklab, var(--color-base-100), white 50%) 4%)
      ),
      linear-gradient(
        50deg,
        transparent 50%,
        color-mix(in oklab, transparent, color-mix(in oklab, var(--color-base-100), white 50%) 4%)
      );
  }

  &:focus {
    outline: 2px solid var(--btn-bg, color-mix(in srgb, var(--color-base-content) 20%, transparent));
    outline-offset: 2px;
  }

  &.file-input-border {
    @apply border-base-content/10;
    box-shadow:
      0 1px oklch(0% 0 0 / 0.1) inset,
      0 -1px oklch(100% 0 0 / 0.1) inset;
  }

  &.file-input-ghost {
    &:not(&:focus) {
      &::file-selector-button {
        background: transparent;
        border-color: transparent;
      }
    }
  }

  &.file-input-primary {
    @apply border-primary;
    --btn-color: var(--color-primary);

    &::file-selector-button {
      color: var(--color-primary-content);
    }
  }

  &.file-input-secondary {
    @apply border-secondary;
    --btn-color: var(--color-secondary);

    &::file-selector-button {
      color: var(--color-secondary-content);
    }
  }

  &.file-input-accent {
    @apply border-accent;
    --btn-color: var(--color-accent);

    &::file-selector-button {
      color: var(--color-accent-content);
    }
  }

  &.file-input-neutral {
    @apply border-neutral;
    --btn-color: var(--color-neutral);

    &::file-selector-button {
      color: var(--color-neutral-content);
    }
  }

  &.file-input-info {
    @apply border-info;
    --btn-color: var(--color-info);

    &::file-selector-button {
      color: var(--color-info-content);
    }
  }

  &.file-input-success {
    @apply border-success;
    --btn-color: var(--color-success);

    &::file-selector-button {
      color: var(--color-success-content);
    }
  }

  &.file-input-warning {
    @apply border-warning;
    --btn-color: var(--color-warning);

    &::file-selector-button {
      color: var(--color-warning-content);
    }
  }

  &.file-input-error {
    @apply border-error;
    --btn-color: var(--color-error);

    &::file-selector-button {
      color: var(--color-error-content);
    }
  }

  &.file-input-xs {
    --field-size: calc(var(--spacing-field-size) * 5);
    font-size: 0.6875rem;
    line-height: 1rem;
    &::file-selector-button {
      font-size: 0.6875rem;
    }
  }

  &.file-input-sm {
    --field-size: calc(var(--spacing-field-size) * 7);
    font-size: 0.75rem;
    line-height: 1.5rem;
    &::file-selector-button {
      font-size: 0.75rem;
    }
  }

  &.file-input-md {
    --field-size: calc(var(--spacing-field-size) * 9);
    font-size: 0.875rem;
    line-height: 2;
    &::file-selector-button {
      font-size: 0.875rem;
    }
  }

  &.file-input-lg {
    --field-size: calc(var(--spacing-field-size) * 11);
    font-size: 1.125rem;
    line-height: 2.5rem;
    &::file-selector-button {
      font-size: 1.125rem;
    }
  }

  &.file-input-xl {
    @apply pe-6;
    --field-size: calc(var(--spacing-field-size) * 14);
    font-size: 1.375rem;
    line-height: 3rem;
    &::file-selector-button {
      font-size: 1.375rem;
    }
  }

  &:has(> input[disabled]),
  &:is(:disabled, [disabled]) {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
    box-shadow: none;

    &::file-selector-button {
      @apply border-base-200 bg-base-200 cursor-not-allowed;
    }
  }
}
