.file-input {
  border: 1px solid transparent;
  @apply w-full max-w-80 cursor-pointer select-none h-10 pe-4 appearance-none;
  font-size: 0.875rem;
  line-height: 2;
  border-start-start-radius: var(--radius-join-start-start, var(--radius-btn));
  border-start-end-radius: var(--radius-join-start-end, var(--radius-btn));
  border-end-start-radius: var(--radius-join-end-start, var(--radius-btn));
  border-end-end-radius: var(--radius-join-end-end, var(--radius-btn));

  &::file-selector-button {
    @apply cursor-pointer select-none text-base-content h-full px-4 me-4;
    border: var(--spacing-button-border, 1px) solid var(--btn-color);
    font-size: var(--font-size-sm);
    font-weight: 600;
    --btn-color: var(--btn-bg, var(--color-base-200));
    background-color: var(--btn-color);
    text-shadow: 0 0.5px oklch(1 0 0 / .15);
    box-shadow: 0 0 0 0.5px oklch(1 0 0 / .01) inset, var(--btn-shadow);
    background-origin: border-box;
    background-image: var(--btn-gradient);
    background-size: 100% calc(var(--spacing-button-border, 1px) + .5px),
      100% calc(var(--spacing-button-border, 1px) + .5px),
      2rem 100%,
      2rem 100%;
    background-repeat: no-repeat;
    background-position: top, bottom, left, right;
    --btn-gradient:
      linear-gradient(to left, transparent 25%, oklch(100% 0 0/.3), transparent 75%),
      linear-gradient(to left, transparent 25%, oklch(100% 0 0/.3), transparent 75%),
      linear-gradient(-50deg, transparent 50%, color-mix(in oklab, transparent, white 4%)),
      linear-gradient(50deg, transparent 50%, color-mix(in oklab, transparent, white 4%));
  }

  &:focus {
    outline: 2px solid var(--btn-bg, color-mix(in srgb, var(--color-base-content) 20%, transparent));
    outline-offset: 2px;
  }

  &.file-input-border {
    @apply border-base-content/10;
    box-shadow:
      0 1px oklch(0% 0 0 / 0.1) inset,
      0 -1px oklch(100% 0 0 / 0.1) inset;
  }

  &.file-input-ghost {
    &:not(&:focus) {
      &::file-selector-button {
        background: transparent;
        border-color: transparent;
      }
    }
  }

  &.file-input-primary {
    @apply border-primary;
    --btn-bg: var(--color-primary);

    &::file-selector-button {
      color: var(--color-primary-content);
    }
  }

  &.file-input-secondary {
    @apply border-secondary;
    --btn-bg: var(--color-secondary);

    &::file-selector-button {
      color: var(--color-secondary-content);
    }
  }

  &.file-input-accent {
    @apply border-accent;
    --btn-bg: var(--color-accent);

    &::file-selector-button {
      color: var(--color-accent-content);
    }
  }

  &.file-input-neutral {
    @apply border-neutral;
    --btn-bg: var(--color-neutral);

    &::file-selector-button {
      color: var(--color-neutral-content);
    }
  }

  &.file-input-info {
    @apply border-info;
    --btn-bg: var(--color-info);

    &::file-selector-button {
      color: var(--color-info-content);
    }
  }

  &.file-input-success {
    @apply border-success;
    --btn-bg: var(--color-success);

    &::file-selector-button {
      color: var(--color-success-content);
    }
  }

  &.file-input-warning {
    @apply border-warning;
    --btn-bg: var(--color-warning);

    &::file-selector-button {
      color: var(--color-warning-content);
    }
  }

  &.file-input-error {
    @apply border-error;
    --btn-bg: var(--color-error);

    &::file-selector-button {
      color: var(--color-error-content);
    }
  }

  &.file-input-xs {
    @apply h-6 pe-2;
    font-size: 0.75rem;
    line-height: 1;
  }

  &.file-input-sm {
    @apply h-8 pe-3;
    font-size: 0.875rem;
    line-height: 2rem;
  }

  &.file-input-md {
    @apply h-10 pe-4;
    font-size: 0.875rem;
    line-height: 2;
  }

  &.file-input-lg {
    @apply h-14 pe-6;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  &:has(> input[disabled]),
  &:is(:disabled, [disabled]) {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content/40 placeholder-base-content/20 cursor-not-allowed;

    &::file-selector-button {
      @apply border-base-200 bg-base-200 cursor-not-allowed;
    }
  }

}
