.hero {
  @apply grid w-full place-items-center bg-cover bg-center;

  &>* {
    @apply col-start-1 row-start-1;
  }
}

.hero-overlay {
  @apply col-start-1 row-start-1 h-full w-full bg-neutral/50;
}

.hero-content {
  @apply z-0 flex items-center justify-center max-w-7xl gap-4 p-4;
}
