.input {
  border: var(--spacing-button-border) solid transparent;
  @apply bg-base-100 max-w-80 w-full shrink appearance-none align-middle;
  height: var(--field-size);
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  font-size: 0.875rem;
  border-start-start-radius: var(--radius-join-ss, var(--radius-btn));
  border-start-end-radius: var(--radius-join-se, var(--radius-btn));
  border-end-start-radius: var(--radius-join-es, var(--radius-btn));
  border-end-end-radius: var(--radius-join-ee, var(--radius-btn));
  --spacing-field-size: 0.25rem;
  --field-size: calc(var(--spacing-field-size) * 9);
  input {
    @apply w-full bg-transparent;
    border: none;

    &:focus {
      @apply outline-hidden;
    }
  }

  &:focus,
  &:focus-within {
    border-color: color-mix(in srgb, var(--color-base-content) 20%, transparent);
    outline: 2px solid color-mix(in srgb, var(--color-base-content) 20%, transparent);
    outline-offset: 2px;
  }

  &:has(> input[disabled]),
  &:is(:disabled, [disabled]) {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
    box-shadow: none;
  }

  &:has(> input[disabled]) > input[disabled] {
    @apply cursor-not-allowed;
  }

  &::-webkit-date-and-time-value {
    text-align: inherit;
  }

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-4 -me-4;
    }
  }

  &[list] {
    &::-webkit-calendar-picker-indicator {
    }
  }

  &.input-border {
    @apply border-base-content/10;
    box-shadow:
      0 1px oklch(0% 0 0 / 0.1) inset,
      0 -1px oklch(100% 0 0 / 0.1) inset;

    &:focus {
      box-shadow: 0 1px oklch(0% 0 0 / 0.1);
    }
  }

  &.input-ghost {
    @apply bg-base-100/5;
    box-shadow: none;

    &:focus,
    &:focus-within {
      @apply text-base-content bg-base-100;
      box-shadow: none;
    }
  }

  &.input-primary {
    @apply border-primary;
    background-color: color-mix(in oklab, var(--color-primary) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-primary border-primary;
    }
  }

  &.input-secondary {
    @apply border-secondary;
    background-color: color-mix(in oklab, var(--color-secondary) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-secondary border-secondary;
    }
  }

  &.input-accent {
    @apply border-accent;
    background-color: color-mix(in oklab, var(--color-accent) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-accent border-accent;
    }
  }

  &.input-info {
    @apply border-info;
    background-color: color-mix(in oklab, var(--color-info) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-info border-info;
    }
  }

  &.input-success {
    @apply border-success;
    background-color: color-mix(in oklab, var(--color-success) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-success border-success;
    }
  }

  &.input-warning {
    @apply border-warning;
    background-color: color-mix(in oklab, var(--color-warning) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-warning border-warning;
    }
  }

  &.input-error {
    @apply border-error;
    background-color: color-mix(in oklab, var(--color-error) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-error border-error;
    }
  }

  &.input-xs {
    --field-size: calc(var(--spacing-field-size) * 5);
    font-size: 0.6875rem;

    &[type="number"] {
      &::-webkit-inner-spin-button {
        @apply -my-1 -me-0;
      }
    }
  }

  &.input-sm {
    --field-size: calc(var(--spacing-field-size) * 7);
    font-size: 0.75rem;

    &[type="number"] {
      &::-webkit-inner-spin-button {
        @apply my-0 -me-0;
      }
    }
  }

  &.input-md {
    --field-size: calc(var(--spacing-field-size) * 9);
    font-size: 0.875rem;

    &[type="number"] {
      &::-webkit-inner-spin-button {
        @apply -my-4 -me-4;
      }
    }
  }

  &.input-lg {
    --field-size: calc(var(--spacing-field-size) * 11);
    font-size: 1.125rem;

    &[type="number"] {
      &::-webkit-inner-spin-button {
        @apply -my-6 -me-6;
      }
    }
  }

  &.input-xl {
    --field-size: calc(var(--spacing-field-size) * 14);
    font-size: 1.375rem;

    &[type="number"] {
      &::-webkit-inner-spin-button {
        @apply -my-6 -me-6;
      }
    }
  }
}
