.kbd {
  @apply bg-base-200 rounded-field inline-flex items-center justify-center align-middle;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid color-mix(in srgb, var(--color-base-content) 20%, transparent);
  border-bottom: 2px solid color-mix(in srgb, var(--color-base-content) 20%, transparent);
  --selector-size: calc(var(--spacing-selector-size) * 6);
  font-size: 0.875rem;
  height: var(--selector-size);
  min-width: var(--selector-size);
}

.kbd-xs {
  --selector-size: calc(var(--spacing-selector-size) * 4);
  font-size: 0.625rem;
}

.kbd-sm {
  --selector-size: calc(var(--spacing-selector-size) * 5);
  font-size: 0.75rem;
}

.kbd-md {
  --selector-size: calc(var(--spacing-selector-size) * 6);
  font-size: 0.875rem;
}

.kbd-lg {
  --selector-size: calc(var(--spacing-selector-size) * 7);
  font-size: 1rem;
}

.kbd-xl {
  --selector-size: calc(var(--spacing-selector-size) * 8);
  font-size: 1.125rem;
}
