.kbd {
  @apply bg-base-200 rounded-field px-2 inline-flex items-center justify-center align-middle;
  border: 1px solid color-mix(in srgb, var(--color-base-content) 20%, transparent);
  border-bottom: 2px solid color-mix(in srgb, var(--color-base-content) 20%, transparent);
  min-height: 2.2em;
  min-width: 2.2em;
}

.kbd-xs {
  @apply px-1;
  font-size: 0.6875rem;
  min-height: 1.2em;
  min-width: 1.2em;
}

.kbd-sm {
  @apply px-1;
  font-size: 0.75rem;
  min-height: 1.6em;
  min-width: 1.6em;
}

.kbd-md {
  @apply px-2;
  font-size: 0.875rem;
  min-height: 2.2em;
  min-width: 2.2em;
}

.kbd-lg {
  @apply px-4;
  font-size: 1.125rem;
  min-height: 2.5em;
  min-width: 2.5em;
}

.kbd-xl {
  @apply px-4;
  font-size: 1.375rem;
  min-height: 2.5em;
  min-width: 2.5em;
}
