.menu {
  @apply inline-flex flex-col flex-wrap text-sm p-2;

  :where(li ul) {
    @apply relative whitespace-nowrap ms-4 ps-2;

    &:before {
      @apply bg-base-content absolute bottom-3 start-0 top-3 w-px opacity-10;
      content: "";
    }
  }

  :where(li > .menu-dropdown:not(.menu-dropdown-show)) {
    @apply hidden;
  }

  :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply rounded-btn px-4 py-2 text-start transition duration-200 ease-out grid grid-flow-col content-start items-center gap-2;
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    text-wrap: balance;
    user-select: none;
  }

  :where(li > details > summary) {
    @apply outline-none;

    &::-webkit-details-marker {
      @apply hidden;
    }
  }

  :where(li > details > summary),
  :where(li > .menu-dropdown-toggle) {
    &:after {
      @apply justify-self-end;
      display: block;
      height: 0.375rem;
      width: 0.375rem;
      rotate: -135deg;
      translate: 0 -1px;
      transition-property: rotate, translate;
      transition-duration: 0.2s;
      content: "";
      transform-origin: 50% 50%;
      box-shadow: 2px 2px inset;
      pointer-events: none;
    }
  }


  :where(li > details[open] > summary):after,
  :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
    rotate: 45deg;
    translate: 0 1px;
  }


  :where(li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title, .disabled) > details > summary:not(.menu-title)) {

    &:not(.menu-active, :active, .btn) {

      &.menu-focus,
      &:focus-visible {
        @apply bg-base-content/10 text-base-content cursor-pointer outline-none;
      }

      &:hover {
        @apply cursor-pointer outline-none bg-base-content/10;
      }
    }
  }

  :where(li:empty) {
    @apply bg-base-content opacity-10;
    margin: 0.5rem 1rem;
    height: 1px;
  }

  :where(li) {
    @apply relative flex shrink-0 flex-col flex-wrap items-stretch;

    .badge {
      @apply justify-self-end;
    }

    &>*:not(ul, .menu-title, details, .btn):active,
    &>*:not(ul, .menu-title, details, .btn).menu-active,
    &>details>summary:active {
      @apply bg-neutral text-neutral-content bg-neutral text-neutral-content outline-none;
    }

    &.menu-disabled {
      @apply text-base-content/30 cursor-not-allowed select-none;
    }
  }
}

.menu-title {
  @apply text-base-content/40 px-4 py-2 text-sm font-bold;
}

.menu-horizontal {
  @apply inline-flex flex-row;

  &>li:not(.menu-title)>details>ul {
    @apply absolute ms-0 mt-4 py-2 pe-2;
  }

  &>li>details>ul {
    &:before {
      content: none;
    }
  }

  :where(&>li:not(.menu-title)>details>ul) {
    @apply bg-base-100 rounded-box shadow;
  }
}

.menu-vertical {
  @apply inline-flex flex-col;

  &>li:not(.menu-title)>details>ul {
    @apply relative ms-4 mt-0 py-0 pe-0;
  }
}

.menu-xs {

  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply rounded px-2 py-1 text-xs;
  }

  .menu-title {
    @apply px-2 py-1;
  }
}

.menu-sm {

  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply rounded-btn px-3 py-1 text-sm;
  }

  .menu-title {
    @apply px-3 py-2;
  }
}

.menu-md {

  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply rounded-btn px-4 py-2 text-sm;
  }

  .menu-title {
    @apply px-4 py-2;
  }
}

.menu-lg {

  :where(li:not(.menu-title) > *:not(ul, details, .menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply rounded-btn px-6 py-3 text-lg;
  }

  .menu-title {
    @apply px-6 py-3;
  }
}
