.range {
  appearance: none;
  -webkit-appearance: none;
  --range-shdw: currentColor;
  @apply rounded-box max-w-80 w-full cursor-pointer overflow-hidden bg-transparent align-middle;
  border: none;
  --spacing-selector-size: 0.25rem;
  --selector-size: calc(var(--spacing-selector-size) * 6);
  height: var(--selector-size);
  &:focus {
    outline: none;
  }

  &:focus-visible {
    --focus-shadow: 0 0 0 6px var(--color-base-100) inset, 0 0 0 2rem var(--range-shdw) inset;
  }

  &::-webkit-slider-runnable-track {
    @apply rounded-box bg-base-content/10 w-full;
    height: calc(var(--selector-size) * 0.5);
  }

  &::-webkit-slider-thumb {
    @apply rounded-box bg-base-100 relative;
    height: var(--selector-size);
    width: var(--selector-size);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    top: 50%;
    color: var(--range-shdw);
    transform: translateY(-50%);
    --filler-offset: 0.6rem;
    --track-shdw: calc(-100rem - var(--filler-offset)) 0 0 100rem;
    box-shadow:
      0 0 0 3px var(--range-shdw) inset,
      var(--focus-shadow, 0 0),
      var(--track-shdw);
  }

  [dir="rtl"] &::-webkit-slider-thumb {
    --track-shdw: calc(100rem * 1 + var(--filler-offset)) 0 0 100rem;
  }

  &::-moz-range-track {
    @apply rounded-box bg-base-content/10 w-full;
    height: calc(var(--selector-size) * 0.5);
  }

  &::-moz-range-thumb {
    @apply rounded-box bg-base-100 relative;
    height: var(--selector-size);
    width: var(--selector-size);
    border: none;
    top: 50%;
    color: var(--range-shdw);
    --filler-offset: 0.5rem;
    box-shadow:
      0 0 0 3px var(--range-shdw) inset,
      var(--focus-shadow, 0 0),
      calc(-100rem - var(--filler-offset)) 0 0 100rem;
  }
}

.range-primary {
  @apply text-primary;
}

.range-secondary {
  @apply text-secondary;
}

.range-accent {
  @apply text-accent;
}

.range-success {
  @apply text-success;
}

.range-warning {
  @apply text-warning;
}

.range-info {
  @apply text-info;
}

.range-error {
  @apply text-error;
}

.range-xs {
  --selector-size: calc(var(--spacing-selector-size) * 4);
  &::-webkit-slider-thumb {
    --filler-offset: 0.4rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 0.4rem;
  }
}

.range-sm {
  --selector-size: calc(var(--spacing-selector-size) * 5);
  &::-webkit-slider-thumb {
    --filler-offset: 0.5rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 0.5rem;
  }
}

.range-md {
  --selector-size: calc(var(--spacing-selector-size) * 6);
  &::-webkit-slider-thumb {
    --filler-offset: 0.6rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 0.6rem;
  }
}

.range-lg {
  --selector-size: calc(var(--spacing-selector-size) * 7);
  &::-webkit-slider-thumb {
    --filler-offset: 1rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 1rem;
  }
}

.range-xl {
  --selector-size: calc(var(--spacing-selector-size) * 9);
  &::-webkit-slider-thumb {
    --filler-offset: 1rem;
  }

  &::-moz-range-thumb {
    --filler-offset: 1rem;
  }
}
