.rating {
  @apply relative inline-flex align-middle;

  & input {
    border: none;
    @apply appearance-none;
    -webkit-appearance: none;
  }

  :where(input) {
    animation: rating-pop var(--animation-input, 0.25s) ease-out;
    @apply bg-base-content h-6 w-6 cursor-pointer rounded-none opacity-100;
  }

  & .rating-hidden {
    @apply w-2 bg-transparent;
  }

  input[type="radio"]:checked {
    background-image: none;
  }

  input {

    &:checked,
    &[aria-checked="true"] {
      &~input {
        @apply opacity-20;
      }
    }

    &:focus-visible {
      transition: translate .3s cubic-bezier(0, 0, 0.2, 1);
      translate: 0 -0.125em;
    }
  }

  & input:active:focus {
    animation: none;
  }

  & input:active:focus {
    translate: 0 -0.125em;
  }

  &:is(.rating-xs) {
    input {
      @apply size-3;
    }
  }

  &:is(.rating-sm) {
    input {
      @apply size-4;
    }
  }

  &:is(.rating-md) {
    input {
      @apply size-6;
    }
  }

  &:is(.rating-lg) {
    input {
      @apply size-10;
    }
  }
}

.rating-half {
  :where(input:not(.rating-hidden)) {
    @apply w-3;
  }
}

.rating-half {
  &.rating-xs input:not(.rating-hidden) {
    @apply w-1.5;
  }

  &.rating-sm input:not(.rating-hidden) {
    @apply w-2;
  }

  &.rating-md input:not(.rating-hidden) {
    @apply w-3;
  }

  &.rating-lg input:not(.rating-hidden) {
    @apply w-5;
  }
}

@keyframes rating-pop {
  0% {
    translate: 0 -0.125em;
  }

  40% {
    translate: 0 -0.125em;
  }

  100% {
    translate: 0 0;
  }
}
