.select {
  border: var(--spacing-button-border) solid transparent;
  @apply bg-base-100 max-w-80 px-4 gap-1.5 relative inline-flex w-full shrink appearance-none align-middle;
  height: var(--field-size);
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  font-size: 0.875rem;
  border-start-start-radius: var(--radius-join-ss, var(--radius-btn));
  border-start-end-radius: var(--radius-join-se, var(--radius-btn));
  border-end-start-radius: var(--radius-join-es, var(--radius-btn));
  border-end-end-radius: var(--radius-join-ee, var(--radius-btn));
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16.1px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
  padding-inline-end: 1.7rem;
  text-overflow: ellipsis;
  --spacing-field-size: 0.25rem;
  --field-size: calc(var(--spacing-field-size) * 9);
  select {
    @apply w-full bg-transparent;
    border-style: none;

    &:focus {
      @apply outline-hidden;
    }
  }

  &:focus,
  &:focus-within {
    @apply border-base-content/20 outline-base-content/20;
    outline: 2px solid;
    outline-offset: 2px;
  }

  &:has(> select[disabled]),
  &:is(:disabled, [disabled]) {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
  }

  &:has(> select[disabled]) > select[disabled] {
    @apply cursor-not-allowed;
  }

  &.select-border {
    @apply border-base-content/20;
    box-shadow:
      0 1px oklch(0% 0 0 / 0.1) inset,
      0 -1px oklch(100% 0 0 / 0.1) inset;

    &:focus {
      box-shadow: 0 1px oklch(0% 0 0 / 0.1);
    }
  }

  &.select-ghost {
    @apply bg-base-100/5;
    box-shadow: none;

    &:focus,
    &:focus-within {
      @apply text-base-content bg-base-100;
      box-shadow: none;
    }
  }

  &.select-primary {
    @apply border-primary;
    background-color: color-mix(in oklab, var(--color-primary) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-primary border-primary;
    }
  }

  &.select-secondary {
    @apply border-secondary;
    background-color: color-mix(in oklab, var(--color-secondary) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-secondary border-secondary;
    }
  }

  &.select-accent {
    @apply border-accent;
    background-color: color-mix(in oklab, var(--color-accent) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-accent border-accent;
    }
  }

  &.select-info {
    @apply border-info;
    background-color: color-mix(in oklab, var(--color-info) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-info border-info;
    }
  }

  &.select-success {
    @apply border-success;
    background-color: color-mix(in oklab, var(--color-success) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-success border-success;
    }
  }

  &.select-warning {
    @apply border-warning;
    background-color: color-mix(in oklab, var(--color-warning) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-warning border-warning;
    }
  }

  &.select-error {
    @apply border-error;
    background-color: color-mix(in oklab, var(--color-error) 2%, transparent);

    &:focus,
    &:focus-within {
      @apply outline-error border-error;
    }
  }

  &.select-xs {
    --field-size: calc(var(--spacing-field-size) * 5);
    font-size: 0.6875rem;
  }

  &.select-sm {
    --field-size: calc(var(--spacing-field-size) * 7);
    font-size: 0.75rem;
  }

  &.select-md {
    --field-size: calc(var(--spacing-field-size) * 9);
    font-size: 0.875rem;
  }

  &.select-lg {
    --field-size: calc(var(--spacing-field-size) * 11);
    font-size: 1.125rem;
  }

  &.select-xl {
    --field-size: calc(var(--spacing-field-size) * 14);
    font-size: 1.375rem;
  }
}
