.select {
  border: var(--spacing-button-border) solid transparent;
  @apply bg-base-100 max-w-80 px-4 gap-1.5 relative inline-flex w-full shrink appearance-none align-middle;
  height: var(--field-size);
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  font-size: 0.875rem;
  border-start-start-radius: var(--radius-join-ss, var(--radius-field));
  border-start-end-radius: var(--radius-join-se, var(--radius-field));
  border-end-start-radius: var(--radius-join-es, var(--radius-field));
  border-end-end-radius: var(--radius-join-ee, var(--radius-field));
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16.1px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
  padding-inline-end: 1.7rem;
  text-overflow: ellipsis;
  box-shadow:
    0 1px color-mix(in oklab, var(--input-color) 10%, transparent) inset,
    0 -1px oklch(100% 0 0 / 0.1) inset;
  border-color: var(--input-color);
  --input-color: color-mix(in oklab, var(--color-base-content) 20%, transparent);
  --spacing-field-size: 0.25rem;
  --field-size: calc(var(--spacing-field-size) * 9);
  select {
    @apply w-full appearance-none bg-transparent;
    border-style: none;
    &:focus,
    &:focus-within {
      @apply outline-hidden;
    }
  }

  &:focus,
  &:focus-within {
    --input-color: var(--color-base-content);
    box-shadow: 0 1px color-mix(in oklab, var(--input-color) 10%, transparent);
    outline: 2px solid var(--input-color);
    outline-offset: 2px;
  }

  &:has(> select[disabled]),
  &:is(:disabled, [disabled]) {
    @apply border-base-200 bg-base-200 placeholder-base-content text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
  }

  &:has(> select[disabled]) > select[disabled] {
    @apply cursor-not-allowed;
  }
}
.select-border {
  @apply border-base-content/20;
  box-shadow:
    0 1px oklch(0% 0 0 / 0.1) inset,
    0 -1px oklch(100% 0 0 / 0.1) inset;

  &:focus {
    box-shadow: 0 1px oklch(0% 0 0 / 0.1);
  }
}

.select-ghost {
  @apply bg-transparent;
  transition: background-color 0.2s;
  box-shadow: none;
  border-color: transparent;

  &:focus,
  &:focus-within {
    @apply text-base-content bg-base-100;
    border-color: transparent;
    box-shadow: none;
  }
}

.select-neutral {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-neutral);
  }
}

.select-primary {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-primary);
  }
}

.select-secondary {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-secondary);
  }
}

.select-accent {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-accent);
  }
}

.select-info {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-info);
  }
}

.select-success {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-success);
  }
}

.select-warning {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-warning);
  }
}

.select-error {
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-error);
  }
}

.select-xs {
  --field-size: calc(var(--spacing-field-size) * 6);
  font-size: 0.6875rem;
}

.select-sm {
  --field-size: calc(var(--spacing-field-size) * 8);
  font-size: 0.75rem;
}

.select-md {
  --field-size: calc(var(--spacing-field-size) * 10);
  font-size: 0.875rem;
}

.select-lg {
  --field-size: calc(var(--spacing-field-size) * 12);
  font-size: 1.125rem;
}

.select-xl {
  --field-size: calc(var(--spacing-field-size) * 14);
  font-size: 1.375rem;
}
