.status {
  @apply bg-base-content/20 rounded-badge align-middle aspect-square size-2 bg-no-repeat bg-center;
}

.status-primary {
  @apply bg-primary;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-primary) 100%, transparent);
}

.status-secondary {
  @apply bg-secondary;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-secondary) 100%, transparent);
}

.status-accent {
  @apply bg-accent;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-accent) 100%, transparent);
}

.status-neutral {
  @apply bg-neutral;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-neutral) 100%, transparent);
}

.status-info {
  @apply bg-info;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-info) 100%, transparent);
  background-image: url("data:image/svg+xml,%3Csvg width='1' height='5' fill='white' viewBox='0 0 1 5' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1' fill='white'/%3E%3Crect y='2' width='1' height='3'/%3E%3C/svg%3E%0A");
}

.status-success {
  @apply bg-success;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-success) 100%, transparent);
}

.status-warning {
  @apply bg-warning;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-warning) 100%, transparent);
  background-image: url("data:image/svg+xml,%3Csvg width='1' height='5' fill='white' viewBox='0 0 1 5' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='4' width='1' height='1' /%3E%3Crect width='1' height='3'/%3E%3C/svg%3E%0A");
}

.status-error {
  @apply bg-error;
  box-shadow: 0 2px 3px -1px color-mix(in oklab, var(--color-error) 100%, transparent);
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='1' fill='white' viewBox='0 0 4 1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='4' height='1'/%3E%3C/svg%3E%0A");
}

.status-xs {
  @apply size-0.5;
}

.status-sm {
  @apply size-1;
}

.status-md {
  @apply size-2;
}

.status-lg {
  @apply size-4;
}
