.tabs {
  @apply inline-grid items-end align-bottom;
}

.tab {
  @apply hover:text-base-content relative row-start-1 inline-flex h-8 cursor-pointer select-none appearance-none flex-wrap items-center justify-center text-center text-base-content/50;
  height: 2rem;
  font-size: 0.875rem;
  line-height: 2;
  --tab-padding: 1rem;
  --tab-bg: var(--color-base-100);
  --tab-border-color: var(--color-base-300);
  padding-inline-start: var(--tab-padding, 1rem);
  padding-inline-end: var(--tab-padding, 1rem);

  &:is(input[type="radio"]) {
    @apply w-auto;

    &:after {
      content: attr(aria-label);
    }
  }

  &:checked,
  &:is(.tab-active, [aria-selected="true"]) {
    &+.tab-content {
      @apply block;
    }
  }

  &:not(input):empty {
    @apply cursor-default;
    grid-column-start: span 9999;
  }

  &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not([disabled]),
  &:is(input:checked) {
    @apply border-base-content text-base-content;
  }

  &:focus {
    @apply outline-none;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: -5px;
  }

  &[disabled],
  &[disabled]:hover {
    @apply text-base-content/20 cursor-not-allowed;
  }
}

.tab-disabled {
  @apply text-base-content/20 cursor-not-allowed;
}

.tabs-border {
  &>.tab {
    @apply border-base-content/20;
    border-style: solid;
    border-width: 0;
    border-bottom-width: calc(var(--spacing-tab-border, 1px) + 1px);
  }
}

.tabs-lift {
  &>.tab:focus-visible {
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }

  &:has(.tab-content[class^="rounded-"]) .tab:first-child:not(:is(.tab-active, [aria-selected="true"])),
  &:has(.tab-content[class*=" rounded-"]) .tab:first-child:not(:is(.tab-active, [aria-selected="true"])) {
    @apply border-b-transparent;
  }

  &>.tab {
    &:is(input[type="radio"]) {
      @apply rounded-b-none;
    }

    border: var(--spacing-tab-border, 1px) solid transparent;
    border-width: 0 0 var(--spacing-tab-border, 1px) 0;
    border-start-start-radius: var(--tab-radius, 0.5rem);
    border-start-end-radius: var(--tab-radius, 0.5rem);
    border-bottom-color: var(--tab-border-color);
    padding-inline-start: var(--tab-padding, 1rem);
    padding-inline-end: var(--tab-padding, 1rem);
    padding-top: var(--spacing-tab-border, 1px);

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not([disabled]),
    &:is(input:checked) {
      background-color: var(--tab-bg);
      border-width: var(--spacing-tab-border, 1px) var(--spacing-tab-border, 1px) 0 var(--spacing-tab-border, 1px);
      border-inline-start-color: var(--tab-border-color);
      border-inline-end-color: var(--tab-border-color);
      border-top-color: var(--tab-border-color);
      padding-inline-start: calc(var(--tab-padding, 1rem) - var(--spacing-tab-border, 1px));
      padding-inline-end: calc(var(--tab-padding, 1rem) - var(--spacing-tab-border, 1px));
      padding-bottom: var(--spacing-tab-border, 1px);
      padding-top: 0;

      &:before {
        z-index: 1;
        content: "";
        display: block;
        position: absolute;
        width: calc(100% + var(--tab-radius, 0.5rem) * 2);
        height: var(--tab-radius, 0.5rem);
        bottom: 0;
        background-size: var(--tab-radius, 0.5rem);
        background-position:
          top left,
          top right;
        background-repeat: no-repeat;
        --tab-grad: calc(69% - var(--spacing-tab-border, 1px));
        --radius-start: radial-gradient(circle at top left,
            transparent var(--tab-grad),
            var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
            var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border, 1px)),
            var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border, 1px) + 0.25px));
        --radius-end: radial-gradient(circle at top right,
            transparent var(--tab-grad),
            var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
            var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border, 1px)),
            var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border, 1px) + 0.25px));
        background-image: var(--radius-start), var(--radius-end);
      }

      &:first-child:before {
        background-image: var(--radius-end);
        background-position: top right;

        [dir="rtl"] & {
          background-image: var(--radius-start);
          background-position: top left;
        }
      }

      &:last-child:before {
        background-image: var(--radius-start);
        background-position: top left;

        [dir="rtl"] & {
          background-image: var(--radius-end);
          background-position: top right;
        }
      }
    }
  }
}

.tabs-box {
  @apply rounded-btn p-1 bg-base-200;
  box-shadow: 0 -0.5px oklch(100% 0 0/ 0.1) inset, 0 0.5px oklch(0% 0 0/ 0.05) inset;

  .tab {
    @apply rounded-btn border-none;

    &:focus-visible {
      outline-offset: 2px;
    }
  }

  :is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not([disabled]),
  :is(input:checked) {
    @apply bg-base-100 text-base-content hover:text-base-content;
    box-shadow: 0 1px oklch(100% 0 0/ 0.1) inset, 0 1px 1px -1px color-mix(in oklab, var(--color-neutral), transparent), 0 1px 6px -4px var(--color-neutral);
  }
}

.tab-content {
  @apply col-start-1 col-end-[span_9999] row-start-2 hidden border-transparent;
  border-width: var(--spacing-tab-border, 1px);
  margin-top: calc(var(--spacing-tab-border) * -1);
  min-width: calc(100% + 1.5rem);

  :checked+&:nth-child(2),
  :is(.tab-active, [aria-selected="true"])+&:nth-child(2) {
    @apply rounded-ss-none;
  }
}

.tabs-xs {
  :where(.tab) {
    height: 1.25rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    --tab-padding: 0.5rem;
  }
}

.tabs-sm {
  :where(.tab) {
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 0.75rem;
    --tab-padding: 0.75rem;
  }
}

.tabs-md {
  :where(.tab) {
    height: 2rem;
    font-size: 0.875rem;
    line-height: 2;
    --tab-padding: 1rem;
  }
}

.tabs-lg {
  :where(.tab) {
    height: 3rem;
    font-size: 1.125rem;
    line-height: 2;
    --tab-padding: 1.25rem;
  }
}
