.tabs {
  @apply flex flex-wrap items-end align-bottom;
  --radius-tab-ss: 0;
  --radius-tab-se: 0;
  --radius-tab-es: 0;
  --radius-tab-ee: 0;
  --radius-tabcontent-ss: 0;
  --radius-tabcontent-se: 0;
  --radius-tabcontent-es: 0;
  --radius-tabcontent-ee: 0;
  --tab-order: 0;
  --tabcontent-order: 1;

  :where(.tab-content) {
    border-start-start-radius: var(--radius-tabcontent-ss);
    border-start-end-radius: var(--radius-tabcontent-se);
    border-end-start-radius: var(--radius-tabcontent-es);
    border-end-end-radius: var(--radius-tabcontent-ee);
  }
}

.tabs-top {
  --tab-order: 0;
  --tabcontent-order: 1;
}

.tabs-bottom {
  --tab-order: 1;
  --tabcontent-order: 0;
}

.tab {
  @apply hover:text-base-content relative inline-flex cursor-pointer select-none appearance-none flex-wrap items-center justify-center text-center text-base-content/50;
  order: var(--tab-order);
  height: 2rem;
  font-size: 0.875rem;
  line-height: 2;
  --tab-padding: 1rem;
  --tab-bg: var(--color-base-100);
  --tab-border-color: var(--color-base-300);
  padding-inline-start: var(--tab-padding, 1rem);
  padding-inline-end: var(--tab-padding, 1rem);

  &:is(input[type="radio"]) {
    @apply w-auto;

    &:after {
      content: attr(aria-label);
    }
  }

  &:checked,
  &:is(.tab-active, [aria-selected="true"]) {
    &+.tab-content {
      @apply block;
    }
  }

  &:not(input):empty {
    @apply cursor-default;
  }

  &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
  &:is(input:checked) {
    @apply text-base-content;
  }

  &:focus {
    @apply outline-none;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: -5px;
  }

  &[disabled],
  &[disabled]:hover {
    @apply text-base-content/20 cursor-not-allowed;
  }
}

.tab-disabled {
  @apply text-base-content/20 cursor-not-allowed;
}

.tabs-border {
  &>.tab {
    @apply border-base-content/20;
    border-style: solid;
    border-width: 0;
    border-bottom-width: calc(var(--spacing-tab-border) + 1px);
  }
}

.tabs-lift {
  .tab {
    --tab-border-width: 0 0 var(--spacing-tab-border) 0;
    --radius-tab-ss: var(--radius-btn);
    --radius-tab-se: var(--radius-btn);
    --radius-tab-es: 0;
    --radius-tab-ee: 0;
    --tab-paddings: var(--spacing-tab-border) var(--tab-padding, 1rem) 0 var(--tab-padding, 1rem);
    --tab-border-colors: transparent transparent var(--tab-border-color) transparent;

    border-width: var(--tab-border-width);
    border-start-start-radius: var(--radius-tab-ss);
    border-start-end-radius: var(--radius-tab-se);
    border-end-start-radius: var(--radius-tab-es);
    border-end-end-radius: var(--radius-tab-ee);
    padding: var(--tab-paddings);
    border-color: var(--tab-border-colors);

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border-width: var(--spacing-tab-border) var(--spacing-tab-border) 0 var(--spacing-tab-border);
      --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent var(--tab-border-color);
      --tab-paddings: 0 calc(var(--tab-padding, 1rem) - var(--spacing-tab-border)) var(--spacing-tab-border) calc(var(--tab-padding, 1rem) - var(--spacing-tab-border));
      --tab-inset: auto auto 0 auto;
      --tab-grad: calc(69% - var(--spacing-tab-border));
      --radius-start: radial-gradient(circle at top left,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border)),
          var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border) + 0.25px));
      --radius-end: radial-gradient(circle at top right,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border)),
          var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border) + 0.25px));
      background-color: var(--tab-bg);

      &:before {
        z-index: 1;
        content: "";
        display: block;
        position: absolute;
        width: calc(100% + var(--radius-btn) * 2);
        height: var(--radius-btn);
        background-image: var(--radius-start), var(--radius-end);
        background-size: var(--radius-btn);
        background-position: top left, top right;
        background-repeat: no-repeat;
        inset: var(--tab-inset);
      }

      &:first-child:before {
        background-image: var(--radius-end);
        background-position: top right;

        [dir="rtl"] & {
          background-image: var(--radius-start);
          background-position: top left;
        }
      }

      &:last-child:before {
        background-image: var(--radius-start);
        background-position: top left;

        [dir="rtl"] & {
          background-image: var(--radius-end);
          background-position: top right;
        }
      }
    }

    &:last-of-type {
      margin-inline-end: var(--tab-padding);
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-margin: calc(var(--spacing-tab-border) * -1) 0 0 0;
    --radius-tabcontent-ss: 0;
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: var(--radius-box);
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    &+.tab-content:not(:nth-child(2)) {
      --radius-tabcontent-ss: var(--radius-box);
    }
  }
}

.tabs-top {
  .tab {
    --tab-border-width: 0 0 var(--spacing-tab-border) 0;
    --radius-tab-ss: var(--radius-btn);
    --radius-tab-se: var(--radius-btn);
    --radius-tab-es: 0;
    --radius-tab-ee: 0;
    --tab-paddings: var(--spacing-tab-border) var(--tab-padding, 1rem) 0 var(--tab-padding, 1rem);
    --tab-border-colors: transparent transparent var(--tab-border-color) transparent;

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border-width: var(--spacing-tab-border) var(--spacing-tab-border) 0 var(--spacing-tab-border);
      --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent var(--tab-border-color);
      --tab-paddings: 0 calc(var(--tab-padding, 1rem) - var(--spacing-tab-border)) var(--spacing-tab-border) calc(var(--tab-padding, 1rem) - var(--spacing-tab-border));
      --tab-inset: auto auto 0 auto;
      --tab-grad: calc(69% - var(--spacing-tab-border));
      --radius-start: radial-gradient(circle at top left,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border)),
          var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border) + 0.25px));
      --radius-end: radial-gradient(circle at top right,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border)),
          var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border) + 0.25px));
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-margin: calc(var(--spacing-tab-border) * -1) 0 0 0;
    --radius-tabcontent-ss: 0;
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: var(--radius-box);
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    &+.tab-content:not(:nth-child(2)) {
      --radius-tabcontent-ss: var(--radius-box);
    }
  }
}

.tabs-bottom {
  .tab {
    --tab-border-width: var(--spacing-tab-border) 0 0 0;
    --radius-tab-ss: 0;
    --radius-tab-se: 0;
    --radius-tab-es: var(--radius-btn);
    --radius-tab-ee: var(--radius-btn);
    --tab-border-colors: var(--tab-border-color) transparent transparent transparent;
    --tab-paddings: 0 var(--tab-padding, 1rem) var(--spacing-tab-border) var(--tab-padding, 1rem);

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border-width: 0 var(--spacing-tab-border) var(--spacing-tab-border) var(--spacing-tab-border);
      --tab-border-colors: transparent var(--tab-border-color) var(--tab-border-color) var(--tab-border-color);
      --tab-paddings: var(--spacing-tab-border) calc(var(--tab-padding, 1rem) - var(--spacing-tab-border)) 0 calc(var(--tab-padding, 1rem) - var(--spacing-tab-border));


      --tab-inset: 0 auto auto auto;
      --radius-start: radial-gradient(circle at bottom left,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border)),
          var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border) + 0.25px));
      --radius-end: radial-gradient(circle at bottom right,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + var(--spacing-tab-border)),
          var(--tab-bg) calc(var(--tab-grad) + var(--spacing-tab-border) + 0.25px));
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: transparent var(--tab-border-color) var(--tab-border-color) var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-margin: 0 0 calc(var(--spacing-tab-border) * -1) 0;
    --radius-tabcontent-ss: var(--radius-box);
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: 0;
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    &+.tab-content:not(:nth-child(2)) {
      --radius-tabcontent-es: var(--radius-box);
    }
  }
}


.tabs-box {
  @apply rounded-btn p-1 bg-base-200;
  box-shadow: 0 -0.5px oklch(100% 0 0/ 0.1) inset, 0 0.5px oklch(0% 0 0/ 0.05) inset;

  .tab {
    @apply rounded-btn;
    border-style: none;

    &:focus-visible {
      outline-offset: 2px;
    }
  }

  :is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
  :is(input:checked) {
    @apply bg-base-100 text-base-content hover:text-base-content;
    box-shadow: 0 1px oklch(100% 0 0/ 0.1) inset, 0 1px 1px -1px color-mix(in oklab, var(--color-neutral), transparent), 0 1px 6px -4px var(--color-neutral);
  }
}

.tab-content {
  @apply hidden border-transparent order-1 w-full;
  margin: var(--tabcontent-margin);
  order: var(--tabcontent-order);
  border-width: var(--spacing-tab-border);
}

.tabs-xs {
  :where(.tab) {
    height: 1.25rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    --tab-padding: 0.5rem;
  }
}

.tabs-sm {
  :where(.tab) {
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 0.75rem;
    --tab-padding: 0.75rem;
  }
}

.tabs-md {
  :where(.tab) {
    height: 2rem;
    font-size: 0.875rem;
    line-height: 2;
    --tab-padding: 1rem;
  }
}

.tabs-lg {
  :where(.tab) {
    height: 3rem;
    font-size: 1.125rem;
    line-height: 2;
    --tab-padding: 1.25rem;
  }
}
