.tabs {
  @apply flex flex-wrap;
  --tabs-height: auto;
  --tabs-direction: row;
  height: var(--tabs-height);
  flex-direction: var(--tabs-direction);
}

.tab {
  @apply hover:text-base-content text-base-content/50 relative inline-flex cursor-pointer appearance-none flex-wrap items-center justify-center text-center select-none;
  --tab-padding: 1rem;
  --tab-bg: var(--color-base-100);
  --tab-border-color: var(--color-base-300);
  --tab-radius-ss: 0;
  --tab-radius-se: 0;
  --tab-radius-es: 0;
  --tab-radius-ee: 0;
  --tab-order: 0;
  order: var(--tab-order);
  height: 2.25rem;
  font-size: 0.875rem;
  padding-inline-start: var(--tab-padding);
  padding-inline-end: var(--tab-padding);

  &:is(input[type="radio"]) {
    @apply min-w-fit;

    &:after {
      content: attr(aria-label);
    }
  }

  &:checked,
  &:is(.tab-active, [aria-selected="true"]) {
    & + .tab-content {
      @apply block h-full;
    }
  }

  &:not(input):empty {
    @apply cursor-default;
  }

  &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
  &:is(input:checked) {
    @apply text-base-content;
  }

  &:focus {
    @apply outline-hidden;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: -5px;
  }

  &[disabled],
  &[disabled]:hover {
    @apply text-base-content/20 cursor-not-allowed;
  }
}

.tab-disabled {
  @apply text-base-content/20 cursor-not-allowed;
}

.tabs-border {
  & > .tab {
    @apply border-base-content/20;
    border-style: solid;
    border-width: 0;
    border-bottom-width: calc(1px + 1px);
  }
}

.tabs-lift {
  --tabs-height: 2.25rem;
  --tabs-direction: row;

  .tab {
    --tab-border: 0 0 1px 0;
    --tab-radius-ss: var(--radius-selector);
    --tab-radius-se: var(--radius-selector);
    --tab-radius-es: 0;
    --tab-radius-ee: 0;
    --tab-paddings: 1px var(--tab-padding) 0 var(--tab-padding);
    --tab-border-colors: transparent transparent var(--tab-border-color) transparent;
    --tab-corner-width: calc(100% + var(--radius-selector) * 2);
    --tab-corner-height: var(--radius-selector);
    --tab-corner-position: top left, top right;
    --last-tab-margin: 0 var(--tab-padding) 0 0;

    border-width: var(--tab-border);
    border-start-start-radius: var(--tab-radius-ss);
    border-start-end-radius: var(--tab-radius-se);
    border-end-start-radius: var(--tab-radius-es);
    border-end-end-radius: var(--tab-radius-ee);
    padding: var(--tab-paddings);
    border-color: var(--tab-border-colors);

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border: 1px 1px 0 1px;
      --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent
        var(--tab-border-color);
      --tab-paddings: 0 calc(var(--tab-padding) - 1px) 1px calc(var(--tab-padding) - 1px);
      --tab-inset: auto auto 0 auto;
      --tab-grad: calc(69% - 1px);
      --radius-start: radial-gradient(
        circle at top left,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + 1px),
        var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px)
      );
      --radius-end: radial-gradient(
        circle at top right,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + 1px),
        var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px)
      );
      background-color: var(--tab-bg);

      &:before {
        z-index: 1;
        content: "";
        display: block;
        position: absolute;
        width: var(--tab-corner-width);
        height: var(--tab-corner-height);
        background-position: var(--tab-corner-position);
        background-image: var(--radius-start), var(--radius-end);
        background-size: var(--radius-selector) var(--radius-selector);
        background-repeat: no-repeat;
        inset: var(--tab-inset);
      }

      &:first-child:before {
        --radius-start: none;
      }

      &:last-child:before {
        --radius-end: none;
      }
    }

    &:last-of-type {
      margin: var(--last-tab-margin);
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent
          var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-margin: -1px 0 0 0;
    --radius-tabcontent-ss: 0;
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: var(--radius-box);
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    & + .tab-content:not(:nth-child(2)) {
      --radius-tabcontent-ss: var(--radius-box);
    }
  }
}

.tabs-top {
  --tabs-height: 2.25rem;
  --tabs-direction: row;

  .tab {
    --tab-order: 0;
    --tab-border: 0 0 1px 0;
    --tab-radius-ss: var(--radius-selector);
    --tab-radius-se: var(--radius-selector);
    --tab-radius-es: 0;
    --tab-radius-ee: 0;
    --tab-paddings: 1px var(--tab-padding) 0 var(--tab-padding);
    --tab-border-colors: transparent transparent var(--tab-border-color) transparent;
    --tab-corner-width: calc(100% + var(--radius-selector) * 2);
    --tab-corner-height: var(--radius-selector);
    --tab-corner-position: top left, top right;
    --last-tab-margin: 0 var(--tab-padding) 0 0;

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border: 1px 1px 0 1px;
      --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent
        var(--tab-border-color);
      --tab-paddings: 0 calc(var(--tab-padding) - 1px) 1px calc(var(--tab-padding) - 1px);
      --tab-inset: auto auto 0 auto;
      --radius-start: radial-gradient(
        circle at top left,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + 1px),
        var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px)
      );
      --radius-end: radial-gradient(
        circle at top right,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + 1px),
        var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px)
      );
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: var(--tab-border-color) var(--tab-border-color) transparent
          var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-order: 1;
    --tabcontent-margin: -1px 0 0 0;
    --radius-tabcontent-ss: 0;
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: var(--radius-box);
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    & + .tab-content:not(:nth-child(2)) {
      --radius-tabcontent-ss: var(--radius-box);
    }
  }
}

.tabs-bottom {
  --tabs-height: 2.25rem;
  --tabs-direction: row;

  .tab {
    --tab-order: 1;
    --tab-border: 1px 0 0 0;
    --tab-radius-ss: 0;
    --tab-radius-se: 0;
    --tab-radius-es: var(--radius-selector);
    --tab-radius-ee: var(--radius-selector);
    --tab-border-colors: var(--tab-border-color) transparent transparent transparent;
    --tab-paddings: 0 var(--tab-padding) 1px var(--tab-padding);
    --tab-corner-width: calc(100% + var(--radius-selector) * 2);
    --tab-corner-height: var(--radius-selector);
    --tab-corner-position: top left, top right;
    --last-tab-margin: 0 var(--tab-padding) 0 0;

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border: 0 1px 1px 1px;
      --tab-border-colors: transparent var(--tab-border-color) var(--tab-border-color)
        var(--tab-border-color);
      --tab-paddings: 1px calc(var(--tab-padding) - 1px) 0 calc(var(--tab-padding) - 1px);
      --tab-inset: 0 auto auto auto;
      --radius-start: radial-gradient(
        circle at bottom left,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + 1px),
        var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px)
      );
      --radius-end: radial-gradient(
        circle at bottom right,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + 1px),
        var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px)
      );
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: transparent var(--tab-border-color) var(--tab-border-color)
          var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-order: 0;
    --tabcontent-margin: 0 0 -1px 0;
    --radius-tabcontent-ss: var(--radius-box);
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: 0;
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    & + .tab-content:not(:nth-child(2)) {
      --radius-tabcontent-es: var(--radius-box);
    }
  }
}

/* .tabs-start {
  --tabs-height: 10rem;
  --tabs-direction: column;

  .tab {
    --tab-order: 0;
    --tab-border: 0 1px 0 0;
    --tab-radius-ss: var(--radius-selector);
    --tab-radius-se: 0;
    --tab-radius-es: var(--radius-selector);
    --tab-radius-ee: 0;
    --tab-paddings: 1px var(--tab-padding) 1px calc(var(--tab-padding) + 1px);
    --tab-border-colors: transparent var(--tab-border-color) transparent transparent;
    --tab-corner-width: var(--radius-selector);
    --tab-corner-height: calc(100% + var(--radius-selector) * 2);
    --tab-corner-position: top right, bottom right;
    --last-tab-margin: 0 0 0 0;

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked) {
      --tab-border: 1px 0 1px 1px;
      --tab-border-colors: var(--tab-border-color) transparent var(--tab-border-color) var(--tab-border-color);
      --tab-paddings: 0 calc(1px + var(--tab-padding)) 0 var(--tab-padding);
      --tab-inset: auto 0 auto auto;
      --radius-start: radial-gradient(circle at top left,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + 1px),
          var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px));
      --radius-end: radial-gradient(circle at bottom left,
          transparent var(--tab-grad),
          var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
          var(--tab-border-color) calc(var(--tab-grad) + 1px),
          var(--tab-bg) calc(var(--tab-grad) + 1px + 0.25px));
    }
  }

  &:has(.tab-content) {
    .tab:first-child {
      &:not(.tab-active, [aria-selected="true"]) {
        --tab-border-colors: var(--tab-border-color) transparent var(--tab-border-color) var(--tab-border-color);
      }
    }
  }

  .tab-content {
    --tabcontent-order: 1;
    --tabcontent-margin: 0 0 0 -1px;
    --radius-tabcontent-ss: 0;
    --radius-tabcontent-se: var(--radius-box);
    --radius-tabcontent-es: var(--radius-box);
    --radius-tabcontent-ee: var(--radius-box);
  }

  :checked,
  :is(.tab-active, [aria-selected="true"]) {
    &+.tab-content:not(:nth-child(2)) {
      --radius-tabcontent-ss: var(--radius-box);
    }
  }
} */

.tabs-box {
  @apply rounded-field bg-base-200 p-1;
  box-shadow:
    0 -0.5px oklch(100% 0 0/ 0.1) inset,
    0 0.5px oklch(0% 0 0/ 0.05) inset;

  .tab {
    @apply rounded-field;
    border-style: none;

    &:focus-visible {
      outline-offset: 2px;
    }
  }

  :is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
  :is(input:checked) {
    @apply bg-base-100 text-base-content hover:text-base-content;
    box-shadow:
      0 1px oklch(100% 0 0/ 0.1) inset,
      0 1px 1px -1px color-mix(in oklab, var(--color-neutral), transparent),
      0 1px 6px -4px var(--color-neutral);
  }
}

.tab-content {
  @apply order-1 hidden border-transparent;
  --radius-tabcontent-ss: 0;
  --radius-tabcontent-se: 0;
  --radius-tabcontent-es: 0;
  --radius-tabcontent-ee: 0;
  --tabcontent-order: 1;
  width: 100%;
  margin: var(--tabcontent-margin);
  order: var(--tabcontent-order);
  border-width: 1px;
  border-start-start-radius: var(--radius-tabcontent-ss);
  border-start-end-radius: var(--radius-tabcontent-se);
  border-end-start-radius: var(--radius-tabcontent-es);
  border-end-end-radius: var(--radius-tabcontent-ee);
}

.tabs-xs {
  :where(.tab) {
    height: 1.25rem;
    font-size: 0.75rem;
    --tab-padding: 0.375rem;
  }
}

.tabs-sm {
  :where(.tab) {
    height: 1.75rem;
    font-size: 0.875rem;
    --tab-padding: 0.5rem;
  }
}

.tabs-md {
  :where(.tab) {
    height: 2.25rem;
    font-size: 0.875rem;
    --tab-padding: 0.75rem;
  }
}

.tabs-lg {
  :where(.tab) {
    height: 2.75rem;
    font-size: 1.125rem;
    --tab-padding: 1rem;
  }
}

.tabs-xl {
  :where(.tab) {
    height: 3.5rem;
    font-size: 1.125rem;
    --tab-padding: 1.25rem;
  }
}
