.table {
  font-size: 0.875rem;
  @apply rounded-box relative w-full text-left rtl:text-right;

  tr.row-hover {
    &,
    &:nth-child(even) {
      @apply hover:bg-base-200;
    }
  }

  :where(th, td) {
    @apply px-4 py-3 align-middle;
  }

  :where(thead, tfoot) {
    @apply text-base-content/60 whitespace-nowrap;
    font-size: 0.875rem;
    font-weight: 600;
  }

  :where(tfoot) {
    border-top: 1px solid var(--color-base-200);
  }

  :where(.table-pin-rows thead tr) {
    @apply bg-base-100 top-0 sticky z-[1];
  }

  :where(.table-pin-rows tfoot tr) {
    @apply bg-base-100 bottom-0 sticky z-[1];
  }

  :where(.table-pin-cols tr th) {
    @apply bg-base-100 right-0 left-0 sticky;
  }

  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
    border-bottom: 1px solid var(--color-base-200);
  }
}

.table-zebra {
  tbody {
    tr {
      &:nth-child(even) {
        @apply bg-base-200;

        :where(.table-pin-cols tr th) {
          @apply bg-base-200;
        }
      }

      &.row-hover {
        &,
        &:nth-child(even) {
          @apply hover:bg-base-300;
        }
      }
    }
  }
}

.table-xs {
  :not(thead, tfoot) tr {
    font-size: 0.6875rem;
  }

  :where(th, td) {
    @apply px-2 py-1;
  }
}

.table-sm {
  :not(thead, tfoot) tr {
    font-size: 0.75rem;
  }

  :where(th, td) {
    @apply px-3 py-2;
  }
}

.table-md {
  :not(thead, tfoot) tr {
    font-size: 0.875rem;
  }

  :where(th, td) {
    @apply px-4 py-3;
  }
}

.table-lg {
  :not(thead, tfoot) tr {
    font-size: 1.125rem;
  }

  :where(th, td) {
    @apply px-5 py-4;
  }
}

.table-xl {
  :not(thead, tfoot) tr {
    font-size: 1.375rem;
  }

  :where(th, td) {
    @apply px-6 py-5;
  }
}
