.toggle {
  border: 1px solid currentColor;
  @apply rounded-selector text-base-content/50 inline-flex shrink-0 cursor-pointer appearance-none p-[.1875rem] align-middle;
  box-shadow: 0 1px color-mix(in oklab, currentColor, transparent 90%) inset;
  transition: color 0.3s;
  --spacing-selector-size: 0.25rem;
  --selector-size: calc(var(--spacing-selector-size) * 6);
  width: calc(var(--selector-size) * 1.75);
  height: var(--selector-size);
  &:before {
    @apply block h-full grow-0;
    content: "";
    transition: flex-grow 0.2s;
  }

  &:after {
    @apply start-0 relative block aspect-square h-full bg-current;
    translate: 0;
    border-radius: calc(var(--radius-selector) - 3px);
    content: "";
    transition:
      background-color 0.1s,
      translate 0.2s,
      inset-inline-start 0.2s;
    box-shadow:
      0 -1px oklch(0% 0 0 / 0.1) inset,
      0 8px 0 -4px oklch(100% 0 0 / 0.1) inset,
      0 1px color-mix(in oklab, currentColor, transparent 90%);
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:checked,
  &[aria-checked="true"] {
    @apply bg-base-100 text-base-content;

    &:before {
      @apply grow;
    }

    &:after {
      @apply bg-current;

      @starting-style {
        opacity: 0;
      }
    }
  }

  &:indeterminate {
    &:before {
      @apply grow-0;
    }

    &:after {
      @apply start-1/2;
      translate: -50% 0;
    }
  }

  &:disabled {
    @apply cursor-not-allowed opacity-30;

    &:after {
      @apply bg-transparent;
      border: 1px solid currentColor;
    }
  }
}

.toggle-primary {
  &:checked,
  &[aria-checked="true"] {
    @apply text-primary;
  }
}

.toggle-secondary {
  &:checked,
  &[aria-checked="true"] {
    @apply text-secondary;
  }
}

.toggle-accent {
  &:checked,
  &[aria-checked="true"] {
    @apply text-accent;
  }
}

.toggle-success {
  &:checked,
  &[aria-checked="true"] {
    @apply text-success;
  }
}

.toggle-warning {
  &:checked,
  &[aria-checked="true"] {
    @apply text-warning;
  }
}

.toggle-info {
  &:checked,
  &[aria-checked="true"] {
    @apply text-info;
  }
}

.toggle-error {
  &:checked,
  &[aria-checked="true"] {
    @apply text-error;
  }
}

/* responsive */

.toggle-xs {
  &:is([type="checkbox"]) {
    @apply p-[.0625rem];
    --selector-size: calc(var(--spacing-selector-size) * 4);
  }
}

.toggle-sm {
  &:is([type="checkbox"]) {
    @apply p-[.125rem];
    --selector-size: calc(var(--spacing-selector-size) * 5);
  }
}

.toggle-md {
  &:is([type="checkbox"]) {
    @apply p-[.1875rem];
    --selector-size: calc(var(--spacing-selector-size) * 6);
  }
}

.toggle-lg {
  &:is([type="checkbox"]) {
    @apply p-[.25rem];
    --selector-size: calc(var(--spacing-selector-size) * 7);
  }
}

.toggle-xl {
  &:is([type="checkbox"]) {
    @apply p-[.3125rem];
    --selector-size: calc(var(--spacing-selector-size) * 9);
  }
}
