.join {
  @apply inline-flex items-stretch;
  --join-ss: 0;
  --join-se: 0;
  --join-es: 0;
  --join-ee: 0;
  --join-v: 0;
  --join-h: 1;

  @scope (&) {
    > :where(:focus, :has(:focus)) {
      @apply z-1;
    }

    @media (hover: hover) {
      > :where(.btn:hover, :has(.btn:hover)) {
        @apply isolate;
      }
    }

    :where(:scope > :first-child) {
      --join-ss: var(--radius-field);
      --join-se: calc(var(--radius-field) * var(--join-v));
      --join-es: calc(var(--radius-field) * var(--join-h));
      --join-ee: 0;
    }

    :where(:scope > :last-child) {
      --join-ss: 0;
      --join-se: calc(var(--radius-field) * var(--join-h));
      --join-es: calc(var(--radius-field) * var(--join-v));
      --join-ee: var(--radius-field);
    }

    :where(:scope > :only-child) {
      --join-ss: var(--radius-field);
      --join-se: var(--radius-field);
      --join-es: var(--radius-field);
      --join-ee: var(--radius-field);
    }
  }
}

.join-item {
  @apply border;
  border-radius: var(--join-ss) var(--join-se) var(--join-ee) var(--join-es);

  &:not(:first-child, :disabled, [disabled], .btn-disabled) {
    margin-inline-start: calc(var(--border, 1px) * -1 * var(--join-h));
    margin-block-start: calc(var(--border, 1px) * -1 * var(--join-v));
  }

  &:is(:disabled, [disabled], .btn-disabled) {
    border-width: var(--border, 1px);
    border-inline-end-width: calc(var(--border, 1px) * var(--join-v));
    border-block-end-width: calc(var(--border, 1px) * var(--join-h));
  }
}

.join-vertical {
  @apply flex-col;
  --join-v: 1;
  --join-h: 0;
}

.join-horizontal {
  @apply flex-row;
  --join-v: 0;
  --join-h: 1;
}
