.join {
  @apply inline-flex items-stretch;
  --radius-join-ss: 0;
  --radius-join-se: 0;
  --radius-join-es: 0;
  --radius-join-ee: 0;

  :where(.join-item) {
    border-start-start-radius: var(--radius-join-ss, 0);
    border-start-end-radius: var(--radius-join-se, 0);
    border-end-start-radius: var(--radius-join-es, 0);
    border-end-end-radius: var(--radius-join-ee, 0);
  }

  > .join-item:where(:first-child) {
    --radius-join-ss: var(--radius-field);
    --radius-join-se: 0;
    --radius-join-es: var(--radius-field);
    --radius-join-ee: 0;
  }

  :first-child:not(:last-child) {
    :where(.join-item) {
      --radius-join-ss: var(--radius-field);
      --radius-join-se: 0;
      --radius-join-es: var(--radius-field);
      --radius-join-ee: 0;
    }
  }

  > .join-item:where(:last-child) {
    --radius-join-ss: 0;
    --radius-join-se: var(--radius-field);
    --radius-join-es: 0;
    --radius-join-ee: var(--radius-field);
  }

  :last-child:not(:first-child) {
    :where(.join-item) {
      --radius-join-ss: 0;
      --radius-join-se: var(--radius-field);
      --radius-join-es: 0;
      --radius-join-ee: var(--radius-field);
    }
  }
}

.join-item {
  box-shadow: none;

  &:where(*:not(:first-child)) {
    margin-inline-start: calc(var(--border-width, 1px) * -1);
    margin-block-start: 0;
  }
}

.join-vertical {
  @apply flex-col;

  > .join-item:first-child {
    --radius-join-ss: var(--radius-field);
    --radius-join-se: var(--radius-field);
    --radius-join-es: 0;
    --radius-join-ee: 0;
  }

  :first-child:not(:last-child) {
    .join-item {
      --radius-join-ss: var(--radius-field);
      --radius-join-se: var(--radius-field);
      --radius-join-es: 0;
      --radius-join-ee: 0;
    }
  }

  > .join-item:last-child {
    --radius-join-ss: 0;
    --radius-join-se: 0;
    --radius-join-es: var(--radius-field);
    --radius-join-ee: var(--radius-field);
  }

  :last-child:not(:first-child) {
    .join-item {
      --radius-join-ss: 0;
      --radius-join-se: 0;
      --radius-join-es: var(--radius-field);
      --radius-join-ee: var(--radius-field);
    }
  }

  .join-item {
    &:where(*:not(:first-child)) {
      margin-inline-start: 0;
      margin-block-start: calc(var(--border-width, 1px) * -1);
    }
  }
}

.join-horizontal {
  @apply flex-row;

  > .join-item:first-child {
    --radius-join-ss: var(--radius-field);
    --radius-join-se: 0;
    --radius-join-es: var(--radius-field);
    --radius-join-ee: 0;
  }

  :first-child:not(:last-child) {
    .join-item {
      --radius-join-ss: var(--radius-field);
      --radius-join-se: 0;
      --radius-join-es: var(--radius-field);
      --radius-join-ee: 0;
    }
  }

  > .join-item:last-child {
    --radius-join-ss: 0;
    --radius-join-se: var(--radius-field);
    --radius-join-es: 0;
    --radius-join-ee: var(--radius-field);
  }

  :last-child:not(:first-child) {
    .join-item {
      --radius-join-ss: 0;
      --radius-join-se: var(--radius-field);
      --radius-join-es: 0;
      --radius-join-ee: var(--radius-field);
    }
  }

  .join-item {
    &:where(*:not(:first-child)) {
      margin-inline-start: calc(var(--border-width, 1px) * -1);
      margin-block-start: 0;
    }
  }
}
