.badge {
  &-primary {
    @apply border-primary bg-primary text-primary-content;
  }
  &-secondary {
    @apply border-secondary bg-secondary text-secondary-content;
  }
  &-accent {
    @apply border-accent bg-accent text-accent-content;
  }

  &-ghost {
    @apply border-base-200 bg-base-200 text-base-content;
  }

  &-outline {
    @apply border-current border-opacity-50 bg-transparent text-base-content;
    &.badge-primary {
      @apply text-primary;
    }
    &.badge-secondary {
      @apply text-secondary;
    }
    &.badge-accent {
      @apply text-accent;
    }
  }

  &-info {
    @apply border-transparent bg-info text-info-content;
  }
  &-success {
    @apply border-transparent bg-success text-success-content;
  }
  &-warning {
    @apply border-transparent bg-warning text-warning-content;
  }
  &-error {
    @apply border-transparent bg-error text-error-content;
  }
}
