/* group */
.btn-group {
  .btn:not(:first-child):not(:last-child) {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
  .btn:first-child:not(:last-child) {
    @apply -mt-0 -ml-px;
    border-start-start-radius: var(--rounded-btn, 0.5rem);
    border-start-end-radius: 0;
    border-end-start-radius: var(--rounded-btn, 0.5rem);
    border-end-end-radius: 0;
  }
  .btn:last-child:not(:first-child) {
    border-start-start-radius: 0;
    border-start-end-radius: var(--rounded-btn, 0.5rem);
    border-end-start-radius: 0;
    border-end-end-radius: var(--rounded-btn, 0.5rem);
  }
  &-horizontal {
    .btn:not(:first-child):not(:last-child) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
    .btn:first-child:not(:last-child) {
      @apply -mt-0 -ml-px;
      border-start-start-radius: var(--rounded-btn, 0.5rem);
      border-start-end-radius: 0;
      border-end-start-radius: var(--rounded-btn, 0.5rem);
      border-end-end-radius: 0;
    }
    .btn:last-child:not(:first-child) {
      border-start-start-radius: 0;
      border-start-end-radius: var(--rounded-btn, 0.5rem);
      border-end-start-radius: 0;
      border-end-end-radius: var(--rounded-btn, 0.5rem);
    }
  }
  &-vertical {
    .btn:first-child:not(:last-child) {
      @apply -mt-px -ml-0;
      border-start-start-radius: var(--rounded-btn, 0.5rem);
      border-start-end-radius: var(--rounded-btn, 0.5rem);
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
    .btn:last-child:not(:first-child) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
      border-end-start-radius: var(--rounded-btn, 0.5rem);
      border-end-end-radius: var(--rounded-btn, 0.5rem);
    }
  }
}
