.menu-horizontal {
  & > li:not(.menu-title) > details > ul {
    @apply mt-4 ml-0 pr-2 py-2 bg-base-100 shadow-xl rounded-box;
  }
  & > li > details > ul {
    &:before {
      content: none;
    }
  }
}
.menu-vertical {
  & > li:not(.menu-title) > details > ul {
    @apply mt-0 ml-4 pr-0 py-0;
  }
}

.menu-xs {
  :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply px-2 py-1 text-xs rounded;
  }
  .menu-title {
    @apply px-2 py-1;
  }
}
.menu-sm {
  :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply px-3 py-1 text-sm rounded-btn;
  }
  .menu-title {
    @apply px-3 py-2;
  }
}
.menu-md {
  :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply px-4 py-2 text-sm rounded-btn;
  }
  .menu-title {
    @apply px-4 py-2;
  }
}
.menu-lg {
  :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply px-6 py-3 text-lg rounded-btn;
  }
  .menu-title {
    @apply px-6 py-3;
  }
}
