.card-side {
  align-items: stretch;
  flexDirection: row;
  & > figure {
    height: 100%;
    max-width: none;
    width: auto;
    > * {
      width: auto;
      max-width: none;
    }
  }
}
.badge{
  &-sm{
    @apply text-xs leading-4 px-2;
  }
  &-lg{
    @apply text-base leading-6 px-3;
  }
}
.btn{
  &-xs {
    @apply px-2 text-xs leading-relaxed h-6 min-h-6;
  }
  &-sm {
    @apply px-3 leading-8 h-8 text-sm min-h-8;
  }
  &-md {
    @apply px-4 leading-loose h-12 text-sm min-h-12;
  }
  &-lg {
    @apply px-6 leading-loose h-16 text-lg min-h-16;
  }
  &-wide {
    @apply w-64;
  }
  &-block {
    @apply w-full;
  }
  &-square{
    &.btn-xs {
      @apply h-6 w-6 p-0;
    }
    &.btn-sm {
      @apply h-8 w-8 p-0;
    }
    &.btn-md {
      @apply h-12 w-12 p-0;
    }
    &.btn-lg {
      @apply h-16 w-16 p-0;
    }
  }
  &-circle{
    &.btn-xs {
      @apply rounded-full h-6 w-6 p-0;
    }
    &.btn-sm {
      @apply rounded-full h-8 w-8 p-0;
    }
    &.btn-md {
      @apply rounded-full h-12 w-12 p-0;
    }
    &.btn-lg {
      @apply rounded-full h-16 w-16 p-0;
    }
  }
}
.input{
  &-md{
    @apply px-4 h-12 text-sm leading-loose;
  }
  &-lg{
    @apply px-6 h-16 text-lg leading-loose;
  }
  &-sm{
    @apply px-3 h-8 text-sm leading-8;
  }
  &-xs{
    @apply px-2 h-6 text-xs leading-relaxed;
  }
}
.select {
  &-md {
    @apply px-4 leading-loose h-12 text-sm min-h-12;
  }
  &-lg {
    @apply px-6 leading-loose h-16 text-lg min-h-16;
  }
  &-sm {
    @apply px-3 leading-8 h-8 text-sm min-h-8;
  }
  &-xs {
    @apply px-2 text-xs leading-relaxed h-6 min-h-6;
  }
}
.tab{
  &-md {
    @apply leading-loose h-8 text-sm;
    --tab-padding: 1rem;
  }
  &-lg {
    @apply leading-loose h-12 text-lg;
    --tab-padding: 1.25rem;
  }
  &-sm {
    @apply leading-3 h-6 text-sm;
    --tab-padding: .75rem;
  }
  &-xs {
    @apply leading-3 h-5 text-xs;
    --tab-padding: .5rem;
  }
}