color-scheme: dark;
--color-base-100: oklch(14% 0.005 285.823);
--color-base-200: oklch(11% 0.005 285.823);
--color-base-300: oklch(8% 0.005 285.823);
--color-base-content: oklch(92% 0.004 286.32);
--color-primary: oklch(65% 0.24 277.023);
--color-primary-content: oklch(93% 0.034 272.788);
--color-secondary: oklch(75% 0.241 354.308);
--color-secondary-content: oklch(94% 0.028 342.258);
--color-accent: oklch(67% 0.152 181.912);
--color-accent-content: oklch(38% 0.063 188.416);
--color-tertiary: oklch(55% 0.15 120);
--color-tertiary-content: oklch(85% 0.08 120);
--color-neutral: oklch(86% 0.005 285.823);
--color-neutral-content: oklch(14% 0.004 286.32);
--color-info: oklch(64% 0.16 232.661);
--color-info-content: oklch(89% 0.066 243.157);
--color-success: oklch(66% 0.177 163.223);
--color-success-content: oklch(87% 0.077 168.94);
--color-warning: oklch(72% 0.189 84.429);
--color-warning-content: oklch(91% 0.112 45.904);
--color-error: oklch(61% 0.194 13.428);
--color-error-content: oklch(93% 0.105 12.094);
--radius-selector: 0rem;
--radius-field: 0.25rem;
--radius-box: 2rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 0.5px;
--depth: 1;
--noise: 1;
