.btn {
  @apply font-normal border font-semibold uppercase;
  &:active:hover{
    @apply transform scale-95;
  }

  /* default btn */
  & {
    @apply bg-content-100 border-content-100 text-content-800;
    &:hover,
    &-active {
      @apply bg-content-200 border-content-200;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-content-600));
    }
  }
  /* brand colors */
  &-primary {
    @apply bg-primary border-primary text-content-primary;
    &:hover,
    &.btn-active {
      @apply bg-primary-darken border-primary-darken;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-primary));
    }
  }
  &-secondary {
    @apply bg-secondary border-secondary text-content-secondary;
    &:hover,
    &.btn-active {
      @apply bg-secondary-darken border-secondary-darken;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-secondary));
    }
  }
  &-accent {
    @apply bg-accent border-accent text-content-accent;
    &:hover,
    &.btn-active {
      @apply bg-accent-darken border-accent-darken;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-accent));
    }
  }
  /* btn variants */
  &-ghost {
    @apply border-transparent border text-current text-opacity-60 bg-transparent;
    &:hover,
    &.btn-active {
      @apply bg-default bg-opacity-5 border-opacity-0 text-opacity-80;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-content-200));
    }
  }
  &-link {
    @apply bg-transparent border-transparent text-primary;
    &:hover,
    &.btn-active {
      @apply underline bg-transparent border-transparent;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-primary));
    }
  }

  /* outline */
  &-outline {
    @apply bg-transparent text-content-600 border-current;
    &:hover {
      @apply bg-content-600 text-content-100 border-content-600;
    }
    &.btn-primary {
      @apply text-primary;
      &:hover {
        @apply bg-primary-darken text-content-primary border-primary-darken;
      }
    }
    &.btn-secondary {
      @apply text-secondary;
      &:hover {
        @apply bg-secondary-darken text-content-secondary border-secondary-darken;
      }
    }
    &.btn-accent {
      @apply text-accent;
      &:hover {
        @apply bg-accent-darken text-content-accent border-accent-darken;
      }
    }
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply bg-content-100 border-content-100 text-content-300;
  }



  /* loading */
  &.loading {
    &.btn-square:before,
    &.btn-circle:before {
      @apply mr-0;
    }
    &.btn-xl:before,
    &.btn-lg:before {
      @apply h-5 w-5;
    }
    &.btn-sm:before,
    &.btn-xs:before {
      @apply h-3 w-3;
    }
    &.btn-primary:before {
      border-bottom-color: hsl(var(--color-content-primary));
      border-right-color: hsl(var(--color-content-primary));
    }
    &.btn-secondary:before {
      border-bottom-color: hsl(var(--color-content-secondary));
      border-right-color: hsl(var(--color-content-secondary));
    }
    &.btn-accent:before {
      border-bottom-color: hsl(var(--color-content-accent));
      border-right-color: hsl(var(--color-content-accent));
    }
    &.btn-ghost:before {
      border-bottom-color: hsl(var(--color-content-400));
      border-right-color: hsl(var(--color-content-400));
    }
    &.btn-outline {
      &:before {
        border-bottom-color: hsl(var(--color-content-600));
        border-right-color: hsl(var(--color-content-600));
      }
      &.btn-primary:before {
        border-bottom-color: hsl(var(--color-primary));
        border-right-color: hsl(var(--color-primary));
      }
      &.btn-secondary:before {
        border-bottom-color: hsl(var(--color-secondary));
        border-right-color: hsl(var(--color-secondary));
      }
      &.btn-accent:before {
        border-bottom-color: hsl(var(--color-accent));
        border-right-color: hsl(var(--color-accent));
      }
    }
  }
}
/* group */
.btn-group {
  & > input[type="radio"]:checked.btn,
  & > .btn-active {
    @apply bg-primary border-primary text-content-primary;
  }
  & > .btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .btn:not(:last-child) {
    @apply rounded-r-none;
  }
}
