/*! purgecss start ignore */
:root {
  --d: 0, 0%, 100%; /* default */

  --p1: 259, 94%, 61%; /* primary-1 */
  --p2: 259, 94%, 51%; /* primary-2 */
  --p3: 259, 94%, 41%; /* primary-3 */

  --s1: 314, 100%, 57%; /* secondary-1 */
  --s2: 314, 100%, 47%; /* secondary-2 */
  --s3: 314, 100%, 37%; /* secondary-3 */

  --a1: 174, 60%, 61%; /* accent-1 */
  --a2: 174, 60%, 51%; /* accent-2 */
  --a3: 174, 60%, 41%; /* accent-3 */

  --cp: 0, 0%, 100%; /* content-primary */
  --cs: 0, 0%, 100%; /* content-secondary */
  --ca: 0, 0%, 100%; /* content-accent */

  --c1: 220, 14%, 96%; /* content-1 */
  --c2: 228, 14%, 93%; /* content-2 */
  --c3: 220, 15%, 84%; /* content-3 */
  --c4: 218, 14%, 65%; /* content-4 */
  --c5: 220, 14%, 46%; /* content-5 */
  --c6: 220, 14%, 37%; /* content-6 */
  --c7: 219, 14%, 28%; /* content-7 */
  --c8: 222, 13%, 19%; /* content-8 */
  --c9: 223, 14%, 10%; /* content-9 */

  --in: 207, 90%, 54%; /* info */
  --su: 174, 100%, 29%; /* success */
  --wa: 36, 100%, 50%; /* warning */
  --er: 14, 100%, 57%; /* error */

  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 9999px;
}

[data-theme='dark'] {
  --d: 223, 14%, 10%;

  --c9: 210, 20%, 98%;
  --c8: 220, 14%, 96%;
  --c7: 228, 14%, 93%;
  --c6: 220, 15%, 84%;
  --c5: 218, 14%, 65%;
  --c4: 220, 14%, 46%;
  --c3: 220, 14%, 37%;
  --c2: 219, 14%, 28%;
  --c1: 222, 13%, 19%;
}

[data-theme='black'] {
  --d: 0, 0%, 0%;

  --p2: 0, 0%, 100%;
  --p1: 0, 0%, 100%;
  --p3: 0, 0%, 100%;

  --s2: 0, 0%, 100%;
  --s1: 0, 0%, 100%;
  --s3: 0, 0%, 100%;

  --a2: 0, 0%, 100%;
  --a1: 0, 0%, 100%;
  --a3: 0, 0%, 100%;

  --cp: 0, 0%, 0%;
  --cs: 0, 0%, 0%;
  --ca: 0, 0%, 0%;

  --c9: 0, 0%, 100%;
  --c8: 0, 0%, 80%;
  --c7: 0, 0%, 70%;
  --c6: 0, 0%, 60%;
  --c5: 0, 0%, 50%;
  --c4: 0, 0%, 40%;
  --c3: 0, 0%, 30%;
  --c2: 0, 0%, 20%;
  --c1: 0, 0%, 10%;

  --in: 240, 100%, 50%;
  --su: 120, 100%, 25%;
  --wa: 60, 100%, 50%;
  --er: 0, 100%, 50%;

  --rounded-btn: 0;
  --rounded-box: 0;
  --rounded-badge: 0;

}

[data-theme='retro'] {
  --d: 45, 47%, 80%;

  --p2: 3, 74%, 66%;
  --p1: 3, 74%, 76%;
  --p3: 3, 74%, 56%;

  --s2: 145, 27%, 62%;
  --s1: 145, 27%, 72%;
  --s3: 145, 27%, 52%;

  --a2: 49, 67%, 66%;
  --a1: 49, 67%, 76%;
  --a3: 49, 67%, 56%;

  --cp: 345, 5%, 15%;
  --cs: 345, 5%, 15%;
  --ca: 345, 5%, 15%;

  --c9: 345, 5%, 15%;
  --c8: 41, 13%, 24%;
  --c7: 42, 17%, 42%;
  --c6: 41, 19%, 47%;
  --c5: 42, 20%, 52%;
  --c4: 42, 26%, 57%;
  --c3: 42, 36%, 65%;
  --c2: 45, 37%, 72%;
  --c1: 46, 42%, 76%;
}


[data-theme='dracula'] {
  --d: 233, 13%, 13%;

  --p2: 330, 100%, 75%;
  --p1: 330, 100%, 85%;
  --p3: 330, 100%, 65%;

  --s2: 115, 100%, 75%;
  --s1: 115, 100%, 85%;
  --s3: 115, 100%, 65%;

  --a2: 60, 100%, 75%;
  --a1: 60, 100%, 85%;
  --a3: 60, 100%, 65%;

  --cp: 233, 13%, 13%;
  --cs: 233, 13%, 13%;
  --ca: 233, 13%, 13%;

  --c9: 251, 100%, 90%;
  --c8: 251, 100%, 80%;
  --c7: 250, 100%, 75%;
  --c6: 245, 23%, 54%;
  --c5: 245, 23%, 49%;
  --c4: 245, 23%, 42%;
  --c3: 245, 20%, 27%;
  --c2: 245, 13%, 21%;
  --c1: 245, 14%, 15%;
}

[data-theme='christmas'] {

  --p2: 354, 62%, 54%;
  --p1: 354, 62%, 64%;
  --p3: 354, 62%, 44%;

  --s2: 163, 38%, 54%;
  --s1: 163, 38%, 64%;
  --s3: 163, 38%, 44%;

  --a2: 39, 91%, 58%;
  --a1: 39, 91%, 68%;
  --a3: 39, 91%, 48%;

  --cp: 0, 0%, 100%;
  --cs: 0, 0%, 100%;
  --ca: 0, 0%, 100%;


}
/*! purgecss end ignore */
