.form-control{
  @apply flex flex-col;
  label{
    @apply px-1 flex items-center justify-between py-2;
    .label-text{
      @apply text-sm text-content-500;
    }
    .label-text-alt{
      @apply text-xs text-content-400;
    }
    a{
      @apply hover:text-content-800;
    }
  }
  input[type=text]{
    @apply bg-default px-6 leading-loose text-lg h-12 rounded-btn border border-content-300 transition duration-200 ease-in-out;
    &:focus {
      @apply relative outline-none;
      box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-content-300));
    }
  }
  &.info{
    input[type=text]{
      @apply border-info;
      &:focus {
        @apply relative outline-none;
        box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-info));
      }
    }
  }
  &.success{
    input[type=text]{
      @apply border-success;
      &:focus {
        @apply relative outline-none;
        box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-success));
      }
    }
  }
  &.warning{
    input[type=text]{
      @apply border-warning;
      &:focus {
        @apply relative outline-none;
        box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-warning));
      }
    }
  }
  &.error{
    input[type=text]{
      @apply border-error;
      &:focus {
        @apply relative outline-none;
        box-shadow: 0 0 0 2px hsl(var(--color-default)), 0 0 0 4px hsl(var(--color-error));
      }
    }
  }
}
