/* device specific */
html {
  -webkit-tap-highlight-color: transparent;
}
/* scrollbar color */
* {
  scrollbar-color: color-mix(in oklch, currentColor 35%, transparent) transparent;
  &:hover {
    scrollbar-color: color-mix(in oklch, currentColor 60%, transparent) transparent;
  }
}
