:root {
  .prose{
    color: inherit;
    a,
    blockquote,
    figure figcaption,
    a code,
    thead,
    strong,
    .lead,
    h1,
    h2,
    h3,
    h4{
      color: inherit;
      &:hover{
        color: inherit;
      }
    }
    ol > li:hover:before{
      color: inherit;
    }
    blockquote{
      border-left-color: hsl(0deg 0% 40% / 40%);
    }
    ul > li:before{
      background-color: hsl(0deg 0% 40% / 40%);
    }
    thead{
      border-bottom-color: hsl(0deg 0% 40% / 40%);
    }
    tbody tr{
      border-bottom-color: hsl(0deg 0% 40% / 40%);
    }
  }
}