<p>
  Thank you @{{inputs.user}}
  for reporting issues. It helps daisyUI a lot 💚
  <br />
  I'll be working on issues one by one. I will help with this one as soon as a I
  find a solution.
  <br />
  In the meantime providing more details and reproduction links would be
  helpful.
</p>
